<style>
.textarea-label-top .v-label.theme--light{
  top:10px;
}
.tableInNotes .v-data-table-header tr th{
    text-align-last: start;
    font-weight: bold;
}
/* .tableInNotes .theme--light.v-data-table thead tr th{
  color:#EE7700;
} */
.tableInNotes .v-data-table__wrapper tbody tr td{
    padding-left: 0px;
    padding-right: 0px;
}
.tableInNotes .v-data-table__wrapper tbody tr td 
  .v-text-field.v-text-field--enclosed .v-text-field__details{
    margin:0;
  }
.tableInNotes .v-data-table__wrapper tbody tr td 
  .v-input--dense>.v-input__control>.v-input__slot{
    margin:0;
  }




.tableInModal .v-data-table-header tr th{
    text-align-last: start;
    font-weight: bold;
}
.tableInModal .theme--light.v-data-table thead tr th{
  color:#000000b3;
}
.tableInModal .v-data-table__wrapper tbody tr td{
    padding-left: 0px;
    padding-right: 0px;
}
.tableInModal tbody tr:nth-of-type(odd) {
  background-color: #EAEAEA;
}
.tableInModal tr:hover:nth-child(odd):not(#firstrow) {
    background: #EAEAEA;
    pointer-events: visible;
}
.tableInModal tr:hover:nth-child(even):not(#firstrow) {
    background:white;
    pointer-events: visible;
}
</style>
<template>
  <div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
    <header-toggle title="inspection Result"  :toggles="tgls" :callback="reloadData"
    disabled=true withHeader=true readonly=true method="POST" :bus="toggleBus" :autoGet="true" titleCols="4"
    api-url="https://api.pancaran-group.co.id/inspection/admin/v1.0.0/inspect-tasks/summary-total"/>
    <v-snackbar
      min-width="2vw"
      width="5vw"
      rounded
      :value="true"
      top
      v-model="snackbar"
      color="#84898c"
      :timeout="3000"
    >
      <v-card
        class="mx-auto bg-transparent elevation-0"
        max-width="400"
        width="300"
        dark
      >
        <v-card-text class="text-white">
          <h5>
            <strong>Mobospace Notification:</strong>
          </h5>
          <div class="text--grey">
            {{messageCallback}}
          </div>
        </v-card-text>
      </v-card>
    </v-snackbar>
    <div class="loading"></div>
    <modal :bus="busModal" :key="modalKey" :title="titleModal" modalWidth="400" htmlText=true></modal>
    <v-row
      wrap
      class="mt-1 rounded-start-big rounded-end-big bgmain-dark"
      style="height:73vh;font-family: 'Ubuntu', sans-serif;"
    >
      <v-dialog persistent fullscreen v-model="dialogShowImage">
        <v-card dark color="#00000">
          <v-card-title class="pa-0">
            <v-toolbar
              color="transparent"
              dense
              flat
            >
              <div class="small text-left font-weight-bold" style="font-family: 'Ubuntu';color:#707070">
              </div>
              <v-spacer></v-spacer>
              <v-btn icon color="#e04f5f" 
              elevation="0"
              @click="dialogShowImage = false, mobodfsFiles = []">
                <v-icon>mdi-close-circle</v-icon>
              </v-btn>
            </v-toolbar>
          </v-card-title>
          <v-container class="pa-0">
            <v-row align="center">
              <v-col cols="1">
                <v-icon text
                @click="prev">mdi-chevron-left</v-icon>
              </v-col>
              <v-col>
                <v-window
                  reverse
                  v-model="onboarding"
                >
                  <v-window-item
                    v-for="dfs in mobodfsFiles" :key="dfs.id"
                  >

                    <v-card
                      height="80vh"
                      elevation="0"
                    >
                      <v-row
                        class="fill-height"
                        align="center"
                        justify="center"
                      >
                        <!-- :src="imgUrl(dfs) -->
                        <img contain style="max-height:100%"
<<<<<<< HEAD
                        :src="'https://mobodfs.pancaran-group.co.id/docs/'+dfs.doctype+'/'+dfs.id+'/view'">
=======
                        :src="urlMoboDfs+'/docs/'+dfs.doctype+'/'+dfs.id+'/view'">
>>>>>>> 3967003470c43443586c856523a094b6820d4fc4
                      </v-row>
                    </v-card>
                  </v-window-item>
                </v-window>
              </v-col>
              <v-col cols="1">
                <v-icon
                  text
                  @click="next"
                >mdi-chevron-right</v-icon>
              </v-col>
            </v-row>
            <v-card-actions class="justify-space-between">
              
              <!-- <v-btn
                text
                @click="prev"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn> -->
              <v-row justify="center">
                <v-item-group
                  v-model="onboarding"
                  class="text-center"
                  mandatory
                >
                  <v-item
                    v-for="dfs in mobodfsFiles" :key="dfs.id"
                    v-slot="{active}"
                  >
                    <v-icon :input-value="active" 
                    x-small
                    :color="active ? 'primary' : 'normal'" >mdi-record</v-icon>
                  </v-item>
                </v-item-group>
              </v-row>
              <!-- <v-btn
                text
                @click="next"
              >
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn> -->
            </v-card-actions>
          </v-container>
        </v-card>
      </v-dialog>
      <v-dialog persistent v-model="dialogMessage" max-width="700">
        <v-card id="rounded-card">
          <v-card-title class="pa-0">
            <v-toolbar
              dense
              flat
              id="rounded-card"
            >
              <div class="small text-left font-weight-bold" style="font-family: 'Ubuntu';color:#707070">Send Notification Message
              </div>
                <!-- <span class="subtitle-2">{{contextTitle}} {{titleModal}}
                </span> -->
              <v-spacer></v-spacer>
              <v-btn icon color="#e04f5f" 
              elevation="0"
              @click="dialogMessage = false">
                <v-icon>mdi-close-circle</v-icon>
              </v-btn>
            </v-toolbar>
          </v-card-title>
          <v-container class="pa-0">  
            <v-row class="ma-0" style="align-items:baseline;width:100%"> 
              <v-col cols="2" class="py-0">
                <v-subheader>Contacts</v-subheader>
              </v-col>
              <v-col cols class="display py-0">
                <imp-combobox 
                  :selected="vContact"
                  :disabled="true"
                  :listParent=true
                  multiple
                  solo
                  :notchips=true
                  :lazy-mode=true
                  api-url="https://api.pancaran-group.co.id/mobonotif/api/contacts"
                  :api-response-direct-items="true"
                  :url-param="true"
                  v-on:update="vContact = $event"
                ></imp-combobox>
              </v-col>
            </v-row>
            <v-row class="ma-0" style="align-items:baseline;width:100%"> 
              <v-col cols="2" class="py-0">
                <v-subheader>Channels</v-subheader>
              </v-col>
              <v-col cols class="display py-0">
                <imp-combobox
                  :key="keyComboboxChannel"
                  :selected="vChannel"
                  multiple
                  solo
                  :notchips=true
                  api-url="https://api.pancaran-group.co.id/mobonotif/api/channels"
                  :allIn=true
                  :api-response-direct-items="true"
                  v-on:update="vChannel = $event"
                  ></imp-combobox>
              </v-col>
            </v-row>
            <v-row class="ma-0" style="width:100%">
              <v-col cols="12" class="py-0">
                <v-textarea
                  v-model="vMessageTitle"
                  class="ml-4"
                  label="Title / Subject"
                  height="auto"
                  maxlength="60"
                  counter="60"
                  dense
                  solo
                  rows="1"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row class="ma-0" style="width:100%">
              <v-col cols="12" class="py-0">
                <v-textarea
                  v-model="vMessageBody"
                  class="ml-4 textarea-label-top"
                  label="Body / Notification"
                  hint="message title"
                  height="20vh"
                  maxlength="500"
                  counter="500"
                  dense
                  solo
                  rows="1"
                  ></v-textarea>
              </v-col>
            </v-row>
            <v-row style="width:100%">
              <v-col cols="12" class="text-right">
                <v-btn 
                  class="text-uppercase font-weight-bold" 
                    rounded color="#3490dc" dark
                    width="7vw"
                    height="4vh"
                    small
                    elevation="1"
                    @click="submitData()"
                  >Send</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-dialog>
      <v-dialog persistent v-model="dialogViewDetail" max-width="950">
        <v-card id="rounded-card">
          <v-card-title class="pa-0">
            <v-toolbar
              dense
              flat
              id="rounded-card"
            >
              <div class="small text-left font-weight-bold" style="font-family: 'Ubuntu';color:#707070">View Detail Inspection Result
              </div>
                <!-- <span class="subtitle-2">{{contextTitle}} {{titleModal}}
                </span> -->
              <v-spacer></v-spacer>
              <v-btn icon color="#e04f5f" 
              elevation="0"
              @click="dialogViewDetail = false">
                <v-icon>mdi-close-circle</v-icon>
              </v-btn>
            </v-toolbar>
          </v-card-title>
          <v-container class="pb-0">
              <v-col cols="12" class="py-0">
                <v-row class="text-left font-weight-bold small">
                    <v-col cols="4" class="py-0">
                        <v-col cols="12" class="pa-0 font-weight-bold">
                            {{dataDetail.documentNo}} - {{dataDetail.inspectionType}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                            {{dataDetail.customer || "REGULER"}}
                        </v-col>
                        <div v-if="dataDetail.location">
                          <v-col cols="12" class="pa-0">
                            {{dataDetail.location.name}}
                          </v-col>
                          <v-col cols="12" class="pa-0">
                            {{dataDetail.location.address || " - "}}
                          </v-col>
                          <v-col cols="12" class="pa-0">
                              AT {{dataDetail.lastUpdate ? compareDateTime(dataDetail.lastUpdate) : " - "}}
                          </v-col>
                        </div>
                        <div v-else>
                        </div>
                    </v-col>
                    <v-col cols="3" class="font-weight-bold pa-0 px-2">
                        <v-col cols="12" class="pa-0">
                          {{dataDetail.vehicleNo}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          {{dataDetail.vehicleModel}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Chassis No: &nbsp; {{dataDetail.chassisNo || '-'}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Odometer: &nbsp; {{dataDetail.odometer ? compareCount(dataDetail.odometer) : "-"}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Last Maintenance: &nbsp; {{dataDetail.lastMaintenanceDate || "-"}}
                        </v-col>
                      <!-- row 2 -->
                    </v-col>
                    <v-col cols="5" class="font-weight-bold pa-0 px-2">
                      <v-col cols="12" class="pa-0">
                        Inspector: &nbsp; {{dataDetail.driverId}} - {{dataDetail.driverName}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Total Duration: &nbsp; {{dataDetail.totalDuration}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Idle Duration: &nbsp; {{dataDetail.idleDuration}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Review By: &nbsp; {{dataDetail.approvedBy || "-"}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Review Date: &nbsp; {{dataDetail.approvedTime? compareDateTime(dataDetail.approvedTime) :  "-"}}
                      </v-col>
                      <v-col v-if="true" cols="12" class="pa-0">
                        Shipment No: &nbsp; {{dataDetail.shipmentNo || "-"}}
                      </v-col>
                      <v-col v-if="true" cols="12" class="pa-0">
                        Customer Reff: &nbsp; {{dataDetail.customerRefNo || "-"}}
                      </v-col>
                      <v-col v-if="true" cols="12" class="pa-0">
                        Consignee: &nbsp; {{dataDetail.consignee || "-"}}
                      </v-col>
                      <v-col cols="12" class="pa-0 pt-2" :hidden="postData.path === '/inspect-tasks/inprogress'">
                          <v-row>
                              <v-col cols="3" class="pa-0">
                              </v-col>
                              <v-col v-if="postData.path === '/inspect-tasks/waiting-approval'" cols="5" class=" pa-0 text-center">
                                <v-chip
                                class="font-weight-bold text-white"
                                color="grey"
                                small
                                label
                                > Waiting for Decision 
                                </v-chip>
                              </v-col>
                              <v-col v-else-if="postData.path === '/inspect-tasks/approved'" cols="5" class=" pa-0 text-center">
                                <v-chip
                                style="width:80%;justify-content: center;"
                                class="font-weight-bold text-white"
                                color="grey"
                                small
                                label
                                > Approved 
                                </v-chip>
                              </v-col>
                              <v-col v-else cols="5" class=" pa-0 text-center">
                                <v-chip
                                style="width:80%;justify-content: center;"
                                class="font-weight-bold text-white"
                                color="grey"
                                small
                                label
                                > Rejected
                                </v-chip>
                              </v-col>
                              <v-col cols="2" class="pa-0">
                                <v-chip
                                class="text-white px-2"
                                :color="dataDetail.rateStatus === 'DANGER' ? '#FA6359' : '#4CAF50'"
                                small
                                label
                                >{{dataDetail.totalSubmitRate+" / "+dataDetail.totalMaxRate}}</v-chip>
                              </v-col>
                          </v-row>
                      </v-col>
                    </v-col>
                </v-row>
              </v-col>
          </v-container>
          <v-container class="py-0">
              <v-row style="height:50vh;">
                <v-col cols="12" class="py-0">
                    <v-data-table
                        dense
                        :key="dataDetail.id"
                        class="tableInModal"
                        :headers="headers"
                        :items="dataDetail.items"
                        style="line-height:12px;color:black;background-color: rgba(11, 17, 21, 0);
                             font-family: 'Ubuntu', sans-serif; padding:unset;"
                        height="50vh"
                        fixed-header
                        disable-pagination
                        single-select
                        hide-default-footer
                    >
                        <template v-slot:item.itemName="{ item }">
                            <div class="text-left px-0 py-1" style="font-size:12px">
                                {{item.itemName}}
                            </div>
                        </template>
                        <template v-slot:item.duration="{ item }">
                            <div class="text-left px-0 py-1" style="font-size:12px;width:5vw">
                                {{item.duration}}
                            </div>
                        </template>
                        <template v-slot:item.groupName="{ item }">
                            <div class="text-left px-0 pr-2 py-1" style="font-size:12px">
                                {{item.groupName}}
                            </div>
                        </template>
                        <template v-slot:item.rate="{ item }">
                          <v-row style="line-height:3vh">
                            <v-col cols="12" class="text-left py-1" style="font-size:12px">
                                {{item.rate}}
                            </v-col>
                            <v-col v-if="item.resultInfo" cols="10" 
                                class="text-left pr-2 py-1" style="font-size:12px; font-style:italic; line-height: normal;width:8vw">
                                {{item.resultInfo}}
                            </v-col>
                          </v-row>
                        </template>
                        <template v-slot:item.info="{ item }">
                            <div class="text-left px-0 py-1" style="font-size:12px;width:5vw">
                                {{item.info}}
                            </div>
                        </template>
                        <template v-slot:item.expiredDate="{ item }">
                            <div class="text-left px-0" style="font-size:12px;width:7vw">
                                {{item.expiredDate}}
                            </div>
                        </template>
                        <template v-slot:item.evidence="{ item }">
                            <div class="text-center px-0" style="font-size:12px;">
                                <!-- :hidden="item.mobodfsFiles.length === 0" -->
                                <v-icon :hidden="item.mobodfsFiles.length === 0"
                                @click="showImage(item.mobodfsFiles)"> mdi-image
                                </v-icon>
                            </div>
                        </template>
                        <template v-slot:item.rateStatus="{ item }">
                            <div class="text-center px-2" style="font-size:12px" v-if="item.rateStatus">
                                <v-icon :color="statusRate[item.rateStatus].color">{{statusRate[item.rateStatus].icon}}
                                </v-icon>
                            </div>
                        </template>
                        <template v-slot:item.note="{ item }">
                          
                            <div class="text-left px-0 py-1" style="width: 200px;font-size:12px">{{item.note}}</div>
                            <!-- <div class="text-left px-0 py-1" style="font-size:12px">
                                {{item.note}}
                            </div> -->
                        </template>
                    </v-data-table>
                </v-col>
              </v-row>
          </v-container>
          <v-container class="py-1">
            <v-row class="pl-4">
              <v-col class="py-0">
                Created By
              </v-col>
              <v-col class="py-0">
                Created
              </v-col>
              <v-col class="py-0">
                Updated By
              </v-col>
              <v-col class="py-0">
                Updated
              </v-col>
            </v-row>
            <v-divider sm="3" insert class="mt-0 mb-2"></v-divider>
            <v-row class="pl-4">
              <v-col class="py-0">
                <div v-if="dataDetail.createdBy">
                  {{dataDetail.createdBy}}
                </div>
              </v-col>
              <v-col class="py-0">
                <div v-if="dataDetail.createdBy">
                  {{compareDateTime(dataDetail.created)}}
                </div>
              </v-col>
              <v-col class="py-0">
                <div v-if="dataDetail.updatedBy">
                  {{dataDetail.updatedBy}}
                </div>
              </v-col>
              <v-col class="py-0">
                <div v-if="dataDetail.updated">
                  {{compareDateTime(dataDetail.updated)}}
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-dialog>
      <v-dialog persistent v-model="dialogViewNotes" max-width="950">
        <v-card id="rounded-card" class="" height="90vh"> 
          <v-card-title class="pa-0">
            <v-toolbar
              dense
              flat
              id="rounded-card"
            >
              <div class="small text-left font-weight-bold" style="font-family: 'Ubuntu';color:#707070">Add Notes
              </div>
                <!-- <span class="subtitle-2">{{contextTitle}} {{titleModal}}
                </span> -->
              <v-spacer></v-spacer>
              <v-btn icon color="#e04f5f" 
              elevation="0"
              @click="dialogViewNotes = false">
                <v-icon>mdi-close-circle</v-icon>
              </v-btn>
            </v-toolbar>
          </v-card-title>
          <v-container>
            <v-form
              ref="form"
              lazy-validation
            >
              <v-data-table
                  dense
                  class="tableInNotes"
                  :headers="headersNotes"
                  :items="dataDetail.items"
                  style="color:black;background-color: rgba(11, 17, 21, 0);
                        font-family: 'Ubuntu', sans-serif; padding:unset"
                  height="70vh"
                  fixed-header
                  disable-pagination
                  single-select
                  hide-default-footer
              >
                  <template v-slot:item.itemName="{ item }">
                      <div class="text-left pa-0 px-0 py-1" style="font-size:12px">
                          {{item.itemName}}
                      </div>
                  </template>
                  <template v-slot:item.groupName="{ item }">
                      <div class="text-left pa-0 pr-2 py-1" style="font-size:12px">
                          {{item.groupName}}
                      </div>
                  </template>
                  <template v-slot:item.rate="{ item }">
                    <v-col cols="12" class="text-left pa-0 py-1" style="font-size:12px">
                        {{item.rate}}
                    </v-col>
                  </template>
                  <template v-slot:item.info="{ item }">
                      <div class="text-left pa-0 py-1" style="font-size:12px">
                          {{item.info}}
                      </div>
                  </template>
                  <template v-slot:item.expiredDate="{ item }">
                      <div class="text-left pa-0" style="font-size:12px">
                          {{item.expiredDate}}
                      </div>
                  </template>
                  <template v-slot:item.evidence="{ item }">
                      <div class="text-center pa-0 px-0" style="font-size:12px">
                          <v-icon :hidden="item.mobodfsFiles.length === 0"
                          @click="showImage(item.mobodfsFiles)"> mdi-image
                          </v-icon>
                      </div>
                  </template>
                  <template v-slot:item.rateStatus="{ item }">
                      <div class="text-center pa-0 px-2" style="font-size:12px">
                          <v-icon :color="statusRate[item.rateStatus].color">{{statusRate[item.rateStatus].icon}}
                          </v-icon>
                      </div>
                  </template>
                  <template v-slot:item.note="{ item }">
                    <v-text-field 
                      class="mt-2 mr-2"
                      dense
                      :rules="[rules.required]"
                      v-model="item.note"
                      auto-grow
                      single-line
                      solo
                      maxlength="200"
                      elevation="0"
                    ></v-text-field>
                  </template>
              </v-data-table>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="text-uppercase font-weight-bold" 
                  rounded color="#3490dc" dark
                  width="7vw"
                  height="4vh"
                  small
                  elevation="1"
                  @click="submitNotes()"
                >Submit</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card>
      </v-dialog>
      <v-container>
        <v-row>
          <v-col class="text-left" :hidden="userExternal">
            <shipment-filter title="filter" 
            :on-save="executeFilter"
            :key="filterKey"
            actives='CUSTOMER' 
            site="Site"
            customer="Customer"
            filter="filter"
            cancel="cancel"
            savefilter="savefilter">
            </shipment-filter>
          </v-col>
          <v-col class="text-left" :hidden="!userExternal">
          </v-col>
          <v-col class="text-right">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn class="pa-1" height="26px" width="26px" fab x-small dark v-on="on" color="#37A7DF" @click="refreshPage()">
                  <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
                </v-btn>
              </template>
              <span>Refresh </span>
            </v-tooltip>
          </v-col>
          <v-col class="col-3 text-right pr-0 pl-1">
            <search-field :callback="searchActivity" dark />
          </v-col>
        </v-row>
        <v-row style="height:60vh;">
          <!-- <v-container> -->
          <div
            id="scrollOrder"
            v-if="!statusEmpty"
            style="height:60vh; width:100%; overflow:auto; padding:10px; border-style: none!important;font-family: 'Ubuntu', sans-serif;"
            class="text-left v-data-table__wrapper"
          >
            <v-card
             style="width:100%; background: rgba(0,0,0,0.3);border-radius:15px;border: 1px solid rgba(255, 255, 255, 0.16) !important;margin-bottom:20px; "
              class="mx-auto"
              width="100%"
              v-for="item in items" :key="item.id"
            >
              <v-container class="py-1">
                <v-card-actions class="pa-0 pt-1" style="color:#EE7700;">
                  <div
                    class="font-weight-bold"
                  >
                    {{item.driverId}} - {{item.driverName}}
                  </div>

                  <v-spacer></v-spacer>
                  <!-- <v-col v-if="postData.path === '/inspect-tasks/waiting-approval'" class="pa-0 px-2" style="align-self: center"> -->
                  <v-menu 
                    rounded="lg"
                    offset-y
                  >
                    <template v-slot:activator="{ attrs, on }">
                        <v-btn
                          :class="item.canApprove ? 'mr-9': 'mx-1'"
                          :hidden="postData.path !== '/inspect-tasks/waiting-approval'||userExternal"
                          rounded
                          x-small
                          v-bind="attrs"
                          v-on="on"
                          width="13%"
                        >
                        <v-col cols="10" class="pa-0 text-left">
                            choose
                        </v-col>
                        <v-col class="pa-0">
                            <v-icon  x-small class="pa-0">mdi-menu-down</v-icon>
                        </v-col>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                        v-for="button in buttons" :key="button.key"
                        link
                        @click="SelectChouse(button,item)"
                        >
                        <v-list-item-title>{{button.name}}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                  </v-menu>
                  <!-- postData.path !== '/inspect-tasks/waiting-approval' -->
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn v-on="on" 
                        :hidden="item.canApprove || postData.path !== '/inspect-tasks/waiting-approval' || userExternal || postData.path === '/inspect-tasks/inprogress'"
                        class="mx-1"
                        small
                        icon
                        @click="showDetail(item.id, 'notes')"
                      >
                        <v-icon color="white">mdi-calendar-text</v-icon>
                      </v-btn>
                    </template>
                    <span>Add Note</span>
                  </v-tooltip>
                  <moboreport-download 
                    type="template"
                    :url="'https://api.pancaran-group.co.id/moboreport/user/report-service/template/list?menuId='+windowUrl"
                    templateId="93E5B80C18794943BAF389A7AC487AC3"
                    :hidden="postData.path === '/inspect-tasks/inprogress'"
                    :inject-value="{taskId:{id:item.id,name:item.documentNo}}"/>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn v-on="on" 
                        :hidden="userExternal || postData.path !== '/inspect-tasks/waiting-approval'  "
                        class="mx-1"
                        small
                        icon
                        @click="messageDriver(item.driverName), dialogMessage = true"
                      >
                        <v-icon color="white">mdi-email</v-icon>
                      </v-btn>
                    </template>
                    <span>Send Message</span>
                  </v-tooltip>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn v-on="on" 
                        class="mx-1"
                        small
                        icon
                        @click="showDetail(item.id, 'detail')"
                      >
                        <v-icon color="white">mdi-eye</v-icon>
                      </v-btn>
                    </template>
                    <span>View Details</span>
                  </v-tooltip>
                </v-card-actions>
                <v-card-subtitle class="py-0 px-2">
                  <v-row class="text-white text-left">
                    <v-col cols="2" class="pt-0">
                      <v-row>
                        <v-col cols="10" class="py-0 px-2 font-weight-bold small">
                            {{item.customer || "REGULER"}}
                        </v-col>
                        <v-col v-if="postData.path !== '/inspect-tasks/inprogress'" class="pa-0 pt-4">
                          <v-row>
                              <v-col cols="2" class="py-0">
                                  <v-icon :color="statusRate[item.rateStatus].color">{{statusRate[item.rateStatus].icon}}</v-icon>
                              </v-col>
                              <v-col cols="10" class="py-0 px-2">
                                <v-col cols="12" class="pa-0 font-weight-bold" style="line-height:15px;" :style="'color:'+statusRate[item.rateStatus].color+';'">
                                  {{statusRate[item.rateStatus].label}}<br>
                                  <div class="font-weight-bold text-white small">Score: &nbsp; {{item.totalSubmitRate+" / "+item.totalMaxRate}}</div>
                                </v-col>
                              </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="3" class="font-weight-bold small px-2 py-2">
                      <v-row>
                        <v-col cols="12" class="pa-0" style="color:#EE7700;">
                          Vehicle:
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          {{item.vehicleNo}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          {{item.vehicleModel}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Chassis No: &nbsp;{{item.chassisNo || '-'}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Odometer: &nbsp;{{item.odometer ? compareCount(item.odometer) : " - "}}
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          Last Maintenance: &nbsp;{{item.lastMaintenanceDate || " - "}}
                        </v-col>
                      </v-row>
                      <!-- row 2 -->
                    </v-col>
                    <v-col cols="4" class="font-weight-bold small px-2 py-2">
                      <v-col cols="12" class="pa-0" style="color:#EE7700;">
                        Location:
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        {{item.location.name}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        {{item.location.address}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        AT {{item.lastUpdate ? compareDateTime(item.lastUpdate) : "   - "}}
                      </v-col>
                    </v-col>
                    <v-col cols="3" class="font-weight-bold small px-2 py-2">
                      <v-col cols="12" class="pa-0" style="color:#EE7700;">
                        Inspection Info:
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Inspection Type: &nbsp; {{item.inspectionType}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Document No: &nbsp; {{item.documentNo}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Total Duration: &nbsp; {{item.totalDuration || "-"}}
                      </v-col>
                      <v-col cols="12" class="pa-0">
                        Idle Duration: &nbsp; {{item.idleDuration || "-"}}
                      </v-col>
                      <v-col v-if="true" cols="12" class="pa-0">
                        Shipment No: &nbsp; {{item.shipmentNo || "-"}}
                      </v-col>  
                    </v-col>
                  </v-row>
                </v-card-subtitle>
              </v-container>
            </v-card>
          </div>
          <div
            id="scrollOrder"
            v-else
            style="color:white;height:60vh; width:100%; overflow:auto; padding:10px; border-style: none!important;font-family: 'Ubuntu', sans-serif;"
            class="text-center v-data-table__wrapper">
            <h1 style="padding-top: 15%;">DATA ITEMS IS EMPTY</h1>
          </div>
          <!-- </v-container> -->
        </v-row>
      </v-container>
    </v-row>
  </div>
</template>
<script>
import CnApi from "../../cn-api"
import Cookie from "js-cookie";
export default {
  data(){
    return{
      dialogShowImage: false,
      dialogViewNotes:false,
      windowUrl:"",
      tgls:[
        {
          id:"/inspect-tasks/waiting-approval",
          title:"Waiting for Decision",
          color:"primary",
          value:true,
          sumProperty:"totalWaiting",
          width:'50%'
        },
        {
          id:"/inspect-tasks/approved",
          title:"Approved",
          color:"primary",
          value:false,
          sumProperty:"totalApproved",
          width:'25%'
        },
        {
          id:"/inspect-tasks/rejected",
          title:"Rejected",
          color:"primary",
          value:false,
          sumProperty:"totalRejected",
          width:'20%'
        },
        {
          id:"/inspect-tasks/inprogress",
          title:"In Progress",
          color:"primary",
          value:false,
          sumProperty:"totalInProgress",
          width:'25%'
        }
      ],
      headers: [
        {
          text: '',
          width:'1vw',
          sortable: false,
          value: 'rateStatus',
        },
        { text: 'Inspection Item', value: 'itemName', width:'8vw', sortable: false},
        { text: 'Inspection Item Group', value: 'groupName', sortable: false, width:"11vw"},
        { text: 'Result', value: 'rate', width:'8vw', sortable: false },
        { text: 'Duration', value: 'duration',width:"10%", sortable: false},
        { text: 'Expired Date', value: 'expiredDate',width:'3vw', sortable: false },
        { text: 'Driver Note', value: 'info',width:'10vw', sortable: false},
        { text: 'Evidence', value: 'evidence' ,width:'5vw', sortable: false},
        { text: 'Note', value: 'note' ,width:'10vw', sortable: false}
      ],
      headersNotes: [
        {
          text: '',
          width:'2%',
          sortable: false,
          value: 'rateStatus',
        },
        { text: 'Inspection Item', value: 'itemName', width:'12vw',sortable: false},
        { text: 'Inspection Group', value: 'groupName',width:'12vw', sortable: false},
        { text: 'Result', value: 'rate',sortable: false},
        { text: 'Expired Date', value: 'expiredDate',sortable: false},
        { text: 'Driver Note', value: 'info',sortable: false},
        { text: 'Evidence', value: 'evidence',width:'5vw' ,sortable: false},
        { text: 'Note', value: 'note' ,width:'15vw',sortable: false}
      ],
      mobodfsFiles:[],
      vSiteIds:[],
      busModal: new Vue(),
      toggleBus: new Vue(),
      titleModal:"",
      modalKey:1,
      userExternal:false,
      onboarding: 0,
      rules:{
        required: value => !!value || "Required.",
      },
      statusRate : {
        OK:{
          color : "#4CAF50",
          icon : "mdi-check-circle",
          label : "Proper"
        },
        DANGER : {
          color : "#FA6359",
          icon : "mdi-close-circle",
          label : "Not Proper"
        },
        WARNING : {
          color : "#FFC107",
          icon : "mdi-alert-circle",
          label : "Proper With Notes"
        }
      },
      show:false,
      vChouse:"",
      snackbar:false,
      search:"",
      dialogMessage:false,
      items:[],
      postData:{
        path:"/inspect-tasks/waiting-approval",
        pageNo:0,
        pageSize:10
      },
      buttons:[
          {name:"Approve",key:"AP"},
          {name:"Reject",key:"RJ"}
      ],
      filterKey:0,
      filter:{},
      vContactGroup:[],
      vContact:[],
      vChannel:[],
      vSignature:[],
      vMessageTitle:"",
      vMessageBody:"",
      dialogViewDetail:false,
      messageCallback:"",
      dataDetail:{},
      keyComboboxChannel:0,
      filterHidden:false,
      statusEmpty:false,
      keyToggel:0
    }
  },
  watch:{
  },
  methods:{
    next () {
      this.onboarding = this.onboarding + 1 === this.mobodfsFiles.length
        ? 0
        : this.onboarding + 1
    },
    prev () {
      this.onboarding = this.onboarding - 1 < 0
        ? this.mobodfsFiles.length - 1
        : this.onboarding - 1
    },
    compareCount(count){
      var	reverse = count.toString().split('').reverse().join('');
      var ribuan 	= reverse.match(/\d{1,3}/g);
      ribuan	= ribuan.join('.').split('').reverse().join('');
      return ribuan;
    },
    compareDateTime(dataTime){
      var date = dataTime.split("T");
      var aarDate = date[0];
      var arrTime = date[1];
      var getDate = aarDate.split("-")
      var getTime = arrTime.split(".")
      var getTimeReal = getTime[0].split(":")
      return getDate[2]+"/"+getDate[1]+"/"+getDate[0]+" "+getTimeReal[0]+":"+getTimeReal[1]+":"+getTimeReal[2];
    },
    SelectChouse(button,data){
        var me = this
        if(!data.canApprove && button.key ==='AP'){
          alert("You can not approve. Please fill notes first")
          return;
        }
        var msg;
        if(button.key ==='AP'){
          this.titleModal = "Approve Confirmation"
          msg = "<b>Do you really want to Approve this inspection?<br/> This process cannot be undone</b>"
        } else {
          this.titleModal = "Reject Confirmation"
          msg = "<b>Do you really want to Reject this inspection?<br/> This process cannot be undone</b>"
        }
        this.busModal.$emit('globalModalConfirm', msg);
        this.busModal.$on("modalAction", function (bReturn){
          if (bReturn) {
            console.log("lanjut")
            // me.snackbar = true
            // me.messageCallback = "Submit Success"
              CnApi.call({
                method: "POST",
                url:"https://api.pancaran-group.co.id/inspection/admin/inspect-task/"+data.id,
                postData: {approvalStatus:button.key},
                headers:{
                    'Authorization': 'Bearer '+Cookie.get("token"),
                    'Content-Type' : 'application/json',
                    'Accept'     : 'application/json',
                    'X-Client-ID': Cookie.get("clientId"),
                    'X-User' : Cookie.get("username")
                },
                ignoreLoading:true,
                onResult: function(item) {
                    if(item.resultCode === 1){
                      me.snackbar = true
                      me.messageCallback = item.message
                    } else {
                      me.snackbar = true
                      me.messageCallback = item.message
                    }
                    console.log("data : ",item)
                    me.refreshPage()
                }
            });
          } 
          me.busModal = new Vue();
          me.modalKey+=1;
        })
    },
    showImage(data){
      console.log("data : ",data)
      this.mobodfsFiles = data,
      this.dialogShowImage = true;
      this.urlMoboDfs=Cookie.get('url_mobodfs');
    },
    reloadData(param1,param2){
        console.log("param 1 : ",param1, "param 2 : ",param2)
        this.tgls.forEach(toggel =>{
            if(toggel.id === param2){
                console.log("loop toggel aktif",toggel)
                toggel.value = true
            } else {
                console.log("loop toggel inaktif",toggel)
                toggel.value = false
            }
        })
        console.log("toggel : ",this.tgls)
        this.items=[]
        this.postData.path = param2
        this.postData.pageNo = 0
        this.getData()
    },
    executeFilter(param, isReset){
      console.log("param filter",param);
      if(isReset){
        console.log("reset execute")
        this.filterKey+=1
      }
      this.filter.customerId = param.customerId
      // this.filterSite = param.driverSiteIds
      this.refreshPage()
    },
    messageDriver(driverName){
      this.vContact = []
      this.vMessageTitle = ""
      this.vMessageBody = ""
      this.keyComboboxChannel += 1
      const idContactDriver = []
      var me = this;
        CnApi.call({
          method: "GET",
          url: "https://api.pancaran-group.co.id/mobonotif/api/contacts?search="+driverName+"&page=0&size=10&sort=name",
          postData: {},
           headers:{
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User-ID' : Cookie.get("username")
          },
          onResult: function(item) {
              console.log("get contact item : ", item)
            
            var items = item.data.items
            // items.forEach(item =>{
            me.vContact.push(items[0])
            // })
          }
        });
      console.log("contact : ", this.vContact)
      this.dialogMessage = true
    },
    searchActivity(search){
      this.search=search
      console.log("search : ",search)
      this.refreshPage()
      // this.getData()
    },
    submitNotes(){
      console.log("notes",this.dataDetail)
      // this.$refs.form.validate();
      if(this.$refs.form.validate()){
        $(".loading").show();
        var me = this
        CnApi.call({
          method: "POST",
          url:"https://api.pancaran-group.co.id/inspection/admin/inspect-task/"+me.dataDetail.id+"/notes",
          postData: me.dataDetail,
          headers:{
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User' : Cookie.get("username")
          },
          ignoreLoading:true,
          onResult: function(item) {
            // console.log("data : ",item)
            me.refreshPage();
          //   me.dataDetail=item.data
          //   if(viewby==='notes'){
          //     me.dialogViewNotes = true
          //   } else {
          //     me.dialogViewDetail=true
          //   }
            $(".loading").hide();
             me.dialogViewNotes = false
          }
        });
      }
    },
    submitData() {
      // this.dialogCreate = false;
      // this.vNotifType = "";
      const contact = [],channel = [];
      console.log("contact : ",this.vContact)
    
      this.vContact.forEach(contacts =>{
        contact.push(contacts.id)
      })
      this.vChannel.forEach(channels =>{
        console.log("in forench channel",channels)
        if(channels.key === 'ALL-IN'){
          channels.component.forEach(selectAll => {
            channel.push(selectAll.key)
          })
        }else {
          channel.push(channels.key)
        } 
      })
      var me = this;
      var params = {
        senderId: "",
        contacts: contact,
        contactGroups: [],
        channels: channel,
        title: this.vMessageTitle,
        body: this.vMessageBody,
        requestFrom: Cookie.get("username"),
      };
      console.log("params",params,this.vChannel)
      this.validation=true

      // this.$refs.form.validate()
      // if(this.$refs.form.validate()){
        this.dialogCreate = false;
        CnApi.call({
          method: "POST",
          url: "https://api.pancaran-group.co.id/mobonotif/api/notif/send",
          postData: params,
          ignoreLoading:true,
          ignoreConsoleLog:true,
           headers:{
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User-ID' : Cookie.get("username")
          },
          onResult: function(item) {
            console.log("data di add",item);
            if(item.resultCode){
              if(item.resultCode===1){
                me.messageCallback = item.message
                me.snackbar=true
              }
            }
          }
        });
        this.keyComboboxChannel += 1
      // }
    },
    showDetail(path, viewby){
       $(".loading").show();
      var me = this
      CnApi.call({
        method: "GET",
        url:"https://api.pancaran-group.co.id/inspection/admin/inspect-task/"+path+"/"+viewby,
        postData: {},
        headers:{
          'Authorization': 'Bearer '+Cookie.get("token"),
          'Content-Type' : 'application/json',
          'Accept'     : 'application/json',
          'X-Client-ID': Cookie.get("clientId"),
          'X-User' : Cookie.get("username")
        },
        ignoreLoading:true,
        onResult: function(item) {
          console.log("data : ",item)
          me.dataDetail=item.data
          if(viewby==='notes'){
            me.dialogViewNotes = true
          } else {
            me.dialogViewDetail=true
          }
           $(".loading").hide();
        }
      });
    },
    refreshPage(){
      this.items = []
      this.postData.pageNo = 0
      this.keyToggel+=1
      this.getData()
    },
    getData(){
      $(".loading").show();
      this.statusEmpty = false
      var me = this;
      // console.log("me.vSiteIds",me.vSiteIds)
      // me.filter.siteIds=me.vSiteIds
      CnApi.call({
        url:"https://api.pancaran-group.co.id/inspection/admin"+me.postData.path,
        postData: {
          pageNo:(me.postData.pageNo += 1),
          pageSize:me.postData.pageSize,
          term :me.search,
          filter:me.filter
        },
        headers:{
          'Authorization': 'Bearer '+Cookie.get("token"),
          'Content-Type' : 'application/json',
          'Accept'     : 'application/json',
          'X-Client-ID': Cookie.get("clientId"),
          'X-User' : Cookie.get("username")
        },
        ignoreLoading:true,
        afterResult: function(data) {
            me.postData.totalPage = data.items.length;
            me.toggleBus.$emit("getCount", {filter:me.filter, term:me.search})
        },
        onEveryItem: function(item) {
          // console.log("get data "+ me.postData.path +" : ",item)
          item.show = false;
          me.items.push(item)
          $(".loading").hide();
          // me.items = item.items;
        },
        onEmpty: function(){
            if(me.items.length === 0){
                me.statusEmpty = true
            } 
            $(".loading").hide();
        }
      });
    }
  },
  mounted(){
    var me = this
    if(Cookie.get("clientId")!=="2C7749C5E9BC4E21AED0593573BEC709") this.userExternal=true;
    this.windowUrl = window.location.pathname.toString();
    CnApi.call({
      method: "POST",
      url: "https://api.pancaran-group.co.id/mobocommon/v1.0.0/site/manageUserSite",
      postData: {
        context:"cekUser"
      },
      headers:{
        'Authorization': 'Bearer '+Cookie.get("token"),
        'Content-Type' : 'application/json',
        'Accept'     : 'application/json',
        'X-Client-ID': Cookie.get("clientId"),
        'X-User-ID' : Cookie.get("username")
      },
      //ignoreConsoleLog:true,
      ignoreLoading:true,
      onResult: function(item) {
        if(item.resultCode === 1){
          item.data.site.forEach(siteIds =>{
            me.vSiteIds.push(siteIds.id);
          })
          me.filter.siteIds=me.vSiteIds
          // me.toggleBus.$emit("getCount", {filter:me.filter})
          me.getData();
        } else if( item.resultCode === 0 ){
          me.toggleBus.$emit("getCount", {filter:me.filter,term:me.search})
          me.getData();
        }
      }
    });
    var listElm = document.querySelectorAll("#scrollOrder");
    listElm.forEach(function (elm) {
      console.log(elm)
      elm.addEventListener("scroll", e => {
        if (
          elm.scrollTop + elm.clientHeight >
          elm.scrollHeight - 0.5
        ) {
          if (me.postData.totalPage < me.postData.pageSize) {
            console.log("[managament notif] scroller. data tidak ditambah");
          } else {
            console.log("[managament notif] scroller. tambah data")
            me.getData()
          }
        }
      });
    });
  }
}
</script>tes
