.border-blue {
  border: 1px solid #1976d2 !important;
}
.bg-dark-transparent {
  background: rgba(72, 72, 72, 0.8) !important;
}
.rounded-start-big {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.rounded-end-big {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.rounded-start-left-big {
  border-top-left-radius: 15px;
}
.rounded-start-right-big {
  border-top-right-radius: 15px;
}
.rounded-end-left-big {
  border-bottom-left-radius: 15px;
}
.rounded-end-right-big {
  border-bottom-right-radius: 15px;
}
