input,
button,
select,
optgroup,
textarea {
  font-family: $font-family-sans-serif;
}
a {
  font-weight: 600;
  font-size: medium;
  font-family: $font-family-sans-serif;
}
label {
  font-family: $font-family-sans-serif;
  .imp-toggle {
    margin-bottom: 0px !important;
  }
}
#bgTrans{
  background: none !important;
}
.bg-dark-transparent2 {
  background: rgba(22, 20, 20, 0.99) !important;
}
.footer-menu{
  border-left: 2px solid grey;
  // height: 520px;
  // width: 280px;
  margin-left: 65px;
}
.bg-parent {
  background: url(assets/logo/background.jpeg)no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.title {
  font-family: $font-family-sans-serif !important;
}
.subtitle-1 {
  font-family: $font-family-sans-serif !important;
}
.subtitle-2 {
  font-family: $font-family-sans-serif !important;
}
.rounded-big {
  border-radius: $rounded-15 !important;
}
.rounded-small {
  border-radius: 8px !important;
}
.rounded-card{
  border-radius:100px;
}
.bgmain-dark {
  background-color: #0b1115d1;
  border-collapse: separate;
  border-color: #ffffff !important;
}
.list-item-font {
  font-size: 11px;
  font-weight: bold;
}
.theme--light.v-list-item.item-action:hover {
  background-color: #37a7df;
  color: #ffffff;
  opacity: unset;
}
.v-application .grey.darken-4{
  background-color: #0b111500!important;
}
.v-list-item-group .v-list-item--active{
  background-color:#37a7df;
  color: white;
}
.v-item--active .v-btn--active{
  background-color:#37a7df;
  color: white !important;
}
.v-btn--active .v-btn__content { 
  color: white; 
}  
.theme--light.v-btn--active::before{
  background-color:#37a7df;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
  opacity: 0.70;
}
.tooltiptext {
  font-family: $font-family-sans-serif;
}
.imp-toggle {
  .v-label {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: white;
    font-size: 13px;
  }
}
.imp-toggle-light {
  .v-label {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color:black;
    font-size: 13px;
  }
}
@media (min-width: 1340px) {
  .container-xxl {
    max-width: 1250px;
  }
}
.v-data-table__wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #21272b;
}
.v-data-table__wrapper::-webkit-scrollbar-thumb {
  background: #5b5f61;
  border-radius: 6px;
  width: 6px;
}
.v-menu__content::-webkit-scrollbar {
  width: 12px;
  background: #21272b;
}
.v-menu__content::-webkit-scrollbar-thumb {
  background: #5b5f61;
  border-radius: 6px;
  width: 6px;
}
.v-tab {
  text-transform: none !important;
}
.font-sm-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: small;
}
.font-md-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: medium;
}
.font-lg-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: large;
}
.font-bold-xl-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: x-large;
}
.font-bold-sm-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: small;
}
.font-bold-md-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: medium;
}
.font-bold-lg-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: large;
}
.font-bold-xl-ubuntu {
  font-family: $font-family-sans-serif;
  font-size: x-large;
}
.unfavorited-item {
  display: flex;
}
.unfavorited-enter-active, .unfavorited-leave-active {
  transition: all 0.5s;
}
.unfavorited-enter, .unfavorited-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.notification-header {
  display: grid;
  grid-template-columns: minmax(80%, 80%) 1fr;
  height: 7vh;
  max-height: 50px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.notification-body {
  white-space: pre-line;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.notification-body-footer {
  text-align: right;
}
.notification-footer {
  min-height: 5vh;
}
.notification-header-inactive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
}
.notification-header-active {
  display: inline-block;
  word-break: break-word;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
}
.ProseMirror [contenteditable="false"] {
  white-space: normal;
}

.ProseMirror {
  white-space: pre-wrap;
  margin-top: 6px;
  height: 20vh !important;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  overflow-y: auto;
  width: 100%;
}
.editor__content {
  text-align: left !important;
}
.editor__content__html {
  white-space: pre-wrap;
  margin-top: 6px;
  height: 20vh !important;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  text-align: left !important;
  font-size: 1em;
}
.v-card-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: white !important;
}
.v-card-transparent-blur {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.v-card-transparent-grey {
  background-color: rgba(20, 20, 20, 0.8) !important;
  border-color: white !important;
}
.outline_row{
  border: 1px solid rgba(207, 209, 212, 0.5);
}
#pancaran-btn div.card__actions .btn{
  min-width: 0;
  min-height: 0;
}
#DashboardActivityTable table thead tr {
  border-bottom: 1px solid rgba(207, 209, 212, 0.5);
}
#DashboardActivityTable table thead tr th{
  background: transparent;
  padding-left: 16px;
}
#DateWOHeader div.v-picker__title {
  display: none
}
.gantt-elastic__header-slider-wrapper .v-input__prepend-outer {
  margin: 0px;
}
.gantt-elastic__header-slider-wrapper .v-input__append-outer {
  margin: 0px;
}
[class^="gantt-elastic"],
[class*=" gantt-elastic"] {
  box-sizing: border-box;
}
.gantt-elastic__main-view svg {
  display: block;
}
.gantt-elastic__grid-horizontal-line,
.gantt-elastic__grid-vertical-line {
  stroke: #a0a0a0;
  stroke-width: 1;
}
foreignObject > * {
  margin: 0px;
}
.gantt-elastic .p-2 {
  padding: 10rem;
}
.gantt-elastic__main-view-main-container,
.gantt-elastic__main-view-container {
  overflow: hidden;
  max-width: 100%;
}
.gantt-elastic__task-list-header-column:last-of-type {
  border-right: 1px solid #00000050;
}
.gantt-elastic__task-list-item:last-of-type {
  border-bottom: 1px solid #00000050;
}
.gantt-elastic__task-list-item-value-wrapper:hover {
  overflow: visible !important;
}
.gantt-elastic__task-list-item-value-wrapper:hover
  > .gantt-elastic__task-list-item-value-container {
  position: relative;
  overflow: visible !important;
}
.gantt-elastic__task-list-item-value-wrapper:hover
  > .gantt-elastic__task-list-item-value {
  position: absolute;
}
.compact-expansion .v-expansion-panel-header{
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
  height: 5vh !important;
}
#styled-input {
  height: 10vh !important;
  font-size: 1em;
}
.styled-input label[for] {
  height: 10vh;
  font-size: 1em;
}
.compact-v-text-field .v-input__control .v-input__slot {
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
  height: 6vh !important;
}

.inputPhone input[type='number'] {
  -moz-appearance:textfield;
}
.inputPhone input::-webkit-outer-spin-button,
.inputPhone input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#MobospaceTableWithTab {
  border-top: 1px solid white; 
  max-width: 100%;
  margin-left: 3%;
}
#MobospaceTableWithTab table thead tr th{
  padding-left: 10px;
  background-color: rgba(55, 60, 63);
}
#MobospaceTableWithTab tr td{
  padding-right: 18px;
  padding-left: 10px;
  height:8vh;
}
#MobospaceTableWithTab table thead tr th div {
  padding-left: 0px;
  padding-right: 18px;
}

#MobospaceTable {
  border-top: 1px solid white; 
  max-width: 100%;
}
#MobospaceTable table thead tr th{
  padding-left: 10px;
  background-color: rgba(55, 60, 63);
}
#MobospaceTable tr td{
  padding-right: 18px;
  padding-left: 10px;
  height:8vh;
}
#MobospaceTable table thead tr th div {
  padding-left: 0px;
  padding-right: 18px;
}

#MobospaceAllBorderTable {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  max-width: 100%;
}
#MobospaceAllBorderTable table thead tr th{
  background-color: rgba(55, 60, 63);
}
#MobospaceAllBorderTable tr td{
  padding-right: 18px;
  padding-left: 10px;
  height:8vh;
}

#MobospaceAllBorderTable2 {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  max-width: 100%;
}
#MobospaceAllBorderTable2 table thead tr th{
  background-color: rgba(55, 60, 63);
}
#MobospaceAllBorderTable2 tr td{
  padding-right: 18px;
  padding-left: 10px;
  height:8vh;
}
.container-outer { overflow-x: scroll; width: 100wh; height: 100%; }
.container-inner { width: 150%; }
.container-outer::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #21272b;
}
.container-outer::-webkit-scrollbar-thumb {
  background: #5b5f61;
  border-radius: 6px;
  width: 6px;
}
.textarea_64vw .textarea-hint-bottom-right .v-input__control .v-input__slot{
  width:64vw
}
#ShipmentTable {
  border-top: 1px solid white ; 
  max-width: 100%;
  margin-left: 6%;
}
#ShipmentTable table thead tr th{
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(55, 60, 63);
}
#ShipmentTable tr td{
  padding-right: 18px;
  padding-left: 10px;
  height:8vh;
}
#ShipmentTable table thead tr th div {
  padding-left: 0px;
  padding-right: 18px;
}

.theme--dark.v-data-table.v-data-table--fixed-header thead th {
  color: #ee7700;
  font-family: "Ubuntu", sans-serif;
  font-size: 85%;
  font-weight: bold;
  background: #262a2c;
}
.col-3-per-2 {
  flex: 0 0 25%;
  max-width: 25%;
}
.gm-style-iw-d{
  width: 250px;
}
.v-application .text-start {
  text-align: center !important;
}
.v-data-table th {
  padding: unset;
}
.v-data-table th {
  height: 48px;
  width: 133px;
}
#homeContainer {
  background-color: rgb(52, 169, 224);
  border-radius: 20px;
  margin-top: 5%
}

#homeContainerDisabled {
  background-color: grey;
  border-radius: 20px;
  margin-top: 5%
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
}

#homeContainer:hover {
  background-color: rgb(52, 169, 224);
  border-radius: 20px;
  margin-top: -15%;
}
.check-box{
  .v-label {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: black;
    font-size: 13px;
  }
}
.v-menu__content {
  box-shadow: none;
}
.width-fit {
  width: fit-content;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
// .theme--light.v-list-item:hover {
//   background-color: #9e9e9e80;
// }
// Transparent Overlay
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

// :not(:required) hides these rules from IE9 and below
.loading:not(:required) {
  // hide "loading..." text
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
    rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: #37a7df 1.5em 0 0 0, #37a7df 1.1em 1.1em 0 0, #37a7df 0 1.5em 0 0, #37a7df -1.1em 1.1em 0 0,
    #37a7df -1.5em 0 0 0, #37a7df -1.1em -1.1em 0 0, #37a7df 0 -1.5em 0 0, #37a7df 1.1em -1.1em 0 0;
}

// Animation
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mobospace_header-menu {
  margin-top: 4px !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: flex-start !important;
  background-color: #0b1115d1;
  border-collapse: separate;
  border-color: #ffffff !important;
  height: 6vh;
}

.mobospace_header-menu-with-tab {
  background-color: rgba(11, 17, 21, 0);
  margin-right: 0 !important;
  padding: 0px !important;
}

.mobospace_header-menu-with-top-tab {
  background-color: rgba(11, 17, 21, 0);
  margin-right: 0 !important;
  padding: 0px !important;
}

.mobospace_filter-header {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 24px !important;
  margin-left: 24px !important;
  text-align: left !important;
}

.mobospace_moboaction {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.moboreport-body {
  display: grid;
  grid-template-columns: minmax(25%, 25%) 1fr;
}

.mobospace-tab-item > .v-tabs-items {
  height: 100vh
}

.mobospace-tab-item > .v-tabs-items > .v-window__container > .v-window-item--active {
  height: 100%;
}

.v-autocomplete-white > .v-input__control > .v-input__slot > .v-select__slot > .v-label {
  color: #ffffff !important;
}

.borderless {
border: 0px solid transparent;
}

.moboreport-body {
  display: grid;
  grid-template-columns: minmax(25%, 25%) 1fr;
}

.ldap-hris-mapping-tools-body {
  display: grid;
  grid-template-columns: minmax(50%, 50%) 1fr;
  width: 100%;
}

.ldap-hris-mapping-overview {
  display: grid;
  grid-template-columns: minmax(50%, 50%) 1fr;
  width: 100%; 
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.ldap-hris-mapping-header {
  display: grid;
  grid-template-columns: minmax(25%, 25%) minmax(40%, 40%) 1fr;
  width: 100%;
}

.ldap-hris-mapping-tools-table {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.mobodash {
  display: grid;
  grid-template-rows: auto 1fr;
}

.mobodash-body {
  display: grid;
  grid-template-columns: minmax(33%, 33%) 1fr;
  max-height: 100vh;
}

.mobodash-middle-row {
  display: grid;
  grid-template-rows: minmax(30%, 30%) 1fr;
}

.box-percent {
  display: grid;
  grid-template-columns: 1fr auto;
}

.box-percent-text {
  display: grid;
  grid-template-rows: ifr auto auto;
  padding-left: 10px;
}

.box-percent-text-title-border {
  border-bottom: 5px solid white;
  margin-right: 10%
}

.group-bar-text-title-border {
  border-bottom: 2px solid #868686;
  margin-right: 10%
}

.lr10-border-bottom {
  border-bottom: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
}

.box-percent-value {
  margin: auto;
}

.mobodash-chart-bar {
  display: grid;
  grid-template-columns: minmax(70%, 70%) 1fr;
}

.mobodash-chart-bar-text {
  display: grid;
  grid-template-rows: minmax(33%, 33%) minmax(33%, 33%) 1fr;
}

.mobodash-chart-group-bar {
  display: grid;
  grid-template-columns: minmax(50%, 50%) 1fr;
}

.mobodash-box-unit {
  display: grid;
  grid-template-rows: minmax(50%, 50%) 1fr;
}

.mobodash-transparent-blur {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

#mobo-scrollbar {
  overflow:hidden;
}

#mobo-scrollbar:hover {
  overflow-y:auto;
}

#mobo-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  margin-top: 8px;
  margin-bottom: 16px;
}
.combobox-scrollable::-webkit-scrollbar {
  width: 7px;
	background-color: #F5F5F5;
}

.combobox-scrollable {
  overflow: hidden;
  max-height: 7.5vh;
}

.combobox-scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.combobox-scrollable:hover {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: thin !important;
  max-height: 7.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#mobo-scrollbar::-webkit-scrollbar
{ 
	width: 7px;
	background-color: #F5F5F5;
}

#mobo-scrollbar::-webkit-scrollbar-thumb {
	background-color: #0ae;

	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(0.5, rgba(255, 255, 255, 0.2)),
		color-stop(0.5, transparent),
		to(transparent)
	);
}

.mobodash-autocomplete > .v-input__control {
  height: 25px;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot {
  height: 25px !important;
  background-color: blue;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot fieldset {
  height: 25px;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot > .v-select__slot {
  height: 25px;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot > .v-select__slot > .v-label {
  top: 0px !important;
  font-size: 10px !important;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot > .v-select__slot > .v-label--active {
  top: 10px !important;
}

.mobodash-autocomplete > .v-input__control > .v-input__slot > .v-select__slot input {
  margin-bottom: 0px;
  font-size: xx-small;
} 

.mobodash-autocomplete > .v-input__control > .v-input__slot > .v-select__slot > .v-input__append-inner {
  margin-top: 0px;
}

.v-messages  {
  color: #ffffff !important;
}

.no-spinners input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinners input[type=number] {
  -moz-appearance: textfield;
}
.super-center {
  display: grid;
  place-items: center;
}
/*
@media (min-width: 1200px)
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
}
body {
  
    background-color: white;
    position: static;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#mTop5 {
    margin-top: 2%;
}

#mTop6 {
    margin-top: 3%;
}

#centerImg {
    margin-left: auto;
    margin-right: auto;
}

#white {
    color: white;
}

.whiteF {
    color: white;
}

#width100 {
    width: 100% !important;
}

#width150 {
    width: 150% !important;
}

.vl {
    border-left: 2px solid white;
    height: 400px;
    margin-left: 65px;
}



#bgTrans {
    background: none !important;
    margin-top: 12%;
}

#centerImg {
    margin-left: auto;
    margin-right: auto;
}

#textDec {
    text-decoration: none !important;
    cursor: pointer !important;
}

#marginTopZero {
    margin-top: 0px !important;
}

.btnColor {
    background: linear-gradient(130deg, rgba(14, 126, 216, 1) 0%, rgba(14, 126, 216, 1) 0%, rgba(59, 173, 224, 1) 100%, rgba(59, 173, 224, 1) 100%);
}

.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}
  .v-label{
    margin:unset;
  }
  .v-messages theme--light{
    display:none
  }
  .v-application .ma-2 {
   margin: unset !important;
   height:30px
  }
  .v-input__slot{
    margin:unset;
  } 
*/
