body{
  /*background: url('/assets/login/u0.gif')no-repeat center center fixed;*/
  position:static;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-image:url("http://localhost/centralnode/public/assets/home/xx.jpeg"); */
  
}
#bodyLayer{
  font-family:'Open Sans SemiBold', 'Open Sans Regular', 'Open Sans';	
  margin:0px;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#centerImg{
	margin-left: auto;
  margin-right: auto;
}
#white{
	color: white;
}
.v-text-field--outline>.v-input__control>.v-input__slot{
	background: white !important;
}

.v-input--selection-controls__input>.theme--light.v-icon{
	color: white !important;
}
.v-input__slot>.v-label.theme--light{
	color: white !important;
}
#loginContainer{
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}
#remember{
	margin-top: 0px !important;
}
.btnColor{
	background: linear-gradient(130deg, rgba(14, 126, 216, 1) 0%, rgba(14, 126, 216, 1) 0%, rgba(59, 173, 224, 1) 100%, rgba(59, 173, 224, 1) 100%);
}	
#textDec{
  text-decoration: none !important;
}
