
<template>
  <div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
    <header-toggle :title="lblAdministration" />
    <v-row
      wrap
      class="mt-1 rounded-start-big justify-start bgmain-dark"
      style="height: 3vh"
    ></v-row>
    <v-row
      wrap
      align="center"
      justify="center"
      class="rounded-end-big bgmain-dark"
      style="height: 73vh"
    >
      <template>
        <div class="container w-100 h-100 mx-0 pa-0">
          <v-tabs
            v-model="selectedTab"
            vertical
            dark
            color="blue"
            background-color="grey darken-4"
            slider-size="4"
          >
            <v-tab class="pa-0 ma-0" style="min-width:0px" v-show="false" />

            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left"
              v-show="usertype === 'EX'"
            >
              {{ lblProfile }}
            </v-tab>
            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
              v-show="vmemberis != 'Member'"
            >
              {{ lblUsermanagement }}
            </v-tab>
            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
              v-show="usertype !== 'EX'"
            >
              {{ lblWindowmanagement }}
            </v-tab>
            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
              v-show="usertype !== 'EX'"
            >
              {{ lblUsersite }}
            </v-tab>
            
            <v-tab-item/>
            <v-tab-item v-show="usertype === 'EX'">
              <administration-userprofilecontent />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <administration-usermanagementcontent
                :usertype="usertype"
                :customerOpt="customerOpt"
                :menuOpt="menuOpt"
                :customer="customer"
                :drivergroup="drivergroup"
                :site="site"
                :filter="filter"
                :cancel="cancel"
                :savefilter="savefilter"
                :lblSearch="lblSearch"
              />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <administration-windowmanagementcontent
                :usertype="usertype"
                :lblSearch="lblSearch"
              />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <management-notif-content
                type="userSite"
                filter="off"
                titleModal="Management User Site"
                domain="/api/notif-contexts"
                headers='[
                  {"text":"Name","sortable":false,  "value":"name"},
                  {"text":"Site","sortable":false,  "value":"site"},
                  {"text":"Created", "sortable":false, "value":"created"},
                  {"text":"Created By", "sortable":false, "value":"createdBy"},
                  {"text":"Active", "sortable":false, "value":"status"},
                  {"text":"", "sortable":false, "value":"actions","width": "5%"}
                  ]'
                :lblSearch="lblSearch"
              />
            </v-tab-item>
          </v-tabs>
        </div>
      </template>
    </v-row>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../cn-api";
//import debounce from "../index";
export default {
  props: [
    "singleSelect",
    "usertype",
    "customer",
    "drivergroup",
    "site",
    "cancel",
    "filter",
    "savefilter",
    "vclientid",
    "vmemberis",
    "lblProfile",
    "lblUsermanagement",
    "lblWindowmanagement",
    "lblUsersite",
    "lblAdministration",
    "lblSearch",
  ],
  data() {
    return {
      value: "",
      valid: true,
      selectedTab: null,
      filterData: {},
      menuOpt: [],
      customerOpt: [],
    };
  },
  watch: {
    selectedTab: function (val, oldVal) {
      this.getParams(false);
    },
  },
  mounted() {
    this.getParams(true);
  },
  methods: {
    getParams(init) {
      axios
        .get("/getparams")
        .then((response) => {
          this.customerOpt = response.data.customer;

          if (init) {
            if (response.data.logtype === "EX") {
              this.menuOpt = response.data.usermenufilter;
              this.selectedTab = 0;
            } else {
              this.menuOpt = response.data.menu;
              this.selectedTab = 1;
            }
          } else {
            if (response.data.logtype === "EX") {
              this.menuOpt = response.data.usermenufilter;
            } else {
              this.menuOpt = response.data.menu;
            }
          }
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>