  <template>
  <v-menu
    small
    v-model="menu"
    :offset-y="true"
    :absolute="false"
    :open-on-hover="false"
    :close-on-click="false"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" small dark class="white--text rounded-big border-blue">
        {{ buttonTitle }}
        <v-spacer />
        <img src="assets/home/download.png" class="ml-6" width="15px" />
      </v-btn>
    </template>
    <v-row>
      <v-col class="pr-0 pt-1">
        <v-list dense class="border-blue pa-0" width="17vw">
          <v-row>
            <v-col>
              <v-list-item-group dense>
                <v-list-item
                  v-for="(filter, filterKey, idx) in filters"
                  :key="idx"
                  :disabled="filter.disabled"
                  x-small
                  @click="onRootClick(filterKey)"
                >
                  <v-list-item-content>
                    <v-list-item-title small class="text--black" color v-text="filter.title"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 ml-2">
              <v-checkbox
                height="2vh"
                class="mt-0 check-box"
                xsmall
                dense
                v-for="(item, i) in chkboxs"
                :key="i"
                v-model="item.value"
                :label="item.title"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-divider sm="3" class="border-blue mt-0 mb-2"></v-divider>
          <v-card-actions class="justify-end pt-0">
            <v-btn x-small rounded @click="menu = false,hideData= true">Cancel</v-btn>
            <v-btn
              x-small
              color="warning"
              rounded
              @click="save"
            >Save Filter</v-btn>
          </v-card-actions>
        </v-list>
      </v-col>
      <v-col class="pl-1 ml-0 pt-1">
        <v-list v-if="filterClick=='CUSTOMER'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col cols="12" class="align-right py-0 mr-0 pr-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_exclusive">
                    <v-container>
                    <v-row>
                      <v-col sm="6" v-for="item in buttons" :key="item">
                        <v-btn class="col" dense x-small @click="buttonActive">
                          {{item.text}}
                        </v-btn>
                      </v-col>
                    </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list
          v-if="filterClick=='DRIVER_GROUP'"
          :hidden="hideData"
          dense
          class="border-blue pa-0"
        >
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverGroups" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          dark
                          sm-6
                          v-for="(driverGroup, idx) in driverGroups"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverGroup.trim().length>0 && driverGroup.name.trim().toUpperCase().indexOf(search.driverGroup.trim().toUpperCase()) == -1"
                            @click="pickDriverGroup(driverGroup.id)"
                          >{{ driverGroup.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='DRIVER_SITE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverSites" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(driverSite, idx) in driverSites"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverSite.trim().length>0 && driverSite.name.trim().toUpperCase().indexOf(search.trim().toUpperCase().driverSite) == -1"
                            @click="pickDriverSite(driverSite.id)"
                          >{{ driverSite.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='VEHICLE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.vehicles" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(vehicle, idx) in vehicles"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.vehicle.trim().length>0 && vehicle.plateNo.trim().toUpperCase().indexOf(search.trim().toUpperCase().vehicle) == -1"                   
                            @click="pickVehicle(vehicle.id)"
                          >{{ vehicle.plateNo }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
      </v-col>
    </v-row>
  </v-menu>
</template>
<script>
import CnApi from "../cn-api";
export default {
  props: ["title", "on-save"],
  data() {
    return {
      menu: false,
      filterClick: "",
      buttonTitle: this.title || "Smart Filter",
      hideData: true,
      customers: [],
      driverGroups: [],
      driverSites: [],
      vehicles: [],
      toggle_group: {
        customers: [],
        driverGroups: [],
        driverSites: [],
        vehicles: []
      },
      selectedData: {
        customerId: "",
        driverGroupIds: [],
        driverSiteIds: [],
        vehicleIds: []
      },
      search: {
        customer: "",
        driverGroup: "",
        driverSite: "",
        vehicle: ""
      },      
      searchBus: new Vue(),
      filters: {
        "CUSTOMER": {
          title: "Customers",
          disabled: false
        },
        "DRIVER_GROUP": {
          title: "Driver Group",
          disabled: true,
          hide: true
        } ,
        "DRIVER_SITE": {
          title: "Site",
          disabled: true
        } /*,
        "VEHICLE": {
          title: "Vehicle",
          disabled: true,
          hide: true
        } */
      },
      chkboxs: [
        { title: "Registered", id: "registered", value: null },
        { title: "Logged In", id: "loggedIn", value: null },
        { title: "Default Password", id: "defaultPass", value: null },
        { title: "Allow Tap", id: "allowTap", value: null }
      ]
    };
  },
  methods: {
    collectList(opts) {
      var me = this;
      console.log("POST DATA = ", opts.postData);
      CnApi.call({
        url: "https://api.pancaran-group.co.id" + opts.apiUri,
        method: opts.method || "post",
        postData: opts.postData,
        ignoreLoading: true,
        onResult: function(items) {
          me[opts.storeProperty] = items;
          /* console.log(
            "Result " + opts.storeProperty + " = ",
            JSON.stringify(me[opts.storeProperty])
          ); */
          //console.log("TRIGGERED BY = ", opts.triggerBy);
        }
      });
    },
    disableChildFilters(isDisabled) {
      for (let key in this.filters) {
        this.filters[key].disabled = isDisabled;
      }
    },
    onSearch(term) {
      console.log("SEARCH TERM = ",term);
      //term = (""+term).trim().toUpperCase();
      if (this.filterClick === "CUSTOMER") {
        this.search.customer = term;
      } else if (this.filterClick === "DRIVER_GROUP") {
        this.search.driverGroup = term;
      } else if (this.filterClick === "DRIVER_SITE") {
        this.search.driverSite = term;
      } else if (this.filterClick === "VEHICLE") {
        this.search.vehicle = term;
      }
    },
    pickCustomer(custId) {
      console.log("Pick Customer: ", custId);
      if (this.selectedData.customerId !== custId) {
        this.disableChildFilters(false);
        this.selectedData.customerId = custId;
      } else {
        this.disableChildFilters(true);
        this.selectedData.customerId = "";
      }
      this.selectedData.driverGroupIds = [];
      this.selectedData.driverSiteIds = [];
      this.selectedData.vehicleIds = [];
      this.toggle_group.driverGroups = [];
      this.toggle_group.driverSites = [];
      this.toggle_group.vehicles = [];
    },
    pickDriverGroup(driverGroupId) {
      console.log("Pick Driver Group. Last Selected: ", JSON.stringify(this.selectedData));
      let idx = this.selectedData.driverGroupIds.indexOf(driverGroupId);
      if (idx > -1) {
        this.selectedData.driverGroupIds.splice(idx,1);
      } else {
        this.selectedData.driverGroupIds.push(driverGroupId);
      }
      this.selectedData.driverSiteIds = [];
      this.selectedData.vehicleIds = [];
      this.toggle_group.driverSites = [];
      this.toggle_group.vehicles = [];
    },
    pickDriverSite(driverSiteId) {
      console.log("Pick Driver Site. Last Selected: ", JSON.stringify(this.selectedData));
      let idx = this.selectedData.driverSiteIds.indexOf(driverSiteId);
      if (idx > -1) {
        this.selectedData.driverSiteIds.splice(idx,1);
      } else {
        this.selectedData.driverSiteIds.push(driverSiteId);
      }
      console.log("Pick Driver Site. Last Selected: ", JSON.stringify(this.selectedData));
    },
    pickVehicle(vehicleId) {
      console.log("Pick Vehicle. Last Selected: ", JSON.stringify(this.selectedData));
      let idx = this.selectedData.vehicleIds.indexOf(vehicleId);
      if (idx > -1) {
        this.selectedData.vehicleIds.splice(idx,1);
      } else {
        this.selectedData.vehicleIds.push(vehicleId);
      }
    },
    save() {
      this.menu = false;
      this.hideData= true;
      console.log("ON Save");
      if (this.onSave) {
        let filterData = {};
        let hasFilter = false;
        for (let key in this.selectedData) {
          if (this.selectedData[key].length > 0) {
            hasFilter = true;
            filterData[key] = this.selectedData[key];
          } 
        }
        for (let i=0; i<this.chkboxs.length; i++) {
          var chk = this.chkboxs[i];
          if (chk.value !== null) {
            hasFilter = true;
            filterData[chk.id] = chk.value;
          }
        }
        if (hasFilter) {
          this.buttonTitle = "Filter is active";
          this.onSave(filterData);
        }        
      }
    },
    onRootClick(filterId) {
      //console.log("Root Click Filter ID: "+filterId+". last selected Data: ", this.toggle_group.driverGroups);//JSON.stringify(this.selectedData));
      if (["CUSTOMER", "DRIVER_GROUP", "DRIVER_SITE", "VEHICLE"].indexOf(filterId) > -1) {
        if (this.filterClick === filterId) {
          this.filterClick = "";
          return (this.hideData = true);
        } else {
          if (filterId === "CUSTOMER") {
            this.searchBus.$emit('restore', this.search.customer);
            this.collectList({
              apiUri: "/common/listCustomerCdo?pageSize=100",
              method: "get",
              storeProperty: "customers"
            });
          } else if (filterId === "DRIVER_GROUP") {
            this.searchBus.$emit('restore', this.search.driverGroup);
            this.collectList({
              apiUri: "/moboadmin/driver_group/list",
              storeProperty: "driverGroups",
              postData: {
                customerId: this.selectedData.customerId
              }
            });
          } else if (filterId === "DRIVER_SITE") {          
            this.searchBus.$emit('restore', this.search.driverSite);               
            this.collectList({
              apiUri: "/moboadmin/driver_site/list",
              storeProperty: "driverSites",
              postData: {
                customerId: this.selectedData.customerId,
                driverGroupIds: this.selectedData.driverGroupIds
              }
            });
          } else if (filterId === "VEHICLE") {
            this.searchBus.$emit('restore', this.search.vehicle);
            this.collectList({
              apiUri: "/moboadmin/driver_site/list",
              storeProperty: "driverSites",
              postData: {
                customerId: this.selectedData.customerId,
                driverGroupIds: this.selectedData.driverGroupIds
              }
            });
          }
        }
        this.filterClick = filterId;
      }
      this.hideData = false;
    }
  },
  mounted() {
    
  }
};
</script>