<template>
  <v-row wrap :class="title ? 'rounded-big justify-start '+(!light ? 'bgmain-dark' : '') : 'pa-0 ma-0'" style="height: 6vh; max-height: 45px">
    <!-- style="height: 8vh;max-height:16vh;" -->
    <v-col v-if="title" :cols="titleCols ? titleCols :6" class="text-left py-0">
      <v-btn color="transparent" href="/home" class="white--text">
        <v-icon left dark small>mdi-arrow-left</v-icon>
        {{ title }}
      </v-btn>
    </v-col>
    <v-col class="text-right py-0">
      <!-- <v-row v-else class="pa-0 ma-0">
        <div :style="'width:'+tgl.width+';max-width:'+tgl.width+';'" 
        class="pa-0" v-for="tgl in toggles" :key="tgl.id">
          <v-switch
            dense
            :readonly="tgl.value"
            class=" tgls-vehicle-list ma-0 mt-2"
            v-bind:label="tgl.title"
            v-bind:color="tgl.color"
            v-model="tgl.value"
            @change="onToggleChanged(tgl.id)"
          ></v-switch>
        </div>
      </v-row> -->
      <v-row wrap class="pa-0 my-0">
        <v-col class="pa-0 ma-0" :style="tgl.width ? 'width:'+tgl.width+';max-width:'+tgl.width+';' : ''" v-for="tgl in toggles" :key="tgl.id">
          <v-switch
            dense v-if="hasinit"
            :class="small? 'tgls-vehicle-list ma-0 mt-2' : 'imp-toggle ma-1'"
            :light="light"
            :readonly="readonly && tgl.value"
            :label="(toggleSum[tgl.id]||'')+tgl.title"
            :color="tgl.color"
            v-model="tgl.value"
            @change="onToggleChanged(tgl.id, $event)"
          ></v-switch>
          <v-switch
            dense v-if="!hasinit"
            :class="small? 'tgls-vehicle-list ma-0 mt-2' : 'imp-toggle ma-1'"
            :disabled="live ? tgl.value : (titleCols ? false : true)"
            :light="light"
            :label="tgl.title"
            :color="tgl.color"
            v-model="tgl.value"
            @change="onToggleChanged(tgl.id, $event)"
          ></v-switch>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
  <!-- <v-row v-else class="pa-0 ma-0">
    <div :style="'width:'+tgl.width+';max-width:'+tgl.width+';'" 
    class="pa-0" v-for="tgl in toggles" :key="tgl.id">
      <v-switch
        dense
        :readonly="tgl.value"
        class=" tgls-vehicle-list ma-0 mt-2"
        v-bind:label="tgl.title"
        v-bind:color="tgl.color"
        v-model="tgl.value"
        @change="onToggleChanged(tgl.id)"
      ></v-switch>
    </div>
  </v-row> -->
  <!-- <v-row v-else class="pa-0 ma-0">
    <v-col class="px-2 pb-0" v-for="tgl in toggles" :key="tgl.id">
      <v-switch
            class="imp-toggle ma-1"
            :label="(toggleSum[tgl.id]||'')+tgl.title"
            :color="tgl.color"
            v-model="tgl.value"
            @change="onToggleChanged(tgl.id, $event)"
          ></v-switch>
    </v-col>
  </v-row> -->
</template>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
import CnApi from "../cn-api";
import Cookie from "js-cookie";
export default {
  props: ["title", "toggles", "callback", "api-url","bus","mobomap","light","small","method",
  "filter","search","readonly","live","withHeader","bearer","titleCols","autoGet"],
  data() {
    return {
      hasinit: false,
      toggleSum: {}
    };
  },
  methods: {
    onToggleChanged(toggleItemId, toggleValue) {
      console.log("[HeaderToggle] onToggleChanged. toggle '", toggleItemId, "' = ", toggleValue);
      if (this.callback && this.callback instanceof Function) {
        this.callback("TOGGLE", toggleItemId);
      }
    },
    reload(postData){
      console.log("[HeaderToggle] toggle reload called",postData);
      var me = this;
      me.hasinit = false;
      CnApi.call({
        url: this.apiUrl,
        bearer:this.bearer,
        method: this.method || "GET",
        postData : postData || {},
        ignoreLoading: true,
        headers: me.withHeader ? {
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User' : Cookie.get("username")
          } : null,
        ignoreCheckSession:true,
        onResult: function(result) {
          console.log("[HeaderToggle] toggle reload onresult = ",result);
          for (let i = 0; i < me.toggles.length; i++) {
            var toggle = me.toggles[i];
            console.log("[HeaderToggle] Toggle '"+toggle.id+"' Sum Value: ", result[toggle.sumProperty]);
            me.toggleSum[toggle.id] = "("+result[toggle.sumProperty]+") ";
          }
          me.hasinit = true;
        }
      });
    }
  },
  mounted() {
    var me = this;
    // setTimeout(function() {
      if (me.bus) {
        console.log("open init bus")
        var me2 = me
        me.bus.$on('refresh', me.reload);
        me.bus.$on("getCount", function(params){
          console.log("getCount",params)
          me2.reload(params)
        })
      }
      if(!me.autoGet){
        if(me.apiUrl){
          me.reload();
        } else {
          console.log("open init")
          me.hasinit= false
        }
      }
    // }, 1000);
    // if (this.bus) {
    //   var me = this
    //   this.bus.$on('refresh', this.reload);
    //   this.bus.$on("getCount", function(params){
    //     me.reload(params)
    //     console.log("getCount",params)
    //   })
    // }
    // if(this.apiUrl){
    //   this.reload();
    // } else {
    //   console.log("open init")
    //   this.hasinit= false
    // }
  }
};
</script>