<template>
    <v-row wrap align='center' justify="center" class="w-100 rounded-big" style="background-color: #0b1115d1;">
    <!-- style="background-color: #0b1115d1;
    width:auto;border-collapse:separate; 
    border-radius:15px; margin-bottom:10px;-->
        <v-col style="border-style: none!important; " class="py-0">
            <v-col height class="text-left" style="color:white;font-family: 'Ubuntu', sans-serif;
            font-weight:bold;padding-top: 8px; padding-bottom: 8px; font-size:12px">
            <a :href="route" style="color:white;"><img src="assets/home/back.png" style='width: 10px;height:10px;'/></a> DASHBOARD 
            </v-col>
        </v-col>
    </v-row>
</template>
<script>
export default {
    props:['route']
}
</script>