<template>
  <div class="text center">
    <div class="row">
    <v-chip style="width:100%;margin-right:100px;margin-left:100px;"
        cols="12"
        class="mt-2"
        color="primary"
        outlined
        pill
        large
      >
      <v-col cols>
        <v-toolbar-title style="color:white;margin-left:60px;"><v-icon dark left>mdi-chevron-left</v-icon>{{ title }}</v-toolbar-title>
      </v-col>
      <v-col cols="6">
      </v-col>      
      </v-chip>
    </div>
       
  </div>
</template>
<script>

export default {
  name: "new-component",
  props: ["title", "filters","buttons"],
  data() {
    return {
      items: JSON.parse(this.filters),
      btns: JSON.parse(this.buttons)
    }
    
  },
  mounted() {
    console.log("ITEMS = ", this.items);
  }
};
</script>