
<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-combobox v-if="lazyMode"
      v-model="selectedItems"
      :items="dataItems"
      :label="title"
      :item-value="propertyId || 'id'"
      :item-text="propertyText || 'name'"
      :search-input.sync="searchTerm"
      :multiple="multiple"
      :chips="chips"
      :outlined="outlined"
      :solo="solo"
      height="auto"
      :style="scroller?'max-height:100px; overflow-y: auto; overflow-x: hidden;':''"
      class="body-2"
      dense
      :error-messages="error && errorIn? errormessages : ''"
      cache-items
      :small-chips="chips"
      hide-selected
      :disabled="disabled"
      :auto-select-first="autoselectfirst"
    >
      <template v-if="title === 'Contacts' || listParent" v-slot:item="{item}">
        <v-row>
          <v-col cols="12" class="py-0" style="font-size:11px">{{ item.name }}{{item.userType ? " - "+item.userType : ""}}
            <!-- <div style="font-size:10px">
            </div> -->
          </v-col>
        </v-row>
      </template>
      <template v-slot:no-data>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ loadingLabel }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-if="!notchips" v-slot:selection="{ attrs, item, parent, selected }">
        <v-chip
          v-if="item.id"
          class="my-1"
          :color="disabled ? '#b6b6b6' : 'cyan'"
          :text-color="disabled ? 'white' : 'black'"
          v-bind="attrs"
          label
          small
        >
          <span class="pr-2">
            {{ item.name ? item.name : item }}
          </span>
          <v-icon v-if="!disabled"
            small
            :hidden="disabledCloseChip"
            @click="parent.selectItem(item)"
          >close</v-icon>
        </v-chip>
      </template>
    </v-combobox>
    <v-combobox v-else 
      v-model="selectedItems"
      :items="dataItems"
      :label="title"
      :item-value="propertyId || 'id'"
      :item-text="propertyText || 'name'"
      :multiple="multiple"
      :chips="chips"
      height="auto"
      :solo="solo"
      :outlined="outlined"
      :hint="hintInfo"
      :search-input.sync="search"
      persistent-hint
      dense
      :small-chips="chips"
      class="body-2"
      hide-selected
      :rules="required"
      :disabled="disabled"
    >
    <template v-slot:no-data>
      <v-list-item v-if="title === 'Tags'">
        <v-list-item-content>
          <v-list-item-title>
            No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
    <template v-if="!notchips" v-slot:selection="{ attrs, item, parent, selected }">
      <v-chip
        class="my-1"
        :color="disabled ? '#b6b6b6' : 'cyan'"
        :text-color="disabled ? 'white' : 'black'"
        v-bind="attrs"
        label
        small
      >
        <span class="pr-2">
          {{ item.name ? item.name : item }}
        </span>
        <v-icon v-if="!disabled"
          small
          @click="parent.selectItem(item)"
        >close</v-icon>
      </v-chip>
    </template>
    </v-combobox>
  </v-form>
</template>
<script>
import CnApi from "../cn-api";
import debounce from "../index";
import Cookie from "js-cookie";

export default {
  props: ["load-data", "selected", "change", "property-id", "property-text", "title", "api-url", 
    "lazy-mode", "api-response-direct-items", "page-size", "multiple", "chips", "bus", 
    "type","bearer","hint-info","url-param","required","disabled","scroller","solo","listParent","allIn",
    "validation","notchips","postParams","withHeader","select-report","pageSize","outlined","errormessages",
    ,"autoselectfirst","error","disabledCloseChip", "post" ],
  data() {
    return {
      dataItems: [],
      //selectedItems: this.seldata || (this.multiple ? [] : {}),
      searchTerm: "",
      search: null,
      errorIn:true,
      valid:true,
      urlParams:{
        pageSize: this.pageSize || 500,
        pageNo: 0,
        totalPage:null
      },
      loadingLabel: "",
      nonce: 1,
      rules: {
        required: value => !!value || "Required.",
        // selected: s => !s || s.length === 0 ? "Select Please",
        //minpassword: v => v.length >= 8 || 'Min 8 characters',

      }
    };
  },
   computed: {
    selectedItems: {
      get() {
        // console.log("kasih liat lah ya")
        return this.selected || (this.multiple ? [] : "");
      },
      set(val) {
        console.log("SETTER VAL = ", val);
        // console.log("val",val,this.selectedItems)
        if(val && !(val instanceof Array) && val.id === this.selectedItems.id){
          console.log("delete selected")
          console.log("codition not multiple")
          val = null;
          this.errorIn = true;
        } else {
          this.errorIn = false;
        }
        this.search=null;
        this.searchTerm = null;
        this.$emit('update', val || (this.multiple ? [] : ""));
      }
    }
  }, 
  watch: {
    selectedItems(){
      // console.log("item select",this.selectedItems)
    },
    searchTerm(val) {
      this.searchTerm = val;
      this.debouncing();
    }
  },
  beforeDestroy(){
    console.log("destrooooy")
    this.selectedItems = this.allIn ? [] : ""
  },
  methods: {
    doLoadData() {
      if (this.loadData && this.loadData instanceof Function) {
        this.loadData(this.searchTerm);
        return;
      } else if (this.apiUrl) {
        //console.log("[loadLocatorPoints] LOAD ITEMS. SEARCH: ", this.searchTerm);
        this.loadingLabel = "Loading...";
        var me = this;
        if (this.lazyMode) {
          if(!this.urlParam){
            CnApi.call({
              url: this.apiUrl + (this.urlParam ? "?page="+ this.urlParams.pageNo +"&size="+ this.urlParams.pageSize : ""),
              method: this.urlParam ? "GET" : (this.post ? "POST" : "GET"),
              ignoreCheckSession: true,
              ignoreLoading:true,
              headers: this.withHeader || null,
              postData: this.urlParam ? null :{
                pageNo: 1,
                pageSize: this.pageSize || 500,
                term: this.searchTerm || "",
                ownerGroup: Cookie.get("role")
              },
              onEveryItem: function(item) {
                me.dataItems.push(item);
              },
              onEmpty: function() {
                //console.log("onEmpty. searching for ", me.searchTerm);
                me.loadingLabel = "Data not found";
              }
            });
          } else {
            console.log("use url param")
            var url;
            if(this.selectReport){
              url = this.apiUrl + "?page="+ this.urlParams.pageNo 
              + "&size="+ this.urlParams.pageSize + (me.searchTerm===null||me.searchTerm.length===0 ?"":"&term="+me.searchTerm)
            } else {
              url = this.apiUrl + "?active=true&page="+ this.urlParams.pageNo 
              + "&size="+ this.urlParams.pageSize +"&sort=name" + (me.searchTerm===null||me.searchTerm.length===0 ?"":"&search="+me.searchTerm)
            }
            CnApi.call({
              url: url,
              method: "GET",
              headers: this.withHeader || null,
              // bearer:"b5c1b8f3-a8d7-3055-a3eb-b451424958d4",
              ignoreCheckSession: true,
              ignoreLoading:true,
              ignoreConsoleLog:true,
              postData:{},
              onResult: function(item) {
                console.log(item)
                if(item.resultCode===0 || (item.items && item.items.length === 0)){
                  console.log("datakosong")
                  me.loadingLabel = "Data not found";
                } else {
                  if(me.selectReport){
                    for (var i = 0; i < item.items.length; i++) {
                      me.dataItems.push(item.items[i]);
                    }
                  } else {
                    me.urlParams.totalPage = item.data.pages.size;
                    console.log("notif group")
                    for (var i = 0; i < item.data.items.length; i++) {
                      me.dataItems.push(item.data.items[i]);
                    }
                  }
                }
              },
              // onEmpty: function() {
              //   //console.log("onEmpty. searching for ", me.searchTerm);
              //   me.loadingLabel = "Data not found";
              // }
            });
          }
        } else {
          if(this.title==="Channels" || this.title==="Notification Event" || !this.title || this.title ==="Contact Groups"){
            console.log("post data notif id",this.title," : ",this.postParams)
            CnApi.call({
              url: this.apiUrl,
              method: this.postParams && this.postParams.length > 0 ? "POST" : "GET",
              ignoreCheckSession: true,
              ignoreLoading:true,
              headers:{
                'Authorization': 'Bearer '+Cookie.get("token"),
                'Content-Type' : 'application/json',
                'Accept'     : 'application/json',
                'X-Client-ID': Cookie.get("clientId"),
                'X-User-ID' : Cookie.get("username")
              },
              postData:this.postParams && this.postParams.length > 0 ? { "notifTypeIds":this.postParams} : null,
              onResult: function(item) {
                console.log("test all select",item)
                if(item.resultCode===0){
                  console.log("datakosong")
                  me.loadingLabel = "Data not found";
                } else {
                  console.log("notif group")
                  if(me.allIn){
                    console.log("all")
                    var selectAll = {
                      name:"Select All",
                      key:"ALL-IN",
                      component:item.data.items
                    }
                    me.dataItems.push(selectAll)
                    if(me.selectedItems.length === 0 ){
                      console.log("otw select all", me.selectedItems)
                      me.selectedItems.push(selectAll)
                    }
                  }
                  if(me.postParams && me.postParams.length > 0){
                    me.dataItems = item.data
                  } else {
                    for (var i = 0; i < item.data.items.length; i++) {
                      me.dataItems.push(item.data.items[i]);
                      // console.log("dataItems",me.dataItems,me.allIn)
                    }
                  }
                }
              },
            });
          } else {
            console.log("codition terkahir")
            CnApi.call({
              url: this.apiUrl,
              method: this.apiResponseDirectItems ? "GET" : "GET",
              directItemsProp: this.apiResponseDirectItems,
              headers: this.withHeader || null,
              ignoreLoading:true,
              postData: this.apiResponseDirectItems ? null : {
                ownerGroup: "NONE",
                pageNo: 1,
                pageSize: 500
              },
              onResult: function(result){
                console.log("result : ",result);
                me.dataItems=result;
              }   
            });
          }
          //console.log("API Response Direct Items for URL: ", this.apiUrl);
          
        }
      }
    },
    clear() {
      console.log("CLEARING");
      this.searchTerm = "";
    },
    restore(lastTerm) {
      console.log("Last TERM = ", lastTerm);
      this.searchTerm = lastTerm;
    }
  },
  created: function () {
    this.debouncing = _.debounce(this.doLoadData, 500);
  },
  mounted() {
    console.log("selected :",this.selected,this.validate)
    if (this.bus) {
      this.bus.$on("clear", this.clear);
      this.bus.$on("restore", this.restore);
      this.bus.$on("reload", this.doLoadData);
    }
    if (!this.lazyMode) {
      //console.log("Non Lazy Mode for ", this.title, " Load Data..");
      this.doLoadData();
    }
  }
};
</script>