<template>
<div class="text-center">
    <v-container class="text-center" style="padding:unset">
    <v-row align='center' justify="center" style="background-color: #0b1115d1;
    width:auto;border-collapse:separate; 
    border-color:#ffffff!important; 
    border-radius:15px; margin-bottom:10px;
    ">
      <v-col style="border-style: none!important; " class="pa-0 col-6">
        <v-col class="text-left" style="padding:unset;color:white;font-family: 'Ubuntu', sans-serif;font-weight:bold;margin-left: 4%; font-size:12px">
        <a :href="route" style="color:white;"><img src="assets/home/back.png" style='width: 10px;height:10px;'/></a> MOBODRIVE 
        </v-col>
      </v-col>
      <v-col class="pa-0" style="border-style: none!important;" v-for="tgl in tgls" v-bind:data="tgl" v-bind:key="tgl.id">
          <v-switch class="ma-0 toggeldata" v-bind:label=tgl.title v-bind:color=tgl.color v-model=tgl.value  
            @change="reloadData(tgl.id)" 
            style="font-family: 'Ubuntu', sans-serif;font-weight: 400;">
          </v-switch>
      </v-col>
    </v-row>
      <v-row align='center' justify="center" style="background-color: #0b1115d1;
    width:auto;border-collapse:separate; 
    border-color:#ffffff!important; 
    border-radius:15px; margin-bottom:10px;
    ">
      <v-col style="padding-top:10px; border-style: none!important;">
        <div class="row">
          <div class="col-3" style="padding:unset">
            <v-menu small
            v-model="menu"
            :offset-y="true"
            :absolute="false"
            :open-on-hover="false"
            :close-on-click="false"
            :close-on-content-click="false"
            >
              <template v-slot:activator="{ on }">
                <v-btn small
                style="font-family: 'Ubuntu', sans-serif;color:white;background: rgba(0,0,0,0.1);border-radius:15px; border: 1px solid #1976d2!important;" 
                v-on="on"
                >
                  Filter Dropdown 
                </v-btn>
              </template>
              <v-list dense style="margin-top:5px;
              background: rgba(72, 72, 72, 0.8); 
              border: 1px solid #1976d2!important;
              padding:unset;">
                <v-row>
                  <v-col style="border-right:1px solid #1976d2!important;">
                    <v-list-item-group dense>
                      <v-list-item xsmall
                        v-for="(item, i) in itemss"
                        :key="i"
                        @click="datalist"
                      >
                        <v-list-item-content>
                          <v-list-item-title small style="color:white;" v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-col>
                </v-row>
                <v-card-actions style="padding:10px;background: rgba(72, 72, 72, 0.8); 
                border-top: 1px solid #1976d2!important;">
                  <v-spacer></v-spacer>
                  <v-btn x-small rounded @click="menu = false">Cancel</v-btn>
                  <v-btn x-small color="warning" rounded @click="menu = false">Save</v-btn>
                </v-card-actions>
              </v-list> 
            </v-menu>
          </div>
          <v-col class="text-right" style="padding-top:unset">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn
                  rounded small class="ma-2" 
                  color="#37A7DF"
                  dark
                  v-on="on"
                  style="background-color:#37A7DF;color:#ffffff;margin:5px !important; margin-top:unset
                  font-family: 'Ubuntu', sans-serif;font-size: 11px;font-weight: bold;
                  border-radius:15px;"
                >
                  Action <img src="assets/home/download.png" style='width: 15px;margin-left:10px'/>
                </v-btn>
              </template>
              <v-list style="border-radius:15px;">
                <v-list-item class="btnUpdate"
                  small
                  v-for="btn in btns"
                  v-bind:key="btn.title1"
                  @click="buttonUpdate(btn)"
                  style="font-family: 'Ubuntu', sans-serif;font-size: 11px;font-weight: bold;"
                >
                  <v-list-item-title style="font-size:12px">{{ btn.title1 }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn class="btntooltip" fab x-small dark v-on="on" color="#37A7DF"
                  style="width: 30px;height: 30px;
                  background-color:#37A7DF;color:#ffffff;margin:5px !important; margin-top:unset
                  font-family: 'Ubuntu', sans-serif;font-size: 11px;font-weight: bold;
                  border-radius:15px;"
                  @click="refreshPage()">
                  <v-img src="assets/home/refresh1.png" style="width:15px"/>
                </v-btn>
                </template>
                <span>Refresh</span>
            </v-tooltip>      
          </v-col>
          <div class="col-2" style="padding:unset">
            <div class="v-input theme--dark v-text-field v-text-field--is-booted" 
            style="padding-top: 3px; padding-right: 5px; 
            padding-bottom: unset; padding-left: unset; 
            font-family: Ubuntu, sans-serif; margin: unset; font-size: 14px;">
              <div class="v-input__control"><div class="v-input__slot">
                <div class="v-text-field__slot">
                  <label for="input-27" class="v-label theme--dark" style="left: 0px; right: auto; position: absolute;"></label>
                  <input id="input-27" type="text" v-debounce="500" v-model.lazy="searchTerm" placeholder="Search">
                </div>
                <div class="v-input__append-inner">
                  <div class="v-input__icon v-input__icon--append">
                    <i aria-hidden="true" class="v-icon notranslate material-icons theme--dark">search</i>
                  </div>
                </div>
              </div>
              <div class="v-text-field__details">
                <div class="v-messages theme--dark">
                  <div class="v-messages__wrapper"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-col>
      <!-- </tr> -->
      <div class="loading"></div>
      <div class="col-12" style="padding:10px; border-style: none!important;">
        <v-data-table fixed-header height="60vh" dark 
        style="width:100%;line-height:12px;color:white;background: rgba(0,0,0,0.3);
        font-family: 'Ubuntu', sans-serif;"
          v-model="selected"
          :headers="tHead"
          :items="list"
          disable-pagination
          hide-default-footer
          item-key="name"
          :show-select="showselect=='true' ? true : false"
          class="elevation-1"
        >
          <template v-slot:body="{ items }">
              <tbody>
                  <tr v-for="item in items" :key="item.id">
                      <td>
                          <v-checkbox class="text-center" style="margin:0px;padding:0px" :value="item" v-model="selected"
                          hide-details
                          />
                      </td>
                      <td>
                        <div class='small text-left'>
                          <strong>{{item.name}}</strong>
                          <div>{{item.driverId?'ID: ':''}}<span>{{item.driverId}}</span></div>
                          <div>{{item.phoneNo?'Phone:'+item.phoneNo+' ':''}}</div>
                        </div>
                      </td>
                      <td style="padding-bottom:5px;padding-top:5px">
                        <div class='small text-left'>
                          <strong>{{item.driverGroup}}</strong>
                          <div><span>{{item.driverCompany}}</span></div>
                        </div>
                      </td>
                      <td class='small text-left'>
                         <div class="small text-left">
                           <strong>{{item.servicePoint}}</strong>
                         </div>
                      </td>
                      <td>
                        <div class='small text-left' style="padding-bottom:5px;padding-top:5px">
                          <div class='text'>{{item.lastAttendance?'Last Success: ':''}}<strong>{{item.lastAttendance?item.lastAttendance.type:''}}</strong></div>
                          <div class='text'>{{item.lastAttendance?'At: ':''}}<strong>{{item.lastAttendance?item.lastAttendance.time:''}}</strong></div>
                          <div class='text'>Via: <strong>{{item.attendanceLog?attribut[item.attendanceLog.by]:'Unknown'}}</strong></div>
                          <div class='text'>{{item.attendanceLog?'On Site: ':''}}<strong>{{item.attendanceLog?item.attendanceLog.site:''}}</strong></div>
                        </div>
                      </td>
                      <td>
                        <div class='small text-left' >
                          <div>Last Logged In:
                            <span v-if=item.lastLoggedIn>{{item.lastLoggedIn}}
                            </span>
                            <span v-else><img src="assets/home/minus.png" style='width: 10px;'/>
                            </span>
                          </div>
                          <div>IMEI:
                            <span v-if=item.imei>{{item.imei}}
                            </span>
                            <span v-else><img src="assets/home/minus.png" style='width: 10px;'/>
                            </span>
                          </div>
                        </div>
                      <td style="padding-bottom:5px;padding-top:5px">
                        <v-row>
                          <div class='small text-left col-9' style="padding:unset;">
                            <div style="padding:unset;">Registered</div>
                          </div>
                          <div class='col' style="padding:unset;">
                            <div v-if=item.accountId style="padding:unset;"><img src="assets/home/checked.png" style='width: 10px;'/></div>
                            <div v-else style="padding:unset;"><img src="assets/home/minus.png" style='width: 10px;'/></div>
                          </div>
                        </v-row>
                        <v-row>
                          <div class='small text-left col-9' style="padding:unset;">
                            <div style="padding:unset;">Logged In</div>
                          </div>
                          <div class='col' style="padding:unset;">
                            <div v-if=item.isLoggedIn style="padding:unset;"><img src="assets/home/checked.png" style='width: 10px;'/></div>
                            <div v-else style="padding:unset;"><img src="assets/home/minus.png" style='width: 10px;'/></div>
                          </div>
                        </v-row>
                        <v-row>
                          <div class='small text-left col-9' style="padding:unset;">
                            <div style="padding:unset;">Password Default</div>
                          </div>
                          <div class='col' style="padding:unset;">
                            <div v-if=item.isPasswordDefault style="padding:unset;"><img src="assets/home/checked.png" style='width: 10px;'/></div>
                            <div v-else style="padding:unset;"><img src="assets/home/minus.png" style='width: 10px;'/></div>
                          </div>
                        </v-row>
                        <v-row>
                          <div class='small text-left col-9' style="padding:unset;">
                            <div style="padding:unset;">Allow Tap</div>
                          </div>
                          <div class='col' style="padding:unset;">
                            <div v-if=item.isProductionTap style="padding:unset;"><img src="assets/home/checked.png" style='width: 10px;'/></div>
                            <div v-else style="padding:unset;"><img src="assets/home/minus.png" style='width: 10px;'/></div>
                          </div>
                        </v-row>
                      </td>
                  </tr>
              </tbody>
          </template>
        </v-data-table>
      </div>
    <!-- </table> -->
  </v-row>
    </v-container>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  import CnApi from "../cn-api"
  import debounce from '../index'
  export default {
      props: ['method','url','header','showselect','params','buttons','route','toggles'],
      directives: {debounce},
      data(){
          return{
              selectDatatable:[],
              attribut:{APP: "Mobodrive", FG: "Finger Machine", AM: "Att. Maintenance"},
              hidden:true,
              hidden2:true,
              menu: false,
              drawer: null,
              selected: [],
              list:[],
              // select: showselect ? show-select : hide-selected,
              circle: false,
              disabled: false,
              stand: false,
              totalVisible: 6,
              tHead: JSON.parse(this.header),
              recordCount:null,
              tampungan:'',
              tampungan2:'',
              searchTerm:'',
              dataSelected:[],
              refreshData:false,
              btns: JSON.parse(this.buttons),
              tgls: this.toggles ? JSON.parse(this.toggles) : [],
              countItems:0,
              //status:'',
              postData: {
                pageNo: JSON.parse(this.params).pageNo,
                pageSize: 10,
                term: '',
                filter: {
                  status: ''
                }
              },
              itemss: [
              {
                text: 'Inbox',
                data: [
                    {
                      text: 'Inbox',
                    },
                    {
                      text: 'Star',
                    },
                    {
                      text: 'Send',
                    },
                    {
                      text: 'Drafts',
                    },
                  ]
                },
                {
                  text: 'Star',
                  data: [
                    {
                      text: 'Star',
                    },
                    {
                      text: 'Inbox',
                    },
                    {
                      text: 'Send',
                    },
                    {
                      text: 'Drafts',
                    },
                  ]
                },
                {
                  text: 'Send',
                  data: [
                    {
                      text: 'Send',
                    },
                    {
                      text: 'Inbox',
                    },
                    {
                      text: 'Star',
                    },
                    {
                      text: 'Drafts',
                    },
                  ]
                },
                {
                  text: 'Drafts',
                  data: [ 
                    {
                      text: 'Drafts',
                    },
                    {
                      text: 'Inbox',
                    },
                    {
                      text: 'Star',
                    },
                    {
                      text: 'Send',
                    },
                  ]
                },
              ],
          }
      },
      watch: {
        searchTerm() {
            console.log("### WATCH SEARCH API RUNNING",this.searchTerm)
            this.reloadData(this.postData.filter.status);
        }
      },
      methods: {
        buttonUpdate(statusUpdate){
          console.log("status update",statusUpdate.status,statusUpdate.tapProdaction)
          console.log("data yang di update",this.selected)
          var postDataUpdate=[]
          for(var s=0; s<this.selected.length; s++){
            var setData = this.selected[s]
            console.log("data select",this.selected[s])
            postDataUpdate.push(
              {
                "accountId":setData.accountId,
                "driverId":setData.driverId,
                "erpId":setData.erpId,
                "name":setData.name,
                "birthDate":setData.birthDate,
                "motherName":setData.motherName,
                "idCardNo":setData.idCardNo
              }
            )
          }
          console.log(postDataUpdate)
          CnApi.action({
            url: "https://api.pancaran-group.co.id/moboadmin"+statusUpdate.status,
            postData: {
              "tapProduction":statusUpdate.tapProdaction,
              "drivers":postDataUpdate
            },
            colllback: function(alertColback){
              alert(alertColback)
            }
          })
          this.refreshData=true
          this.reloadData()
          this.searchTerm=""
        },
        selectedData(item){
          // console.log(item.driverId,item.erpId,item.name,item.birthDate,item.motherName,item.idCardNo)
          console.log(item)
          this.dataSelected.push(item)
        },
        refreshPage(){
          this.refreshData=true
          console.log("refresh page")
          this.tgls=JSON.parse(this.toggles)
          this.status=''
          this.reloadData()
          // this.refreshData=false
          this.searchTerm=""
        },
        datalist(evt){
            console.log("data",evt.target.innerText)
            if(evt.target.innerText!=this.tampungan){
                this.tampungan=evt.target.innerText
                this.hidden=false
                console.log("hidden",this.hidden)
            }else{
                this.hidden=true
            }
        },
        childeren(evt){
            console.log("data",evt.target.innerText)
            if(evt.target.innerText!=this.tampungan2){
                this.tampungan2=evt.target.innerText
                this.hidden2=false
                console.log("hidden",this.hidden2)
            }else{
                this.hidden2=true
            }
        },
        collectPostData() {
          console.log("### getPostData kepanggil. ")
          console.log("   Last Post Data: ", JSON.stringify(this.postData))
          for (let i=0; i<this.tgls.length; i++) {
            if (this.tgls[i].value) {
              console.log(this.tgls[i])
              this.status=this.tgls[i].id
              // statuses.push(this.tgls[i].id)
              //currentStatus = this.tgls[i].id
            }
          }
          console.log(this.status)
          var me = this;
          let temp = {
            pageNo: this.postData.filter.status!==this.status || this.postData.term!==this.searchTerm || this.refreshData==true? 1 : (Number(this.postData.pageNo)<1 ? 1 : Number(this.postData.pageNo) + 1)  ,
            pageSize:this.postData.pageSize,
            term: this.searchTerm,
            filter: {
              status: this.status
            }
          }
          if (this.postData.filter.status!==this.status || this.postData.term!==this.searchTerm || this.refreshData==true) {
            console.log("reset berjalan")
            this.postData.filter.status=this.status
            this.refreshData=false
            this.selected=[]
            this.list = []
          }
          for (let i=0; i<me.tgls.length; i++) {
            me.tgls[i].value = me.tgls[i].id === this.status
            console.log("Checking "+status+" toggle "+i+" "+me.tgls[i].id+". Value = "+me.tgls[i].value)
          }
          return temp
        },
        reloadData(model){
          console.log("#### RELOAD DATA: ", model);
          this.postData = this.collectPostData();
          console.log("NEW Post DATA = ", JSON.stringify(this.postData))
          var me = this;
          CnApi.call({
            url: this.url,
            postData: this.postData,
            beforeResult: function() {
              console.log("beforeResult kepanggil")
            },
            afterResult: function(data) {
              console.log("AFTER RESULT for PageNo: ", data.pageNo,this.postData.pageSize,data.items.length);
              me.postData.pageNo = data.pageNo
              me.countItems=data.items.length      
              
            },
            onEveryItem: function(item) {
              me.list.push(item)
            }            
          });
        },   
      },
      created () {
        window.addEventListener('scroll', this.handleScroll);
      },
      mounted() {
        const listElm = document.querySelector('.v-data-table__wrapper');
        listElm.addEventListener('scroll', e => {
          //console.log('scroll',listElm.scrollTop,listElm.clientHeight, listElm.scrollHeight)
          if(listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
            console.log("countItem ",this.countItems," pageSize ",this.postData.pageSize)
            if(this.countItems && Number(this.countItems)<this.postData.pageSize){
              console.log("data tidak ditambah")
            }
            else{
              this.reloadData()
            }
          }
        });
        console.log("DARI MOUNTED")
        this.reloadData()
    }
  }

</script>