<template>
  <div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
    <v-dialog v-model="gmap.shown" hide-overlay persistent width="200wh" height="150vh">
      <v-card>
        <v-card-title>
          <span class="subtitle-1">{{ gmap.title }}</span>
          <v-spacer></v-spacer>
          <v-btn icon text @click="gmap.shown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <GmapMap :center="gmap.location" :zoom="14" style="width:100wh; height: 60vh;">
            <GmapMarker
              :position="gmapMarker"
              :clickable="true"
              @click="openWindow"
            >
              <gmap-info-window
                    @closeclick="window_open=false"
                    :opened="window_open"
                    :position="gmapMarker"
                    :options="{
                      pixelOffset: {
                        width: 0,
                        height: -35
                      }
                    }"
                    >
                    <v-container class="pa-0" style="width:300px" v-if="gmap.dataDriver">
                      <b class="font-weight-bold">Vehicle No :</b> {{ gmap.dataDriver.vehicleNo }}<br>
                      <b class="font-weight-bold">Driver Id :</b> {{ gmap.dataDriver.driverId }}<br>
                      <b class="font-weight-bold">Driver Name :</b> {{ gmap.dataDriver.driverName }}<br>
                      <b class="font-weight-bold">{{ address }} :</b> {{gmap.address }}<br>
                      <b class="font-weight-bold">GPS Type :</b> {{gmap.instanceType }}
                    </v-container>
                </gmap-info-window>
            </GmapMarker>
          </GmapMap>
        </v-card-text>
      </v-card>
    </v-dialog>
    <header-toggle 
    :readonly=true 
    :title="shipmentdetail" 
    :bus="toggleBus" 
    :toggles="tgls" 
    :callback="reloadData" 
    method='POST'
    api-url="https://api.pancaran-group.co.id/moboshipment/countStatusShipment"
    :withHeader=true
    />
    <v-row wrap class="mobospace_header-menu">
      <v-col cols="8" class="text-left" :hidden="filterHidden">
        <shipment-filter 
          :title="filter" 
          :on-save="executeFilter"
          :key="filterKey"
          :actives="filterActive" 
          :filterClientId="filterClient"
          :customer="customer" 
          :site="site" 
          :cancel="cancel"
          :savefilter="savefilter">
          </shipment-filter>
      </v-col>
      <v-col class="text-right px-0">
        <moboreport-download
          :url="'https://api.pancaran-group.co.id/moboreport/user/report-service/template/list?menuId='+windowUrl"/>
      </v-col>
      <v-col class="text-right px-0">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn class="pa-1 mr-2" height="4vh" width="4vh" fab x-small v-on="on" rounded color="#37A7DF" @click="refreshPage()">
              <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>{{ refresh }}</span>
        </v-tooltip>
      </v-col>
      <v-col class="col-3 text-right pr-0 pl-1">
        <search-field :callback="onSearchTerm" dark />
      </v-col>
      <!-- <v-col class="col-3 text-right pr-0 pl-1">
        <search-field :callback="onSearchTerm" :search="search" dark />
      </v-col> -->
    </v-row>
    <v-row
      wrap
      align="center"
      justify="center"
      class="rounded-end-big bgmain-dark"
      style="height:70vh;max-height:80vh;"
    >
      <div class="loading"></div>
      <div
        id="scrollOrder"
        v-if="!statusEmpty"
        style="height:67vh; width:100%; overflow:auto; padding:10px; border-style: none!important;font-family: 'Ubuntu', sans-serif;"
        class="text-left v-data-table__wrapper"
      >
        <v-card
          style="width:100%; background: rgba(0,0,0,0.3);border-radius:15px;border: 1px solid rgba(255, 255, 255, 0.16) !important;margin-bottom:20px; "
          outlined
          v-for="data in list"
          :key="data.id"
        >
          <v-list-item>
            <v-list-item-content style="color:white; font-family: 'Ubuntu', sans-serif;">
              <div
                class="font-weight-bold small"
                style="border-bottom: 1px solid #f8f9fa;padding-bottom: 5px;"
              >
                <div style="width: 98%; float: left">
                  <v-avatar v-if="data.shipmentStatus==='ORDER'" color="yellow" size="10">
                  </v-avatar>
                  <v-avatar v-else-if="data.shipmentStatus==='SHIPMENT'" color="blue" size="10">
                  </v-avatar>
                  <v-avatar v-else color="green" size="10">
                  </v-avatar>
                  <!-- <span
                    color="blue"
                    style="
                          height: 10px;
                          width: 10px;
                          border-radius: 50%;
                          display: inline-block;
                          margin-right: 5px;"
                  ></span> -->
                  {{data.custRef||data.shipmentNo}} ({{data.shipmentNo}})
                </div>
                <div style=" margin-left: 98%;">                
                  <v-btn class="px-2" x-small icon>
                    <v-icon color="white" @click="showDetail(data)"
                      >mdi-eye</v-icon
                    >
                  </v-btn>
                </div>
              </div>
              <v-row>
                <div class="col-2">
                  <!-- <div class="text-value big">
                    <h2>{{data.progress+"%"}}</h2>
                  </div> -->
                  <div
                    class="col text-uppercase font-weight-bold px-0 pt-0 pb-1"
                    style="color:#EE7700"
                  >{{data.customer}}</div>
                  <div class="col small pa-0"
                  >{{data.lastActivity}}</div>
                  <div class="col small pa-0"
                  >{{data.activityLocation ? "At "+data.activityLocation : ""}}</div>
                  <div class="col small pa-0"
                  >{{data.activityTime ? "On "+data.activityTime : ""}}</div>
                </div>
                <div class="col-2">
                  <v-list-item-title
                    class="font-weight-bold"
                    style="padding:unset; color:#EE7700"
                  >{{ job }}</v-list-item-title>
                  <v-list-item-title class="text-white text-uppercase small">{{data.jobCharacter}}</v-list-item-title>
                  <v-list-item-title class="text-white text-uppercase small">{{data.freightType}}</v-list-item-title>
                  <v-list-item-title
                    class="text-white text-uppercase small"
                  >{{data.materialCargo && data.materialCargo.trim().toUpperCase()!=="NONE" ? data.materialCargo:"" }}</v-list-item-title>
                  <v-list-item-title
                    class="text-white text-uppercase small"
                  >{{data.feet && data.feet>1 ? data.feet : ""}}</v-list-item-title>
                </div>
                <div class="col-3">
                  <v-list-item-title class="font-weight-bold" style="color:#EE7700">{{ vehicledriver }}</v-list-item-title>
                  <!-- <v-list-item-title class="text-white text-uppercase small">{{data.vehicleNo}}</v-list-item-title> -->
                  <v-row>
                    <div v-for="driver in data.drivers"
                      class="col-12 pa-0 text-white small"
                      style=""
                    >
                      <v-row>
                        <v-col v-if="driver" cols="1" class="pa-0 pt-1">
                          <v-icon v-if="['MTN','LOC'].indexOf(driver.statusVehicle)>-1"
                            :disabled="data.shipmentStatus!=='SHIPMENT'"
                            medium dark color="red" 
                            @click="showMap(driver,'BRACK')">mdi-wrench
                          </v-icon>
                          <v-icon v-else 
                          :disabled="['REL','ASS','RTJ'].indexOf(driver.statusVehicle)==-1 || data.shipmentStatus!=='SHIPMENT'" 
                            medium dark color="red" 
                            @click="showMap(driver,'SHIP')">mdi-map-marker-radius
                          </v-icon>
                        </v-col>
                        <v-col cols="10" class="pa-0">
                          <v-col cols="12" class="pa-0 pt-1"
                          >{{driver?driver.vehicleNo:""}}
                          </v-col>
                          <v-col class="pa-0"
                          >{{driver?driver.driverId+" - "+driver.driverName:""}}
                          </v-col>
                      </v-col>
                      </v-row>
                    </div>
                  </v-row>
                  <!-- <v-row v-for="driver in data.drivers" :key="driver.driverId">
                    <v-col cols="6"
                      class="pa-0 text-white small"
                      style=""
                    >{{driver.driverName?"» "+driver.driverName:""}}</v-col>
                    <v-col cols="6"
                      class="pa-0 text-white small"
                      style=""
                    >{{driver.driverId?" - "+driver.driverId:""}}</v-col>
                  </v-row> -->
                  <div class="text-muted font-weight-bold small">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-3">
                  <v-list-item-title
                    class="font-weight-bold"
                    style="padding:unset;color:#EE7700"
                  >Shipment Info</v-list-item-title>
                  <div class="col" style="padding:unset">
                    <span
                      class="text-white small"
                    >{{data.commercialRoute ? data.commercialRoute : ""}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{data.containerNo ? containerno + " : " : ""}}</span>
                    <span class="text-white small">{{data.containerNo ? data.containerNo : ""}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{data.consignee ?  consignee + " :" : ""}}</span>
                    <span class="text-white small">{{data.consignee ? data.consignee : ""}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{data.pickup ? from + " : " : ""}}</span>
                    <span class="text-white small">{{data.pickup ? data.pickup : ""}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{data.dropoff ? to + " : " : ""}}</span>
                    <span class="text-white small">{{data.dropoff ? data.dropoff : ""}}</span>
                  </div>
                </div>
                <div class="col-2">
                  <v-list-item-title class="font-weight-bold" style="color:#EE7700">Progress Info</v-list-item-title>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{data.startTime ? starttime + " : " : ""}}</span>
                    <span class="text-white small">{{data.startTime}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span
                      class="text-white small"
                    >{{targetleadtime+" : "}}</span>
                    <span
                      class="text-white small"
                    >{{data.targetLeadTime>0 ? data.targetLeadTime+" min" : "-"}}</span>
                  </div>
                  <div class="col" style="padding:unset">
                    <span class="text-white small">{{elapsedtime + " : "}}</span>
                    <span class="text-white small">{{data.elapsedTime}}</span>
                  </div>
                </div>
                <v-tooltip top>
                <template v-slot:activator="{ on }">
                <div v-on="on"
                  class="col-1 mt-6"
                  v-if="(data.driverLocation && data.driverLocation.resultCode==1)||(data.vehicleLocation && data.vehicleLocation.resultCode==1)"
                >
                  <v-btn fab x-small dark color="transparent" @click.stop="showGMapDialog(data.shipmentId, data)">
                    <v-img src="assets/home/pin.png" width="10px" />
                  </v-btn>
                  <!-- <v-btn class="bg-transparent text-white h-100" @click.stop="showGMapDialog(data.shipmentId, data)">
                        <img src="assets/home/pin.png" style="width: 25%;" />
                  </v-btn>-->
                </div>
                </template>
                <span>View Location</span>
                </v-tooltip>
              </v-row>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </div>
      <div id="scrollOrder" v-else style=" height:65vh; ">
        <div transparent style="width:83vw; height:65vh;color:white;" outlined>
          <h1 style="padding-top: 15%;">{{ dataisempty }}</h1>
        </div>
      </div>
    </v-row>
    <v-dialog persistent v-model="dialogViewDetail" max-width="900">
      <v-card id="rounded-card">
        <v-card-title class="pa-0">
          <v-toolbar dense flat id="rounded-card">
            <div	
              class="small text-left font-weight-bold"	
              style="font-family: 'Ubuntu'; color: #707070;"	
            >	
              View Detail Shipment Activities	
            </div>	
            <v-spacer></v-spacer>	
            <v-btn	
              icon	
              color="#e04f5f"	
              elevation="0"	
              @click="dialogViewDetail = false"	
            >
              <v-icon>mdi-close-circle</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col cols="4" class="py-0 text-center"> 
              <v-menu offset-y>	
                <template v-slot:activator="{ on }">	
                  <v-btn	
                    rounded	
                    small	
                    color="#37A7DF"	
                    dark	
                    v-on="on"	
                    class="mb-5"	
                  >	
                    {{driverSelected}}	
                    <v-spacer />	
                    <img	
                      src="assets/home/download.png"	
                      class="ml-1"	
                      width="15px"	
                    />	
                  </v-btn>	
                </template>	
                <v-list class="rounded-big">	
                  <v-list-item	
                    v-for="(driverActivity, i) in driverActivities"	
                    :key="i"	
                    small	
                    class="item-action"	
                    @click="selectActivities(driverActivity.driver)"	
                  >	
                    <v-list-item-title class="list-item-font"	
                      >{{driverActivity.driver.fullDriverName}}</v-list-item-title	
                    >	
                  </v-list-item>	
                </v-list>	
              </v-menu>
            </v-col>
          </v-row>
          <v-row class="" style="padding-left: 78px; padding-right: 15px;">
            <v-col cols="2" class="pa-0 text-center"> </v-col>
            <v-col cols="2" class="pa-0 text-center font-weight-bold"> Start Time </v-col>	
            <v-col cols="2" class="pa-0 text-center font-weight-bold"> End Time </v-col>	
            <v-col cols="2" class="pa-0 text-center font-weight-bold"> Status </v-col>	
            <v-col cols="2" class="pa-0 text-center font-weight-bold"> Verified By </v-col>	
            <v-col cols="2" class="pa-0 text-center font-weight-bold"> Verified Date </v-col>
          </v-row>
        </v-container>
        <v-divider class="mt-0"></v-divider>
        <v-row
          id="scrollOrder"
          style="height: 430px; width: 100%; overflow: auto; margin-right: 20px"
        >
          <v-container class="py-0">
            <v-timeline dense clipped class="pa-0">
              <v-timeline-item
                v-for="(locActivities, i) in driverActivitiesSelected.locActivities"
                :key="i"
                class="pa-0 ma-0 pb-2"
                style="align-items: start"
                color="primary"
              >
                <v-row>
                  <v-col cols="5" class="pa-0 font-weight-bold small ">	
                    <v-col cols="12" class="pa-0 font-weight-bold" style="color:#EE7700;">	
                      {{locActivities.locPoint}}	
                    </v-col>	
                    <v-col cols="12" class="pa-0 font-weight-bold small pb-2">	
                      {{locActivities.locCategory}}	
                    </v-col>
                  </v-col>
                </v-row>
                <v-row
                  v-for="(activities, i) in locActivities.activities"
                  :key="i"
                  class="mb-2"
                >
                  <v-col cols="2" class="pa-0 small">
                      {{ activities.actName }}
                  </v-col>
                  <v-col cols="2" class="pa-0 text-center small">
                    {{ activities.start }}
                  </v-col>
                  <v-col cols="2" class="pa-0 text-center small">
                    {{ activities.end }}
                  </v-col>
                  <v-col cols="2" class="small pa-0 text-center">
                    <v-chip
                      v-if="activities.approveStatus != 'IG'"
                      :color="activities.approveStatus == 'RJ'? 'red':'primary'"
                      class="px-6 text-center text-white"
                      width="100%"
                      min-width="200px"
                      x-small
                    >
                      {{ statusShipment.find(a => a.key == activities.approveStatus).name }}
                    </v-chip>
                  </v-col>
                  <v-col cols="2" class="pa-0 text-center small">
                    {{ activities.approveStatusBy }}
                  </v-col>
                  <v-col cols="2" class="pa-0 text-center small">
                    {{ activities.approveStatusTime }}
                  </v-col>
                </v-row>
              </v-timeline-item>
            </v-timeline>
          </v-container>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import CnApi from "../cn-api";
import Cookie from "js-cookie";
export default {
  props: [
    "method",
    "api-base-url",
    "api-data-list",
    "api-data-sum",
    "header",
    "showselect",
    "params",
    "buttons",
    "route",
    "toggles",
    "customer",
    "site",
    "filter",
    "cancel",
    "savefilter",
    "onshipment",
    "finished",
    "ordered",
    "job",
    "vehicledriver",
    "shipmentinfo",
    "progressinfo",
    "route",
    "consignee",
    "from",
    "to",
    "starttime",
    "targetleadtime",
    "elapsedtime",
    "vehicledriverlocation",
    "address",
    "refresh",
    "containerno",
    "dataisempty",
    "shipmentdetail",
    "search",
  ],
  data() {
    return {
      toggle: {
        onShipment: true,
        onFinised: false,
        onOrder: false
      },
      driverSelected: "",
      windowUrl:"",
      activity: "",
      hidden: true,
      hidden2: true,
      menu: false,
      postDataToggle : {},
      drawer: null,
      selected: [],
      list: [],
      driverActivities: [],
      driverActivitiesSelected: [],
      statusShipment:[
        {name:"Approved", key:"AP"},
        {name:"Rejected", key:"RJ"},
        {name:"Waiting ", key:"WA"},
      ],
      readonly: false,
      chips: false,
      disabled: false,
      stand: false,
      dialogViewDetail: false,
      totalVisible: 6,
      pageSize: 10,
      pageNo: 0,
      recordCount: null,
      tampungan: "",
      tampungan2: "",
      filterHidden:false,
      statusEmpty:false,
      btns: this.buttons ? JSON.parse(this.buttons) : [],
      tgls: this.toggles ? JSON.parse(this.toggles) : [],
      status: "SHIPMENT",
      gmap: {
        title: this.vehicledriverlocation,
        shown: false
      },
      searchData:"",
      
      searchingData:false,
      gmapMarker: "",
      window_open: false,
      hasinit: false,
      toggleBus: new Vue(),
      filterActive:"",
      filterData:{},
      filterClient:"",
      filterKey: 0,
    };
  },

  methods: {
    showMap(data,status){
      var me = this;
      //this.gmap = {}
      this.gmap.instanceType = "";
      console.log("data show map",data)
      var urlParams; 
      if(status==='SHIP'){
        urlParams = "?instanceId="+data.vehicleNo+"&instanceId="+data.driverId;
      } else {
        urlParams = "?instanceId="+data.vehicleNo;
      }
      CnApi.call({
        method:"GET",
        url: "https://api.pancaran-group.co.id/mobotracker/service/instance/lastLocations"+urlParams,
        afterResult: function(item) {
          if(!item[0] && !item[1]){
            alert("Location Not Found")
            return;
          }
          item.forEach(setLocations => {
            if(setLocations){
              console.log("data location shipment", setLocations)
              me.showGMapDialog(data, setLocations)
            }
          });
        }
      });
    },
    openWindow () {
        console.log(this);
        this.window_open = true
    },
    executeFilter(filterData, isReset){
      if (isReset) {
        this.filterKey += 1;
      }
        console.log(
          "[MobodriveTable] executeFilter. filterData = ",
          filterData
        );
      this.filterData = filterData;
      this.postDataToggle.filter = filterData
      console.log("filter toggle : ",this.postDataToggle)
      this.pageNo = 0;
      this.list = [];
      this.toggleBus.$emit("getCount",this.postDataToggle)
      this.reloadData("",this.status);
    },
    onSearchTerm(term) {
      console.log("term", term);
      var postDataToggle = {}
      this.postDataToggle.term = term
      this.searchingData=true
      this.searchData=term
      this.toggleBus.$emit("getCount",this.postDataToggle)
      this.reloadData("",this.status);

    },
    showGMapDialog(dataDriver, data) {
      //console.log("GMapDialog is shown for ID: ", id);
      console.log("GMap Data: ", data);
      if(this.gmap && this.gmap.instanceType === 'VEHICLE') return;
      this.gmap.dataDriver = dataDriver;
      this.gmap.data = data;
      this.gmap.shown = true;
      this.gmap.location = {lat:data.lat,lng:data.lng};
      this.gmap.address = data.address
      this.gmap.instanceId = data.instanceId
      this.gmap.instanceType = data.instanceType
      this.gmap.instanceName= data.instanceName
      this.gmapMarker = {
        lat: data.lat,
        lng: data.lng
      };
      // if (data.vehicleLocation && data.vehicleLocation.resultCode == 1) {
      //   console.log(data.vehicleLocation.lat, data.vehicleLocation.lng);
      //   this.gmap.location = data.vehicleLocation;
      //   this.gmap.address = data.vehicleLocation.address
      //   this.gmapMarker = {
      //     lat: data.vehicleLocation.lat,
      //     lng: data.vehicleLocation.lng
      //   };
      // } else {
      //   console.log(data.driverLocation.lat, data.driverLocation.lng);
      //   this.gmap.location = data.driverLocation;
      //   this.gmapMarker = {
      //     lat: data.driverLocation.lat,
      //     lng: data.driverLocation.lng
      //   };
      // }
    },
    reloadData(cek,status) {
      // $(".loading").show();
      // var lastCount = this.recordCount;
      // if (lastCount && Number(lastCount < this.pageSize)) {
      //   return;
      // }
      console.log("STATUS SELECTED = ", this.filterData);
      var me = this;
      CnApi.call({
        //bearer:"a8a3b546-40af-3e13-bf3a-aa460b5cfa5c",
        url: "https://api.pancaran-group.co.id/moboshipment/list",
        getPostData: function() {
          console.log("getPostData kepanggil. pageNo: " + me.pageNo);
          let temp = {};
          temp.pageNo =
            me.status !== status|| me.searchingData || me.refreshData === true
              ? 1
              : Number(me.pageNo) < 1
              ? 1
              : Number(me.pageNo) + 1;
          temp.filter = me.filterData;
          temp.pageSize = me.pageSize;
          temp.status = status;
          temp.term = me.searchData;
          console.log("temp : ", temp)
          return temp;
        },
        beforeResult: function() {
          console.log("beforeResult kepanggil");
          if (me.status !== status || me.refreshData === true || me.searchingData) {
            console.log("Reset Data List");
            me.searchingData=false
            me.status = status;
            me.refreshData =false
            me.list = [];
          }
        },
        afterResult: function (data) {
          console.log("full data",data)
          me.recordCount = data.items.length
          me.pageNo = data.pageNo
          for (let i = 0; i < me.tgls.length; i++) {
            me.tgls[i].value = me.tgls[i].id === me.status;
          }
        },
        headers:{
          'Authorization': 'Bearer '+Cookie.get("token"),
          'Content-Type' : 'application/json',
          'Accept'     : 'application/json',
          'X-Client-ID': Cookie.get("clientId"),
          'X-User' : Cookie.get("username")
        },
        onEveryItem: function(item) {
          console.log("on every items")
          // item.targetLeadTime = item.targetLeadTime + 200;
          if(status === 'SHIPMENT'){
            item.progress = item.progress.toFixed(2)
            item.progress = Number((item.progress+"").replace(".00",""));
          } else if(status === 'FIN'){
            item.progress = 100
          } else {
            item.progress = 0
          }
          item.activity = "On Shipment";
          me.statusEmpty = false;
          me.list.push(item);
        },
        onEmpty(){
          if(me.list.length === 0){
            me.statusEmpty = true;
          }
        },
        onError(callback){
          alert(collback)
        }
      });
    },
    datalist(evt) {
      console.log("data", evt.target.innerText);
      if (evt.target.innerText != this.tampungan) {
        this.tampungan = evt.target.innerText;
        this.hidden = false;
        console.log("hidden", this.hidden);
      } else {
        this.hidden = true;
      }
    },
    refreshPage(cek,status) {
      this.refreshData = true;
      this.reloadData("",this.status);
      this.toggleBus.$emit('refresh');
    },
    childeren(evt) {
      console.log("data", evt.target.innerText);
      if (evt.target.innerText != this.tampungan2) {
        this.tampungan2 = evt.target.innerText;
        this.hidden2 = false;
        console.log("hidden", this.hidden2);
      } else {
        this.hidden2 = true;
      }
    },
    showDetail(item){
      //  $(".loading").show();
      this.driverActivities = [];
      this.driverActivitiesSelected = [];
      var me = this
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboactivity/activity/detail",
        method: "POST",
        postData: {
          shipmentNo: item.shipmentNo,
        },
        ignoreLoading: true,
        onResult: function (result) {
          for ( let i = 0; i < item.drivers.length; i++ ){	
            let driver = item.drivers[i];	
            driver.fullDriverName = driver.vehicleNo + " | " +	
              driver.driverId + " - " + driver.driverName;	
            me.driverActivities[i] = {	
              driver: driver, 	
              locActivities: []	
            };	
            let locPoint = "";	
            let indexAct = 0;	
            result.items.forEach((item, index) => {	
              item.locpoint = item.locpoint ? item.locpoint : "Unnamed Address";	
              let activity = [];	
              activity = me.passDataDetail(result.items[index]);	
              activity.start = 0;	
              if (result.items[index].approveStatusTime)	
                activity.approveStatusTime = me.formatDate(	
                  result.items[index].approveStatusTime	
                );	
              activity.start = me.formatDate(result.items[index].created);	
              activity.end = 0;	
              if (index < result.items.length - 1) {	
                activity.end = me.formatDate(result.items[index + 1].created);
              } else {
                if (	
                  result.items[index].moboactId == "END_TASK" ||	
                  result.items[index].status == "CLOSED" ||	
                  result.items[index].status == "FIN"	
                ) {	
                  activity.end = me.formatDate(result.items[index].created);	
                } else {	
                  activity.end = me.formatDate(Date.now());	
                }
              }

              if(locPoint !== item.locpoint && driver.driverId === item.driverid) {	
              locPoint = item.locpoint;	
              me.driverActivities[i].locActivities.push( {	
                locPoint: item.locpoint,	
                locCategory: item.loccategory,	
                activities: []	
              });	
              me.driverActivities[i].locActivities[indexAct].activities.push(activity);	
              indexAct++;	
              } else if (driver.driverId === item.driverid) {	
                me.driverActivities[i].locActivities[indexAct - 1].activities.push(activity);	
              }	
            });	
          }	
          me.driverSelected = me.driverActivities[0].driver.fullDriverName;
          me.selectActivities(me.driverActivities[0].driver);
          me.dialogViewDetail = true;
        },
      });
    },

    formatDate(oldDate) {
      let date = new Date(oldDate);
      let day = date.getDate();
      let month = '/' + (date.getMonth() + 1);
      let year = '/' + date.getFullYear();
      let hour = ' ' + date.getHours();
      let minutes = date.getMinutes() < 10? ':0' + date.getMinutes(): ':' + date.getMinutes();
      return day + month + year + hour + minutes;
    },
    selectActivities(driver) {	
      this.driverActivitiesSelected = [];	
      this.driverSelected = driver.fullDriverName;	
      this.driverActivitiesSelected = this.driverActivities.find( a => a.driver.driverId == driver.driverId)	
      if(!this.driverActivitiesSelected)	
        this.driverActivitiesSelected = [];	
    },	
    passDataDetail(item) {	
      let activityDetail = [];	
      activityDetail.id = item.id;
      activityDetail.moboactId = item.moboactid;
      activityDetail.actName = item.actname;
      activityDetail.location = item.location;
      activityDetail.driverId = item.driverid;
      activityDetail.driverName = item.drivername;
      activityDetail.fullProgress = item.fullprogress;
      activityDetail.created = item.created;
      activityDetail.approveStatus = item.approvestatus;
      activityDetail.approveStatusBy = item.approvestatusby;
      activityDetail.approveStatusTime = item.approvestatustime?this.formatDate(item.approvestatustime):"";
      activityDetail.locPoint = item.locpoint;
      activityDetail.locCategory = item.loccategory;
      return activityDetail;
    },
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  mounted() {
    console.log("window.location.pathname : ",window.location.pathname)
    this.windowUrl = window.location.pathname.toString();
    this.filterKey +=1
    if(Cookie.get("clientId") === "2C7749C5E9BC4E21AED0593573BEC709"){
      this.filterActive = "CUSTOMER, DRIVER_SITE"
      this.filterClient = false
    } else {
      this.filterHidden = true
    }
    const listElm = document.querySelector("#scrollOrder");
    listElm.addEventListener("scroll", e => {
      // console.log(
      //   "scroll",
      //   listElm.scrollTop,
      //   listElm.clientHeight,
      //   listElm.scrollHeight
      // );
      if (listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
        console.log("total items :",this.recordCount);
        if(this.recordCount<this.pageSize){
          console.log("scroll disabled")
        } else {
          console.log("scroll enabled")
          this.reloadData("",this.status);
        }
      }
    });
    this.reloadData("",this.status);
  }
};
</script>
