<style>
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
</style>
<template>
	<div class="text-left">
		<v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
			<template v-slot:activator="{ on }">
				<v-btn v-on="on" style="background-color: transparent;">
					<v-img src="assets/home/list-new.png" style="width: 30px;"></v-img>
				</v-btn>
			</template>

			<v-card class="v-card-transparent-grey mb-2" height="auto" max-height="600px">
				<h4 class="font-xl-ubuntu" style="padding-top: 25px;margin-left: 25px;color: white;">
					<u>MENU</u>
				</h4>
				<v-container>
					<v-row style="height: auto;">
						<v-col :cols="2" align-self="end" class="px-2">
							<a :href="linkhome">
								<v-btn
									v-if="bLinkAdministration"
									style=""
									class="my-2"
									:class="fav ? 'white--text' : ''"
									icon
									@click="fav = !fav"
								>
									<v-icon style="font-size: 30px;">mdi-home</v-icon>
								</v-btn>
								<v-btn
									v-if="!bLinkAdministration"
									style=""
									class="my-2"
									:class="fav ? 'white--text' : ''"
									icon
									@click="fav = !fav"
								>
									<v-icon style="font-size: 30px;">mdi-home</v-icon>
								</v-btn>
							</a>
							<!-- <a v-if="bLinkAdministration" :href="linkadministration">
								<v-btn
									style=""
									class="my-2"
									:class="fav ? 'white--text' : ''"
									icon
									@click="fav = !fav"
								>
									<v-icon style="font-size: 30px;">mdi-account-cog</v-icon>
								</v-btn>
							</a>  -->
							<!-- <a>
								<v-btn
									style=""
									class="my-2"
									:class="fav ? 'white--text' : ''"
									icon
									@click="dialogRelease = true"
								>
									<v-icon style="font-size: 30px;">mdi-alert-decagram-outline</v-icon>
								</v-btn>
							</a> -->
							<a :href="linklogout">
								<v-btn
									style=""
									class="my-2"
									:class="fav ? 'white--text' : ''"
									icon
									@click="fav = !fav"
								>
									<v-icon style="font-size: 30px;">mdi-power</v-icon>
								</v-btn>
							</a>
						</v-col>
						<v-col v-if="isUserIN" style="border-left: 2px solid grey;" cols="10" class="py-0">
							<h5 class="font-bold-md-ubuntu white--text mx-1 my-0" style="margin-left: 10px;">
								Monitoring
							</h5>
							<a :href="linkmoboconfig">
								<h6 class="font-sm-ubuntu white--text my-1" style="margin-left: 25px;">
									Monitoring Door Access
								</h6>
							</a>
						</v-col>
					</v-row>
				</v-container>
			</v-card>
		</v-menu>
		<release-note-popup v-model="dialogRelease" :dialog.sync="dialogRelease"></release-note-popup>
	</div>
</template>

<script>
import ReleaseNotePopup from "./ReleaseNotePopup.vue";
export default {
	components: { ReleaseNotePopup },
	props: [
		"linkhome",
		"linklogout",
		"linkadministration",
		"linkmoboconfig",
	],
	data: () => ({
		fav: true,
		menu: false,
		menuList: [],
		message: false,
		hints: true,
		bLinkAdministration: false,
		isUserIN: false,
		userMenus: [],
		parentLinkList: [],
		dialogRelease: false,
	}),
	mounted() {
		this.getParams();
	},
	methods: {
		getParams() {
			axios
				.get("/getparams")
				.then((response) => {
					this.userMenus = response.data.usermenufilter;

					if (response.data.logtype == "IN") {
						this.isUserIN = true;
					}

					for (const element of this.userMenus) {
						if (this.parentLinkList.length == 0) {
							this.parentLinkList.push(element.parent_menu);
						} else {
							let index = this.parentLinkList.indexOf(element.parent_menu);
							if (index < 0) {
								this.parentLinkList.push(element.parent_menu);
							}
						}
					}
					this.parentLinkList = this.parentLinkList.sort();

					if (this.isUserIN) this.bLinkAdministration = true;
					else {
						for (const element of this.userMenus) {
							if (element.link == "administration") {
								this.bLinkAdministration = true;
								break;
							}
						}
					}
				})
				.catch((error) => console.log(error));
		},
	},
};
</script>
