<template>
  <v-dialog top="0-px" persistent v-model="dialog" :max-width="modalWidth?modalWidth :'290'">
    <v-card :width="modalWidth ? modalWidth : ''" class="pa-4">
      <v-card-title :class="title?'font-weight-medium':'headline'">{{title ? title.toUpperCase() : 'Mobospace'}}</v-card-title>
      <v-card-text class="pt-4" v-if="htmlText" v-html="caption"></v-card-text>
      <v-card-text v-else>{{caption}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="cyan" text @click="ModalAction(true)">OK</v-btn>
        <v-btn v-if="modalType=='confirm'" color="cyan" text @click="ModalAction(false)">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["bus","title","modalWidth","htmlText"],
  data() {
    return {
      dialog: false,
      caption: "",
      modalType: null
    };
  },
  methods: {
    ModalAction(bReturn) {
      this.dialog = false;
      if (this.modalType == "confirm") {
        console.log("modalAction")
        this.bus.$emit("modalAction", bReturn);
        this.modalType = ""
      } else if(this.modalType == 'next') {
        console.log("next action")
        this.bus.$emit("modalAction", bReturn);
        this.modalType = ""
      }
    },
    ModalActionAlert(bReturn) {
      this.dialog = false;
    }
  },
  mounted() {
    var vm = this;
    this.bus.$on("globalModalConfirm", function(params) {
      vm.caption = params;
      vm.dialog = true;
      vm.modalType = "confirm";
    });
    this.bus.$on("globalModalAlert", function(params, params2) {
      if(params2){
        console.log("params 2",params2)
        vm.modalType = "next";
      } else {
        vm.modalType = "alert";
      }
      vm.caption = params;
      vm.dialog = true;
    });
  }
};
</script>