<style>
.datatablesContentNotif .v-data-table__wrapper table tbody td {
	padding-left: 0;
	font-size: 12px !important;
	font-family: "Ubuntu", sans-serif;
}
/* .datatablesContentNotif .v-data-table__wrapper .v-data-table-header tr th {
  background-color: #393c3e;
} */
.datatablesContentNotif .text-start {
	text-align: left !important;
	padding-left: unset;
}
.datatablesContentNotif .text-start .v-simple-checkbox {
	padding-left: 10px;
}
#rounded-card {
	border-radius: 15px;
}
.theme--light.v-input--is-disabled,
.theme--light.v-input--is-disabled input,
.theme--light.v-input--is-disabled textarea {
	color: #424242;
}
.theme--light.v-select .v-select__selection--disabled {
	color: #424242;
}
</style>
<template>
	<div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
		<header-toggle title="Instance Checkpoint Log" />
		<v-row wrap class="mobospace_header-menu">
			<v-col class="text-left"></v-col>
			<v-col class="text-right">
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							class="pa-1 mr-2"
							fab
							x-small
							dark
							height="26px"
							width="26px"
							v-on="on"
							color="#37A7DF"
							@click="refresh()"
						>
							<v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
						</v-btn>
					</template>
					<span>Refresh</span>
				</v-tooltip>
			</v-col>
			<v-col class="col-3 text-right pr-0 pl-1">
				<search-field dark :callback="onSearchTerm" :search="search" />

				<!-- <v-text-field
          v-model="searchTable"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dark
          class="py-0 px-0"
        ></v-text-field> -->
			</v-col>
		</v-row>
		<v-row
			wrap
			align="center"
			justify="center"
			class="rounded-end-big bgmain-dark"
			style="height:70vh;"
		>
			<div class="loading"></div>
			<v-data-table
				disabled
				:search="searchTable"
				fixed-header
				height="66vh"
				dark
				style="width:100%;line-height:12px;color:white;background: rgba(0,0,0,0.3);
        font-family: 'Ubuntu', sans-serif;"
				:headers="header"
				:items="items"
				disable-pagination
				single-select
				hide-default-footer
				item-key="moboinstance_chkpn_log_id"
				show-select
				:class="'elevation-0'"
			>
				<template v-slot:item.actions="{ item }">
					<v-tooltip top>
						<template v-slot:activator="{ on }">
							<v-btn icon v-on="on">
								<v-icon small class @click="viewDetail(item), (dialogCreate = true)"
									>mdi-eye</v-icon
								>
							</v-btn>
						</template>
						<span>Detail</span>
					</v-tooltip>
				</template>
				<template v-slot:item.nameDriver="{ item }">
					<div class="small text-left">
						{{ item.nameDriver }}
					</div>
				</template>
				<template v-slot:item.siteName="{ item }">
					<div class="small text-left">
						{{ item.siteName }}
					</div>
				</template>
				<template v-slot:item.in_chkpn_type="{ item }">
					<div class="small text-left">
						{{ item.in_chkpn_type }}
					</div>
				</template>
				<template v-slot:item.location="{ item }">
					<div class="small text-left">
						{{ item.location }}
					</div>
				</template>
				<template v-slot:item.in_firsttime="{ item }">
					<div class="small text-left">
						{{ item.in_firsttime }}
					</div>
				</template>
				<template v-slot:item.in_lasttime="{ item }">
					<div class="small text-left">
						{{ item.in_lasttime }}
					</div>
				</template>
				<template v-slot:item.in_leadtime="{ item }">
					<div class="small text-center">
						{{ item.in_leadtime }}
					</div>
				</template>
				<template v-slot:item.in_total_hb="{ item }">
					<div class="small text-center">
						{{ item.in_total_hb }}
					</div>
				</template>
				<template v-slot:item.out_firsttime="{ item }">
					<div class="small text-left">
						{{ item.out_firsttime }}
					</div>
				</template>
				<template v-slot:item.to_chkpn_type="{ item }">
					<div class="small text-left">
						{{ item.to_chkpn_type }}
					</div>
				</template>
				<template v-slot:item.locationOut="{ item }">
					<div class="small text-left">
						{{ item.locationOut }}
					</div>
				</template>
				<template v-slot:item.to_chkpn_dist="{ item }">
					<div class="small text-center">
						{{ item.to_chkpn_dist }}
					</div>
				</template>
				<template v-slot:item.to_chkpn_leadtime="{ item }">
					<div class="small text-center">
						{{ item.to_chkpn_leadtime }}
					</div>
				</template>
				<template v-slot:item.to_chkpn_total_hb="{ item }">
					<div class="small text-center">
						{{ item.to_chkpn_total_hb }}
					</div>
				</template>
				<template v-slot:item.dtstamp="{ item }">
					<div class="small text-left">
						{{ item.dtstamp }}
					</div>
				</template>
				<template v-slot:item.zone="{ item }">
					<div class="small text-left">
						{{ item.zone }}
					</div>
				</template>
			</v-data-table>
		</v-row>
	</div>
</template>
<script>
import CnApi from "../cn-api";
export default {
	props: ["filter", "domain", "headers", "type", "titleModal", "search"],
	data() {
		return {
			header: JSON.parse(this.headers),
			urlParam: "https://api.pancaran-group.co.id/instance_checklog/list/instance_checklog",
			items: [],
			searchTable: "",
			pageNo: 0,
			pageSize: 10,
			recordCount: 0,
			searchTerm: "",
			refreshPage: false,
		};
	},
	methods: {
		onSearchTerm(term) {
			if (this.logLevel > 0) console.log("[MobodriveTable] onSearchTerm. SEARCH TERM = ", term);
			this.searchTerm = term;
			this.refreshPage = true;
			this.getData();
		},
		refresh() {
			this.refreshPage = true;
			this.getData();
		},
		getData() {
			$(".loading").show();
			if (this.refreshPage) {
				this.items = [];
				this.pageNo = 0;
			}
			var me = this;
			CnApi.call({
				url: me.urlParam,
				postData: {
					pageNo: (this.pageNo += 1),
					pageSize: this.pageSize,
					term: this.searchTerm,
				},
				// ignoreLoading:true,
				onEveryItem: function(item) {
					me.recordCount = item.length;
					item.to_chkpn_dist = item.to_chkpn_dist / 1000;
					item.to_chkpn_dist = item.to_chkpn_dist.toFixed(2);
					item.to_chkpn_dist = Number((item.to_chkpn_dist + "").replace(".00", ""));
					console.log(item);
					me.items.push(item);
					me.refreshPage = false;
				},
				afterResult: function(data) {
					$(".loading").hide();
				},
			});
		},
	},
	mounted() {
		const listElm = document.querySelector(".v-data-table__wrapper");
		listElm.addEventListener("scroll", (e) => {
			// console.log(
			//   "scroll",
			//   listElm.scrollTop,
			//   listElm.clientHeight,
			//   listElm.scrollHeight
			// );
			if (listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
				console.log("total items :", this.recordCount);
				if (this.recordCount < this.pageSize) {
					console.log("scroll disabled");
				} else {
					console.log("scroll enabled");
					this.getData();
				}
			}
		});
		this.getData();
	},
};
</script>
