<template>
  <div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
    <v-snackbar
      min-width="2vw"
      width="5vw"
      rounded
      :value="true"
      top
      v-model="snackbar"
      color="#84898c"
      :timeout="4000"
    >
      <v-card
        class="mx-auto bg-transparent elevation-0"
        max-width="400"
        width="300"
        dark
      >
        <v-card-text class="text-white">
          <h5>
            <strong>Mobospace Notification:</strong>
          </h5>
          <div class="text--grey">
            {{message}}
          </div>
        </v-card-text>
      </v-card>
    </v-snackbar>
    <header-toggle title="Monitoring Door Access" />
    <v-row
      wrap
      class="mt-1 rounded-start-big justify-start bgmain-dark"
      style="height: 3vh"
    ></v-row>
    <v-row
      wrap
      align="center"
      justify="center"
      class="rounded-end-big bgmain-dark"
      style="height: 73vh"
    >
      <template>
        <div class="container w-100 h-100 mx-0 pa-0">
          <v-tabs
            v-model="selectedTab"
            vertical
            dark
            color="blue"
            background-color="grey darken-4"
            slider-size="4"
          >
            <v-tab class="pa-0 ma-0" style="min-width:0px" v-show="false" />
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              User Access
            </v-tab>
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              Monitoring Finger Print
            </v-tab>
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              Monitoring RFID
            </v-tab>
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              Report User Access
            </v-tab>
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              Report Access
            </v-tab>
            <v-tab 
              class="font-sm-ubuntu"
              style="justify-content: left; text-transform: unset"
            >
              Check Access Door / Day
            </v-tab>
            <v-tab-item/>
            <v-tab-item style="border-left: 1px solid white">
              <user-table />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <finger-print-table />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <rf-id-table />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <user-access-report-table />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <rf-id-report-table />
            </v-tab-item>
            <v-tab-item style="border-left: 1px solid white">
              <check-door-access-table />
            </v-tab-item>
          </v-tabs>
        </div>
      </template>
    </v-row>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import cnApi from "../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
  props: [],
  data() {
    return {
      selectedTab: null,
      snackbar:false,
      message:"",
      tab:0
    };
  },
  watch:{
    // selectedTab(val){
    //   console.log("selectedTab : ", val);
    //   this.snackbar=true;
    // }
  }, 
  methods:{
    getMessage(){
      var me = this;
        cnApi.call({
          url: "https://myskripsi.pancaran-group.co.id/api/access/get-message",
          method: "GET",
          ignoreLoading: true,
          ignoreConsoleLog: true,
          onResult: function (result) {
            if(result.resultCode===1){
              me.message=result.message;
              me.snackbar=true;
              const audio = new Audio('audio/notif-done.mp3');
              audio.play();
            }
          },
        });
    }
  },
  mounted(){
    var me = this;
    setInterval(function(){
      me.getMessage();
    }, 4000);
  }
};
</script>