<style>
.textarea-label-top .v-label.theme--light {
  top: 10px;
}
.textarea-hint-bottom-right .v-text-field__details {
  left: 94%;
  bottom: -5px;
  position: absolute;
}
.datatablesContentNotif .v-data-table__wrapper table tbody td {
  padding-left: 0;
  font-size: 12px !important;
  font-family: "Ubuntu", sans-serif;
}
/* .datatablesContentNotif .v-data-table__wrapper .v-data-table-header tr th {
  background-color: #393c3e;
} */
.datatablesContentNotif .text-start {
  text-align: left !important;
  padding-left: unset;
}
.datatablesContentNotif .text-start .v-simple-checkbox {
  padding-left: 10px;
}
#rounded-card {
  border-radius: 15px;
}
.theme--light.v-input--is-disabled,
.theme--light.v-input--is-disabled input,
.theme--light.v-input--is-disabled textarea {
  color: #424242;
}
.theme--light.v-select .v-select__selection--disabled {
  color: #424242;
}
.display .v-text-field__details {
  display: none;
}
.wrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
.datatablesContentNotif .v-data-table__wrapper .v-data-table-header i.v-icon.notranslate.mdi.mdi-checkbox-blank-outline.theme--dark{
  display: none;
}
.datatablesContentNotif .v-data-table__wrapper .v-data-table-header i.v-icon.notranslate.mdi.mdi-minus-box.theme--dark{
  display: none;
}
.datatablesContentNotif .v-data-table__wrapper .v-data-table-header .v-input--selection-controls__ripple{
  cursor: default;
}
.datatablesContentNotif .v-data-table__wrapper .v-data-table-header i.v-icon.notranslate.mdi.mdi-checkbox-marked.theme--dark{
  display: none;
}
</style>
<template>
  <div
    v-if="type === 'message'"
    class="container pa-0"
    style="background-color: rgba(11, 17, 21, 0); height: 65vh"
  >
    <!-- <div class="loading"></div> -->
    <modal :bus="bus"></modal>
    <div class="loading"></div>
    <v-snackbar
      min-width="2vw"
      width="5vw"
      rounded
      :value="true"
      top
      v-model="snackbar"
      color="#84898c"
      :timeout="3000"
    >
      <v-card
        class="mx-auto bg-transparent elevation-0"
        max-width="400"
        width="300"
        dark
      >
        <v-card-text class="text-white">
          <h5>
            <strong>Mobospace Notification:</strong>
          </h5>
          <div class="text--grey">
            {{ messageCallback }}
          </div>
        </v-card-text>
      </v-card>
    </v-snackbar>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="2" class="pa-0 pl-4">
        <v-subheader dark>Contact Groups</v-subheader>
      </v-col>
      <v-col cols class="display pa-0">
        <!-- <imp-combobox
          :selected="vContactGroup"
          multiple
          solo
          :notchips="true"
          :lazy-mode="true"
          api-url="https://api.pancaran-group.co.id/mobonotif/api/contact-groups"
          :api-response-direct-items="true"
          :url-param="true"
          v-on:update="vContactGroup = $event"
        ></imp-combobox> -->
        <imp-combobox
          :selected="vContactGroup"
          multiple
          solo
          :lazy-mode=true
          api-url="https://api.pancaran-group.co.id/mobonotif/api/contact-groups"
          :notchips="true"
          :api-response-direct-items="true"
          :url-param="true"
          v-on:update="vContactGroup = $event"
          :withHeader="paramHeader"
          :scroller="true"
        ></imp-combobox>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="2" class="pa-0 pl-4">
        <v-subheader dark>Contacts</v-subheader>
      </v-col>
      <v-col cols class="display pa-0">
        <imp-combobox
          :selected="vContact"
          :listParent="true"
          multiple
          solo
          :notchips="true"
          :lazy-mode="true"
          api-url="https://api.pancaran-group.co.id/mobonotif/api/contacts"
          :api-response-direct-items="true"
          :withHeader="paramHeader"
          :validation="validation"
          :url-param="true"
          v-on:update="vContact = $event"
        ></imp-combobox>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="2" class="pa-0 pl-4">
        <v-subheader dark>Channels</v-subheader>
      </v-col>
      <v-col cols class="display pa-0">
        <imp-combobox
          :key="keyComboboxChannel"
          :selected="vChannel"
          multiple
          solo
          :notchips="true"
          api-url="https://api.pancaran-group.co.id/mobonotif/api/channels"
          :allIn="true"
          :api-response-direct-items="true"
          v-on:update="vChannel = $event"
        ></imp-combobox>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="2" class="pa-0 pl-4">
        <v-subheader dark>Signature</v-subheader>
      </v-col>
      <v-col cols class="display pa-0">
        <imp-combobox
          :selected="vSignature"
          solo
          :notchips="true"
          api-url="https://api.pancaran-group.co.id/mobonotif/api/departments"
          v-on:update="vSignature = $event"
        ></imp-combobox>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="12" class="pa-0 pl-4">
        <v-textarea
          v-model="vMessageTitle"
          class="ml-4 mt-2 textarea-hint-bottom-right textarea_64vw"
          label="Title / Subject"
          height="auto"
          maxlength="60"
          counter="60"
          dense
          solo
          rows="1"
        ></v-textarea>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="12" class="pa-0 pl-4">
        <v-textarea
          v-model="vMessageBody"
          class="ml-4 mt-2 textarea-label-top textarea-hint-bottom-right textarea_64vw"
          label="Body / Notification Message"
          height="20vh"
          maxlength="500"
          counter="500"
          dense
          solo
          rows="1"
        ></v-textarea>
      </v-col>
    </v-row>
    <v-row style="align-items: baseline; width: 100%">
      <v-col cols="2" class="px-0 pl-4">
        <v-btn
          class="text-uppercase font-weight-bold"
          rounded
          color="#3490dc"
          dark
          width="7vw"
          height="4vh"
          small
          elevation="1"
          @click="submitData()"
          >Send</v-btn
        >
      </v-col>
    </v-row>
  </div>
  <div v-else class="container pa-0" style="background-color: rgba(11, 17, 21, 0);height:65vh">
    <div class="loading"></div>
    <v-snackbar
      min-width="2vw"
      width="5vw"
      rounded
      :value="true"
      top
      v-model="snackbar"
      color="#84898c"
      :timeout="3000"
    >
      <v-card
        class="mx-auto bg-transparent elevation-0"
        max-width="400"
        width="300"
        dark
      >
        <v-card-text class="text-white">
          <h5>
            <strong>Mobospace Notification:</strong>
          </h5>
          <div class="text--grey">
            {{messageCallback}}
          </div>
        </v-card-text>
      </v-card>
    </v-snackbar>
    <v-row>
      <v-dialog persistent v-model="dialogCreate" max-width="600">
        <v-card id="rounded-card">
          <v-card-title class="pa-0">
            <v-toolbar dense flat id="rounded-card">
              <span
                class="font-weight-bold"
                style="font-family: 'Ubuntu'; color: #707070"
                >View Sent Item
              </span>
              <v-spacer></v-spacer>
              <v-btn
                icon
                color="#e04f5f"
                elevation="0"
                @click="(dialogCreate = false), (viewDetailData = false)"
              >
                <v-icon>mdi-close-circle</v-icon>
              </v-btn>
            </v-toolbar>
          </v-card-title>
          <v-container text-xs-center>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12" class="pa-0 pl-4">
                  <v-select
                    v-model="vContact"
                    dense
                    height="auto"
                    disabled
                    :items="contact"
                    item-text="name"
                    label="Contact"
                    multiple
                    persistent-hint
                  ></v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="pa-0 pl-4">
                  <v-select
                    v-model="vChannel"
                    dense
                    height="auto"
                    disabled
                    :items="channel"
                    label="Channel"
                    multiple
                    persistent-hint
                  ></v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="pa-0 pl-4">
                  <v-textarea
                    v-model="vMessageTitle"
                    disabled
                    class="textarea_64vw inputSlotFull"
                    label="Title / Subject"
                    height="auto"
                    auto-grow
                    dense
                    rows="1"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="pa-0 pl-4">
                  <v-textarea
                    class="textarea_64vw inputSlotFull"
                    disabled
                    dense
                    v-model="vMessageBody"
                    label="Message Body"
                    auto-grow
                    hint="message body"
                    height="auto"
                    rows="1"
                  ></v-textarea>
                  <!-- <v-textarea
                  v-model="vMessageBody"
                  disabled
                  label="Body / Notification Message"
                  hint="message title"
                  height="auto"
                  dense
                ></v-textarea> -->
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card>
      </v-dialog>
      <v-col sm="7" class="text-left">
      </v-col>
      <v-col md="auto" class="text-right text-center pa-0">
      </v-col>
      <v-col md="auto" class="py-0 ma-0">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn class="mr-3" rounded small color="#37A7DF" dark v-on="on">
              Action
              <v-spacer />
              <img src="assets/home/download.png" class="ml-1" width="15px" />
            </v-btn>
          </template>
          <v-list class="rounded-big" >
            <v-list-item :disabled="type==='contact' || selected.length===0" small class="item-action" @click="deleteData(false)">
              <v-list-item-title class="list-item-font">Delete</v-list-item-title>
            </v-list-item>
            <v-list-item small class="item-action" @click="deleteData(true)">
              <v-list-item-title class="list-item-font">Delete All</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
      <v-col md="auto" class="py-0 pl-0 ma-0">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              class="pa-1 mr-3"
              fab
              x-small
              dark
              height="26px"
              width="26px"
              v-on="on"
              color="#37A7DF"
              @click="refreshPage()"
            >
              <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Refresh</span>
        </v-tooltip>
      </v-col>
      <v-col sm class="pa-0">
        <search-field :callback="searchContact" dark />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          id="MobospaceTableWithTab"
          disabled
          :loading="loading"
          loading-text="Loading... Please wait"
          fixed-header
          dark
          style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
          height="59.5vh"
          v-model="selected"
          :headers="header"
          :items="items"
          disable-pagination
          hide-default-footer
          :search="search"
          item-key="id"
          show-select
          :class="'elevation-0 datatablesContentNotif mr-0'"
        >
          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn :disabled="type === 'contact'" icon v-on="on">
                  <v-icon
                    small
                    class=""
                    @click="viewDetail(item), (dialogCreate = true)"
                    >mdi-eye
                  </v-icon>
                </v-btn>
              </template>
              <span>Detail</span>
            </v-tooltip>
          </template>
          <template v-slot:item.phones="{ item }">
            <div v-for="phone in item.phones" :key="phone.phone">
              <v-row>
                {{ phone.phone }}
              </v-row>
            </div>
          </template>
          <template v-slot:item.numberOfContacts="{ item }">
            <div class="text-center">
              {{ item.numberOfContacts }}
            </div>
          </template>
          <template v-slot:item.body="{ item }">
            <v-row style="width: 200px">
              <div class="wrap" style="width: 200px">{{ item.body }}</div>
            </v-row>
            <!-- <div style="width:200px;white-space: normal;">
              {{item.body}}
            </div> -->
          </template>
          <template v-slot:item.title="{ item }">
            <v-row style="width: 200px">
              <div class="wrap" style="width: 200px">{{ item.title }}</div>
            </v-row>
            <!-- <div style="width:200px;white-space: normal;">
              {{item.body}}
            </div> -->
          </template>
          <template v-slot:item.requestTime="{ item }">
            <div>
              {{ compareDateTime(item.requestTime) }}
            </div>
          </template>
          <template v-slot:item.channels="{ item }">
            <v-container class="py-1">
              <div v-if="item.channels.length === 8">
                <v-row> ALL_CHANNEL </v-row>
              </div>
              <div v-else v-for="channel in item.channels" :key="channel">
                <v-row>
                  {{ channel }}
                </v-row>
              </div>
            </v-container>
          </template>
          <template v-slot:item.notifTypeName="{ item }">
            <v-container class="py-1">
              <div v-for="event in item.dataNotifType" :key="event.id">
                <v-row>
                  {{ event.name }}
                </v-row>
              </div>
            </v-container>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import CnApi from "../cn-api";
import Cookie from "js-cookie";

export default {
  props: ["filter", "domain", "headers", "type", "titleModal"],
  data() {
    return {
      vTitleMessage: "",
      url: "https://api.pancaran-group.co.id/mobonotif",
      contextTitle: "",
      search: "",
      messageCallback: "",
      loading: false,
      snackbar: false,
      searchAktif: "",
      refresh: false,
      uniqueData: [],
      editUnique: "",
      viewDetailData: false,
      bus: new Vue(),
      valid: true,
      items: [],
      channel: [],
      context: [],
      site: [],
      notifType: [],
      contact: [],
      messageTemplate: [],
      urlParam: {
        pageSize: 20,
        pageNo: 0,
        totalPage: null,
      },
      header: JSON.parse(this.headers) || [],
      selected: [],
      dialogCreate: false,
      vChannel: [],
      vcontext: null,
      vNotifType: [],
      vmessagetemplate: null,
      vStatus: {},
      vSite: "",
      keyComboboxChannel: 0,
      vMassage: {},
      vContact: [],
      vContactGroup: [],
      vSignature: "",
      vEngineType: "",
      vKey: "",
      vName: "",
      vDescription: "",
      idData: null,
      validation: false,
      vMessageBody: "",
      changeMultiple: true,
      vMessageTitle: "",
      vMessageProperty: "",
      paramHeader:{
          'Authorization': 'Bearer '+Cookie.get("token"),
          'Content-Type' : 'application/json',
          'Accept'     : 'application/json',
          'X-Client-ID': Cookie.get("clientId"),
          'X-User-ID' : Cookie.get("username")
      },
      rules: {
        requiredUniqueEdit: (val) =>
          (!!val && this.uniqueData.indexOf(val) == -1) ||
          this.editUnique === val ||
          "Edit Key or Name have Unique",

        requiredUnique: (value) =>
          (!!value && this.uniqueData.indexOf(value.toUpperCase()) == -1) ||
          "Key or Name have Unique",

        required: (value) => !!value || "Required.",

        maxCharacter: (v) => v || v.length <= 10 || "Max 25 characters",
        // selected: s => !s || s.length === 0 ? "Select Please",
        //minpassword: v => v.length >= 8 || 'Min 8 characters',
        selected: (v) => !!v || "Item is required",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
    };
  },
  watch: {
    vMessageBody: function (val) {},
    vKey(val) {
      console.log(
        "data unique",
        this.uniqueData,
        this.uniqueData.indexOf(val),
        this.uniqueData.indexOf(val) == -1 || this.editUnique === val
      );
    },
    vName(val) {
      console.log(
        "data unique",
        this.uniqueData,
        this.uniqueData.indexOf(val),
        this.uniqueData.indexOf(val) == -1 || this.editUnique === val
      );
    },
    vChannel(val, oldVal) {
      console.log("val channel :", val, oldVal);
      var me = this;
      val.forEach((selectAll) => {
        if (selectAll.key === "ALL-IN" && val.length === 2) {
          console.log("codistions : ");
          if ("ALL-IN".indexOf(me.vChannel[0].key) !== -1) {
            console.log("delete select all");
            me.vChannel.splice(selectAll, 1);
          } else {
            console.log("select all");
            var channelAll = [];
            console.log("delete before data", selectAll);
            if (selectAll.key === "ALL-IN") {
              channelAll.push(selectAll);
              me.vChannel = channelAll;
            }
          }
        } else if (selectAll.key === "ALL-IN" && val.length > 2) {
          var channelAll = [];
          console.log("delete before data", selectAll);
          if (selectAll.key === "ALL-IN") {
            channelAll.push(selectAll);
            me.vChannel = channelAll;
          }
        }
      });
    },
  },
  methods: {
    deleteData(deleteAll){
      console.log("data selected : ",this.selected)
      const ids = []
      if(!deleteAll){
        this.selected.forEach(item =>{
          ids.push(item.id)
        })
      }
      console.log("ids : ",ids, "delete ALL : ",deleteAll)
      // return;
      var me = this
      CnApi.call({
          method: "DELETE",
          url: me.url + "/api/notif/sent-items",
          postData: {
            deleteAll: deleteAll,
            notifIds:ids
          },
          ignoreLoading:true,
          headers:{
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User-ID' : Cookie.get("username")
          },
          onResult: function(item) {
            console.log("message : ",item)
            me.messageCallback = item.message
            me.snackbar=true
            me.refreshPage()
          }
        });
    },
    compareDateTime(dataTime){
      var date = dataTime.split("T");
      var aarDate = date[0];
      var arrTime = date[1];
      var getDate = aarDate.split("-");
      var getTime = arrTime.split(".");
      var getTimeReal = getTime[0].split(":");
      return (
        getDate[2] +
        "/" +
        getDate[1] +
        "/" +
        getDate[0] +
        " " +
        getTimeReal[0] +
        ":" +
        getTimeReal[1] +
        ":" +
        getTimeReal[2]
      );
    },
    searchContact(search) {
      this.searchAktif = true;
      this.search = search;
      console.log("search : ", search);
      this.items = [];
      this.urlParam.pageNo = 0;
      this.getData();
    },
    viewDetail(selected) {
      console.log("selected : ", selected);
      var me = this;
      CnApi.call({
        method: "GET",
        url: me.url + me.domain + "/" + selected.id,
        postData: {},
        ignoreLoading: true,
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        onResult: function (item) {
          console.log("data", item);
          me.contact = item.data.contacts;
          me.vContact = item.data.contacts;
        },
      });
      if (selected.channels.length === 8) {
        this.channel = ["ALL_CHANNEL"];
        this.vChannel = ["ALL_CHANNEL"];
      } else {
        this.channel = selected.channels;
        this.vChannel = selected.channels;
      }
      this.vMessageBody = selected.body;
      this.vMessageTitle = selected.title;
    },
    refreshPage(){
      this.refresh=true
      this.selected = []
      this.items = [];
      this.urlParam.pageNo = 0;
      this.getData();
    },
    submitData() {
      // this.dialogCreate = false;
      // this.vNotifType = "";
      const contact = [],
        contactGroup = [],
        channel = [];
      console.log("contact : ", this.vContact);

      this.vContact.forEach((contacts) => {
        contact.push(contacts.id);
      });
      this.vContactGroup.forEach((contactGroups) => {
        contactGroup.push(contactGroups.id);
      });
      this.vChannel.forEach((channels) => {
        console.log("in forench channel", channels);
        if (channels.key === "ALL-IN") {
          channels.component.forEach((selectAll) => {
            channel.push(selectAll.key);
          });
        } else {
          channel.push(channels.key);
        }
      });
      var me = this;
      //console.log("contact : ",this.vContact, "contactGroup : ",this.vContactGroup,"channel : ",this.vChannel)
      var params = {
        senderId: this.vSignature.id,
        contacts: contact,
        contactGroups: contactGroup,
        channels: channel,
        title: this.vMessageTitle,
        body: this.vMessageBody,
        requestFrom: Cookie.get("username"),
      };
      console.log("params", params, this.vChannel);
      this.validation = true;
      if (this.vContact.length === 0 && this.vContactGroup.length === 0) {
        alert("Please select Contact or Contact Group");
        return;
      }
      // this.$refs.form.validate()
      // if(this.$refs.form.validate()){
      $('.loading').show();
      this.dialogCreate = false;
      CnApi.call({
        method: "POST",
        url: me.url + me.domain,
        postData: params,
        ignoreLoading: true,
        ignoreConsoleLog: true,
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        onResult: function (item) {
          console.log("data di add", item);
          if (item.resultCode) {
            if (item.resultCode === 1) {
              me.messageCallback = item.message;
              me.snackbar = true;
            }
          }
          me.vContact = [];
          me.vContactGroup = [];
          me.vMessageTitle = "";
          me.vMessageBody = "";
          me.vSignature = "";

          // else {
          //   me.getData();
          // }
          $('.loading').hide();
        },
      });
      this.keyComboboxChannel += 1;
      // }
    },
    getData() {
      console.log("get data search :", this.urlParam.pageNo);
      $('.loading').show()
      var me = this;
      CnApi.call({
        method: "GET",
        url:
          me.url +
          me.domain +
          (me.search.length > 0
            ? "?search=" +
              me.search +
              "&page=" +
              me.urlParam.pageNo +
              "&size=10"
            : "?page=" + me.urlParam.pageNo + "&size=10"),
        postData: {},
        ignoreLoading: true,
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        onResult: function (item) {
          console.log("data", item);
          item.data.items.forEach((data) => {
            me.items.push(data);
          });
          me.urlParam.pageNo += 1;
          if (me.urlParam.totalPage) {
            me.urlParam.totalPage = item.data.pages.totalPages;
          }
          // if(item.resultCode){
          //   if(item.resultCode===1){
          //     me.messageCallback = item.message
          //     me.snackbar=true
          //   }
          // }
          // me.vContact = []
          // me.vContactGroup = []
          // me.vMessageTitle = ""
          // me.vMessageBody = ""
          // me.vSignature = ""
          $('.loading').hide()
        },
      });
    },
  },
  mounted() {
    console.log("notif type", this.type);
    $('.loading').hide()
    if (this.type === "table") {
      var me = this;
      var listElm = document.querySelectorAll(".v-data-table__wrapper");
      listElm.forEach(function (elm) {
        console.log(elm);
        elm.addEventListener("scroll", (e) => {
          if (elm.scrollTop + elm.clientHeight > elm.scrollHeight) {
            if (me.urlParam.pageNo === me.urlParam.totalPage) {
              console.log("[managament notif] scroller. data tidak ditambah");
            } else {
              console.log("[managament notif] scroller. tambah data");
              me.getData();
            }
          }
        });
      });
    }
    if (this.type === "table") {
      this.getData();
    }
  },
};
</script>