 <style>
.theme--light.v-tabs-items {
  background-color: transparent;
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
</style>
 <template>
  <div class="pr-3">
    <mobo-notif />
    <v-menu transition="slide-x-reverse-transition" :close-on-content-click="false" bottom>
      <template v-slot:activator="{ on }">
        <v-btn @click="getAllData" v-on="on" class="v-card-transparent">
          <v-badge :content="totalUnread" :value="totalUnread" color="orange" dot>
            <v-img src="assets/home/dialog-new.png" style="width: 30px;"></v-img>
          </v-badge>
        </v-btn>
      </template>
      <div class="v-card-transparent-grey">
        <v-card class="v-card-transparent">
          <v-tabs v-model="tab" background-color="transparent" grow>
            <v-tabs-slider color="white"></v-tabs-slider>
            <v-tab v-for="header in headers" :key="header">
              <h6 class="font-md-ubuntu white--text">{{ header }}</h6>
            </v-tab>
          </v-tabs>
        </v-card>
      </div>
      <div class="v-card-transparent-grey">
        <v-card
          id="scrollOrder"
          height="75vh"
          max-height="600px"
          width="30vw"
          max-width="500px"
          class="v-menu__content v-card-transparent"
          flat
        >
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-card
                v-if="loadingNote"
                class="v-card-transparent text-center font-lg-ubuntu white--text"
                height="75vh"
                max-height="600px"
                width="30vw"
                flat
              >
                <v-container fill-height>
                  <v-layout row justify-center align-center>
                    <v-progress-circular :size="50" indeterminate color="white"></v-progress-circular>
                  </v-layout>
                </v-container>
              </v-card>
              <v-card
                v-else-if="notificationItems.length==0"
                class="v-card-transparent text-center font-lg-ubuntu white--text"
                height="40vh"
                width="30vw"
                flat
              >
                <v-card class="v-card-transparent" height="15vh" width="30vw"></v-card>
                <v-container fill-height fluid>
                  <v-row align="center" justify="center">
                    <v-icon align="center" justify="center" size="30vh" color="white">mdi-bell-off</v-icon>
                  </v-row>
                  <v-row align="center" justify="center">
                    <v-col>No Notifications</v-col>
                  </v-row>
                </v-container>
              </v-card>
              <div
                v-for="(notificationItem) in notificationItems"
                v-bind:key="notificationItem.id"
                class="v-card-transparent m-2"
              >
                <notification-list-item
                  :notificationItem="notificationItem"
                  type="NOTIFICATION"
                  :username="username"
                  @removeFavorite="removeFavorite($event)"
                  @addFavorite="addFavorite($event)"
                  @deleteNotification="deleteNotification($event)"
                />
              </div>
            </v-tab-item>
            <v-tab-item>
              <v-card
                v-if="loadingFav"
                class="v-card-transparent text-center font-lg-ubuntu white--text"
                height="75vh"
                max-height="600px"
                width="30vw"
                flat
              >
                <v-container fill-height>
                  <v-layout row justify-center align-center>
                    <v-progress-circular :size="50" indeterminate color="white"></v-progress-circular>
                  </v-layout>
                </v-container>
              </v-card>
              <v-card
                v-else-if="isFavoritesEmpty()"
                class="v-card-transparent text-center font-lg-ubuntu white--text"
                height="40vh"
                width="30vw"
                flat
              >
                <v-card class="v-card-transparent" height="15vh" width="30vw"></v-card>
                <v-container fill-height fluid>
                  <v-row align="center" justify="center">
                    <v-icon align="center" justify="center" size="30vh" color="white">mdi-star-off</v-icon>
                  </v-row>
                  <v-row align="center" justify="center">
                    <v-col>No Favorites</v-col>
                  </v-row>
                </v-container>
              </v-card>
              <transition-group name="unfavorited">
                <div
                  v-for="(favoriteItem) in favoriteItems"
                  v-bind:key="favoriteItem.id"
                  class="favorited-item v-card-transparent m-2"
                >
                  <notification-list-item
                    :notificationItem="favoriteItem"
                    type="FAVORITE"
                    :username="username"
                    @removeFavorite="removeFavorite($event)"
                    @addFavorite="addFavorite($event)"
                    @deleteNotification="deleteFavorite($event)"
                  />
                </div>
              </transition-group>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
        <v-footer class="v-card-transparent notification-footer">
          <v-row>
            <v-col>
              <v-btn
                v-show="notificationItems.length!=0 && tab==0"
                @click="deleteAllNotification"
                x-small
                class="v-card-transparent white--text"
              >Clear All Notification</v-btn>
            </v-col>
            <v-col>
              <v-btn
                v-show="notificationItems.length!=0 && tab==0"
                href="/viewdetailnotification"
                x-small
                class="v-card-transparent white--text"
              >Table Views</v-btn>
            </v-col>
          </v-row>
        </v-footer>
      </div>
    </v-menu>
  </div>
</template>

<script>
import CnApi from "../cn-api";
import Cookie from "js-cookie";
export default {
  props: ["notifications"],
  data: () => ({
    tab: null,
    headers: ["Notification", "Favorite"],
    notificationItems: [],
    favoriteItems: [],
    loadingNote: true,
    loadingFav: true,
    bInitScroll: false,
    pageNo: 0,
    pageNoFavorite: 0,
    pageSize: 20,
    totalPage: 0,
    totalPageFavorite: 0,
    id: "",
    totalUnread: 0,
    bNextFavEmpty: false,
    bNextNoteEmpty: false,
    username: Cookie.get("username"),
    paramHeader:{
      'Authorization': 'Bearer '+Cookie.get("token"),
      'Content-Type' : 'application/json',
      'Accept'     : 'application/json',
      'X-Client-ID': Cookie.get("clientId"),
      'X-User-ID' : Cookie.get("username")
    }
  }),
  watch: {
    tab(val, oldVal) {
      if (val != null && oldVal == null) {
        this.getNotification();
        this.getFavorite();
        this.initScroll();
        if (this.totalUnread > 0) this.markReadNotification();
      }
    },
  },
  mounted() {
    // this.getTotalUnread();
  },
  methods: {
    getAllData() {
      this.notificationItems = [];
      this.favoriteItems = [];
      this.pageNo = 0;
      this.pageNoFavorite = 0;
      this.loadingNote = true;
      this.loadingFav = true;
      this.getTotalUnread();
      this.getNotification();
      this.getFavorite();
      if (this.totalUnread > 0) {
        this.markReadNotification();
      }
    },
    initScroll() {
      console.log("Event Scroll Initiated");
      const listElm = document.getElementById("scrollOrder");
      listElm.addEventListener("scroll", (e) => {
        if (listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
          if (this.tab == 0) {
            if (this.pageNo >= this.totalPage) {
              console.log("scroll disabled");
            } else {
              console.log("scroll notifications");
              this.getNotification();
            }
          } else if (this.tab == 1) {
            if (this.pageNoFavorite >= this.totalPageFavorite) {
              console.log("scroll disabled");
            } else {
              console.log("scroll favorites");
              this.getFavorite();
            }
          }
        }
      });
    },
    markReadNotification() {
      var me = this;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "/markread",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader
      });
    },
    removeFavorite(event) {
      let favorite = this.favoriteItems.find((a) => a.id == event);
      let indexRemove = this.favoriteItems.indexOf(favorite);
      if (indexRemove != -1) {
        this.favoriteItems.splice(indexRemove, 1);
      }

      let notification = this.notificationItems.find((a) => a.id == event);
      if (notification.favorite) {
        indexRemove = this.notificationItems.indexOf(notification);
        if (indexRemove != -1) {
          this.notificationItems[indexRemove].favorite = false;
        }
      }
    },
    addFavorite(event) {
      let notification = this.notificationItems.find((a) => a.id == event);
      notification.favorite = true;
      this.favoriteItems.push(notification);
      this.favoriteItems.sort(compare);
    },
    deleteNotification(event) {
      let notification = this.notificationItems.find((a) => a.id == event);
      let indexRemove = this.notificationItems.indexOf(notification);
      this.notificationItems.splice(indexRemove, 1);
      this.getOneNotification();
    },
    deleteFavorite(event) {
      let favorite = this.favoriteItems.find((a) => a.id == event);
      let indexRemove = this.favoriteItems.indexOf(favorite);
      this.favoriteItems.splice(indexRemove, 1);
      if (!this.bNextFavEmpty) this.getOneFavorite();
      else console.log("fav empty");
    },
    deleteAllNotification() {
      var me = this;
      for (var i = 0; i < this.notificationItems.length; i++) {
        if (!this.notificationItems[i].favorite) {
          this.notificationItems.splice(i, 1);
          i--;
        }
      }
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/api/notif-list/user/" +
          this.username +
          "/clear",
        method: "DELETE",
        ignoreCheckSession: true,
        headers:me.paramHeader
      });
    },
    getTotalUnread() {
      var me = this;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "/unreads?page=0&size=" +
          me.pageSize +
          "&sort=id",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader,
        onResult: function (items) {
          if (items.resultCode > 0)
            me.totalUnread = items.data.pages.totalItems;
          else me.totalUnread = 0;
        },
      });
    },
    getNotification() {
      var me = this;
      this.loadingNote = true;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "?page=" +
          me.pageNo +
          "&size=" +
          me.pageSize +
          "&sort=id",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader,
        onResult: function (items) {
          if (items.resultCode) {
            let data = items.data.items;
            for (var i = 0; i < data.length; i++) {
              let body = me.asterixToBold (data[i].body);
              body = me.parseHttps(body);
              let notificationItem = {
                id: data[i].id,
                body: body,
                title: data[i].title,
                favorite: data[i].favorite,
                eventTime: data[i].eventTime,
                isOpen: false,
              };

              if (me.notificationItems.indexOf(notificationItem) < 0) {
                me.notificationItems.push(notificationItem);
                me.totalPage = items.data.pages.totalPages;
              }
            }
          } else this.loadingNote = false;

          console.log("onResult Notification", items.data);
          me.loadingNote = false;
        },
      });
      this.pageNo++;
    },
    getOneNotification() {
      var me = this;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "?page=" +
          me.pageNo * me.pageSize +
          "&size=1&sort=id",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader,
        onResult: function (items) {
          if (items.resultCode == 1) {
            let data = items.data.items;
            for (var i = 0; i < data.length; i++) {
              let body = me.asterixToBold (data[i].body);
              body = me.parseHttps(body);
              let notificationItem = {
                id: data[i].id,
                body: body,
                title: data[i].title,
                favorite: data[i].favorite,
                eventTime: data[i].eventTime,
                isOpen: false,
              };
              me.notificationItems.push(notificationItem);
            }
          } else {
            me.bNextNoteEmpty = true;
          }
          console.log("onResult Notification", items.data);
        },
      });
      this.pageNo++;
    },
    getFavorite() {
      var me = this;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "/favorites?page=" +
          this.pageNoFavorite +
          "&size=" +
          this.pageSize +
          "&sort=id",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader,
        onResult: function (items) {
          if (items.resultCode) {
            let data = items.data.items;
            for (var i = 0; i < data.length; i++) {
              let body = me.asterixToBold (data[i].body);
              body = me.parseHttps(body);
              let favoriteItem = {
                id: data[i].id,
                body: body,
                title: data[i].title,
                favorite: data[i].favorite,
                eventTime: data[i].eventTime,
                isOpen: false,
              };
              if (me.favoriteItems.indexOf(favoriteItem) < 0) {
                me.favoriteItems.push(favoriteItem);
                me.favoriteItems.sort(compare);
              }

              me.totalPageFavorite = items.data.pages.totalPages;
            }
          } else me.loadingFav = false;
          console.log("onResult favorite", items.data);
          me.loadingFav = false;
        },
      });
      this.pageNoFavorite++;
    },
    getOneFavorite() {
      var me = this;
      this.loadingFav = true;
      CnApi.call({
        url:
          "https://api.pancaran-group.co.id/mobonotif/v1.0.0/api/notif-list/user/" +
          this.username +
          "/favorites?page=" +
          this.pageNoFavorite * this.pageSize +
          "&size=1&sort=id",
        method: "GET",
        ignoreCheckSession: true,
        headers:me.paramHeader,
        onResult: function (items) {
          if (items.resultCode == 1) {
            for (var i = 0; i < data.length; i++) {
              let body = me.asterixToBold (data[i].body);
              body = me.parseHttps(body);
              let favoriteItem = {
                id: data[i].id,
                body: body,
                title: data[i].title,
                favorite: data[i].favorite,
                eventTime: data[i].eventTime,
                isOpen: false,
              };
              me.favoriteItems.push(favoriteItem);
              me.favoriteItems.sort(compare);
            }
          } else {
            me.bNextFavEmpty = true;
          }
        },
      });
      this.pageNoFavorite++;
    },
    isFavoritesEmpty() {
      var i;
      var bFavorites = false;
      for (i = 0; i < this.favoriteItems.length; i++) {
        if (this.favoriteItems[i].favorite) {
          bFavorites = true;
        }
      }
      if (this.favoriteItems.length == 0 || !bFavorites) return true;
      else return false;
    },
    parseHttps(oldBody) {
      let newBody = oldBody;
      let index = newBody.indexOf("https://")
      if(index >= 0) {
        let spaceIndex = newBody.indexOf("\n", index);
        if(spaceIndex < 0)
          spaceIndex = newBody.indexOf("\r", index);

        let linkDownload = newBody.slice(index, spaceIndex);
        newBody = newBody.replace(linkDownload, "<a href=\""+ linkDownload +"\">Download Here</a>");
      }
      return newBody;
    },
    asterixToBold(oldBody) {
      let newBody = oldBody;
      var length = newBody.length;
      var affixWord = "<strong>";
      var suffixWord = "</strong>";
      var intAsterix = 0;
      for (var j = 0; j < length; j++) {
        let char = newBody[j];
        if (char == "*") {
          if (intAsterix == 0) {
            newBody =
              newBody.slice(0, j) + affixWord + newBody.slice(j + 1, length);
            length += affixWord.length;
            intAsterix++;
          } else {
            newBody =
              newBody.slice(0, j) + suffixWord + newBody.slice(j + 1, length);
            length += suffixWord.length;
            intAsterix = 0;
          }
        }
      }
      return newBody;
    }
  },
};
function compare(a, b) {
  if (a.eventTime < b.eventTime) return 1;
  if (b.eventTime < a.eventTime) return -1;

  return 0;
}
</script>
