<template>
  <div class="container text-center justify-start w-100 h-100 mx-0 pa-0">
    <header-toggle title="Notification Message" />
    <v-row
      wrap
      class="mt-1 rounded-start-big justify-start bgmain-dark"
      style="height: 3vh"
    ></v-row>
    <v-row
      wrap
      align="center"
      justify="center"
      class="rounded-end-big bgmain-dark"
      style="height: 73vh"
    >
      <template>
        <div class="container w-100 h-100 mx-0 pa-0">
          <v-tabs
            height="30vh"
            v-model="tabs"
            vertical
            dark
            color="blue"
            background-color="grey darken-4"
            slider-size="4"
          >
            <v-tab class="pa-0 ma-0" style="min-width:0px" v-show="false" />
            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left; color: white"
              >Send Message</v-tab
            >
            <v-tab
              class="font-sm-ubuntu"
              style="justify-content: left; color: white"
              >Sent Items</v-tab
            >

            <v-tab-item/>
            <!-- Notifocation Context -->
            <v-tab-item style="border-left: 1px solid white">
              <notification-message-content
                type="message"
                filter="off"
                :key="tabs"
                domain="/api/notif/ext/send"
                headers='[
              {"text":"Context Key", "value":"key"},
              {"text":"Context Name", "value":"name"},
              {"text":"Engine Type", "value":"engineType"}
              ]'
              />
            </v-tab-item>

            <!-- Notifocation Type -->
            <v-tab-item style="border-left: 1px solid white">
              <notification-message-content
                type="table"
                :key="tabs"
                titleModal="Notification Event"
                domain="/api/notif/sent-items"
                headers='[
              {"text":"", "value":"","sortable":false,"width": "5%"},
              {"text":"Title","sortable":false, "value":"title", "width":"150"},
              {"text":"Body","sortable":false, "value":"body", "width":"200"},
              {"text":"Number Of Contact","sortable":false, "value":"numberOfContacts"},
              {"text":"Channels","sortable":false, "value":"channels"},
              {"text":"Message Sent","sortable":false, "value":"requestTime", "width":"200"},
              {"text":"","sortable":false, "value":"actions","width": "5%"}
              ]'
              />
            </v-tab-item>
          </v-tabs>
        </div>
      </template>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tabs: null,
    };
  },
  watch: {
    tabs(val) {
      console.log("tabs", val);
    },
  },
};
</script>