<template>
	<v-dialog v-model="dialog" persistent max-width="1000px">
		<v-card id="rounded-card">
			<v-card-title class="justify-center">
				<v-row>
					<v-col cols="1"></v-col>
					<v-col>
						<v-img
							src="assets/logo/Mobospace.png"
							max-height="300"
							max-width="246"
							class="mx-auto"
						></v-img>
					</v-col>
					<v-col cols="1">
						<v-btn icon color="#e04f5f" elevation="0" @click="clearForm">
							<v-icon>mdi-close-circle</v-icon>
						</v-btn>
					</v-col>
				</v-row>
			</v-card-title>
			<div class="font-weight-bold super-center version-text">Version 2.6.0</div>
			<a
				href="https://drive.google.com/file/d/1rO2wA5Kx6Q2E7Ox6onJGB0GldrtQrO3D/view?usp=sharing"
				class="font-weight-bold font-italic super-center link-release-text pb-5"
				style="font-size:16px;"
				target="_blank"
			>
				[View Release Note]
			</a>
			<v-card-text class="super-center">
				<div class="font-weight-bold body-title">
					Components
				</div>
				<div class="body-column">
					<div class="body-column-left">- Mobospace UI</div>
					<div class="body-column-right">- MoboNotif Management API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- MoboShipment API</div>
					<div class="body-column-right">- MoboReport Management API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- Mobodrive Management API</div>
					<div class="body-column-right">- MoboDataLoader Management API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- MoboTracker API</div>
					<div class="body-column-right">- MoboDFS API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- Logas (Logical Assignment) API</div>
					<div class="body-column-right">- MoboLake Event Publisher API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- Pancaran Inspection Management API</div>
					<div class="body-column-right">- MoboStream API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- Vehicle GPS Management API</div>
					<div class="body-column-right">- MoboDash API</div>
				</div>
				<div class="body-column">
					<div class="body-column-left">- MoboDataLoader API</div>
				</div>
				<div class="footer-release">
					<div class="copyright-text pt-1 pb-0">
						@ Copyright 2020 Mobospace. All Rights Reserved
					</div>
					<div class="copyright-text pb-1">by Pancaran Group</div>
				</div>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
export default {
	props: ["dialog"],
	methods: {
		clearForm() {
			this.$emit("update:dialog", false);
		},
	},
};
</script>

<style scoped>
.body-title {
	width: 65%;
	font-size: 16px;
	font-family: "Ubuntu", sans-serif;
}
.body-column {
	width: 65%;
	display: grid;
	grid-template-columns: minmax(50%, 50%) 1fr;
}
.body-column-left {
	margin-left: 10px;
	font-family: "Ubuntu", sans-serif;
}
.body-column-right {
	margin-left: 70px;
	font-family: "Ubuntu", sans-serif;
}
.version-text {
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	color: gray;
}
.link-release-text {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}
.link-release-text {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}
.footer-release {
	width: 90%;
	margin-top: 40px;
	background-color: #7d68ab;
}
.copyright-text {
	text-align: center;
	color: white;
	font-family: "Ubuntu", sans-serif;
}
</style>
