<style>
  .inputBox.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot{
  padding:0px;
  margin: 0px;
}
.v-text-field.v-text-field--solo.v-input--dense>.v-input__control{
  min-height: 10px;
}
.searchVehicle.v-text-field.v-text-field--solo .v-input__control input{
  font-size:12px
}
</style>
<template>
  <div v-if="type==='box'">
    <v-input
      dense
      height="5vh"
      class="inputBox theme--light v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-flat v-text-field--is-booted v-text-field--enclosed text-small py-0"
    >
      <input type="text"  v-debounce="500" v-model.lazy="searchTerm" placeholder="Search" />
      <v-icon style="border-right: 1px solid #c8cbce;">search</v-icon>
    </v-input>
  </div>
  <div class="col-10 pa-0 pr-3" style="border-right: 1px solid #c8cbce;" v-else-if="type==='searchVehicle'">
    <v-row class="offset-1" style="margin-top:auto">
      <v-col cols="10" class="pa-0 pt-2 ma-0">
        <v-input
        dense
        height="3vh"
        class="searchVehicle inputBox theme--light v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-flat v-text-field--is-booted v-text-field--enclosed text-small py-0"
      >
        <input type="text"  v-debounce="500" v-model.lazy="searchTerm" placeholder="Search" />
        </v-input>
      </v-col>
      <v-col cols="1" class="pa-0">
          <v-icon>search</v-icon>
      </v-col>
    </v-row>
  </div>
  <div v-else>
    <v-input
      dense
      small
      :dark="dark"
      :light="light"
      hide-details="auto"
      full-width
      class="v-text-field v-text-field--is-booted text-small py-0"
    >
      <input type="text" v-debounce="500" v-model.lazy="searchTerm" :placeholder="search" />

      <v-icon>search</v-icon>
    </v-input>
  </div>

  <!-- </v-text-field>
   <div class="v-input theme--dark v-text-field v-text-field--is-booted text-small py-0">
          <div class="v-input__control">
            <div class="v-input__slot">
              <div class="v-text-field__slot">
                <input
                  id="input-27"
                  type="text"
                  v-debounce="500"
                  v-model.lazy="searchTerm"
                  placeholder="Search"
                />
              </div>
              <div class="v-input__append-inner">
                <div class="v-input__icon v-input__icon--append">
                  <i aria-hidden="true" class="v-icon notranslate material-icons theme--dark">search</i>
                </div>
              </div>
            </div>
            <div class="v-text-field__details">
              <div class="v-messages theme--dark">
                <div class="v-messages__wrapper"></div>
              </div>
            </div>
          </div>
  </div>-->
</template>
<script>
import debounce from "../index";
export default {
  /* props: {
    callback: {
      type: Function
    }
  }, */
  props: ["callback", "bus", "dark", "light", "type", "search"],
  directives: { debounce },
  data() {
    return {
      searchTerm: ""
    };
  },
  watch: {
    searchTerm() {
      console.log("### WATCH SEARCH API RUNNING", this.searchTerm);
      this.callback(this.searchTerm);
      //this.reloadData(this.postData.filter.status);
    }
  },
  methods: {
    clear() {
      console.log("CLEARING");
      this.searchTerm = "";
    },
    restore(lastTerm) {
      console.log("Last TERM = ", lastTerm);
      this.searchTerm = lastTerm;
    }
  },
  mounted() {
    if (this.bus) {
      this.bus.$on("clear", this.clear);
      this.bus.$on("restore", this.restore);
    }
  }
};
</script>
