<template>
</template>
<script>
   export default {
    props: ['sessionexpire'],
    mounted () {
        var vSessionExpired = this.sessionexpire;
        console.log("session expire",this.sessionexpire)
        if (!vSessionExpired){
        var refreshTime = 5000;
        window.setInterval( function() {
            console.log('Signal');
            $.ajax({
                cache: false,
                type: "GET",
                url:  ('/mobomap'),
                success: function(data) {
                }
            });
        }, refreshTime );
        }else{
            console.log('Session Expiry : True');
        }
    },
}
</script>
