  <template>
  <v-menu v-if="!filterMap"
    small
    v-model="menu"
    :offset-y="true"
    :absolute="false"
    :open-on-hover="false"
    :close-on-click="false"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        small
        dark
        :class="hasFilter ? 'info' : ''"
        class="white--text rounded-big border-blue px-4 h-100"
      >
        <span v-on="on">
          <v-icon left>mdi-tune</v-icon>
          {{ buttonTitle }}
        </span>
      </v-btn>
      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-icon
            :hidden="!hasFilter"
            v-on="on"
            small
            dark
            class="info ml-1 rounded-circle"
            right
            @click="onReset()"
          >mdi-close</v-icon>
        </template>
        <span>Reset Filter</span>
      </v-tooltip>
    </template>
    <v-row>
      <v-col class="pr-0 pt-1">
        <v-list dense class="border-blue pa-0" width="17vw">
          <v-row>
            <v-col>
              <v-list-item-group dense>
                <v-list-item
                  v-for="(filter, filterKey, idx) in filters"
                  :key="idx"
                  :disabled="filter.disabled"
                  :hidden="filter.hide"
                  x-small
                  @click="onRootClick(filterKey)"
                >
                  <v-list-item-content>
                    <v-list-item-title small class="text--black" color v-text="filter.title"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 ml-2">
              <v-checkbox
                height="2vh"
                class="mt-0 check-box"
                xsmall
                dense
                :true-value="2"
                :false-value="1"
                :value="item.value"
                v-for="(item, i) in chkboxs"
                :key="i"
                @click="onCheckboxClick(item, item.value)"
                :label="item.title"
                :indeterminate="item.value === null || item.value === 0"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-divider sm="3" class="border-blue mt-0 mb-2"></v-divider>
          <v-card-actions class="justify-end pt-0">
            <v-btn x-small rounded @click="menu = false,hideData= true">{{ this.cancel }}</v-btn>
            <v-btn x-small color="warning" rounded @click="save">{{ this.savefilter }}</v-btn>
          </v-card-actions>
        </v-list>
      </v-col>
      <v-col class="pl-1 ml-0 pt-1">
        <v-list v-if="filterClick=='CUSTOMER'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col cols="12" class="align-right py-0 mr-0 pr-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.customers" group>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col sm-6 v-for="(customer, idx) in customers" :key="idx" class="pa-2">
                          <v-btn
                            dense
                            x-small
                            :hidden="search.customer.trim().length>0 && customer.name.trim().toUpperCase().indexOf(search.customer.trim().toUpperCase()) == -1"
                            @click="pickCustomer(customer.id)"
                          >{{ customer.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list
          v-if="filterClick=='DRIVER_GROUP'"
          :hidden="hideData"
          dense
          class="border-blue pa-0"
        >
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverGroups" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(driverGroup, idx) in driverGroups"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverGroup.trim().length>0 && driverGroup.name.trim().toUpperCase().indexOf(search.driverGroup.trim().toUpperCase()) == -1"
                            @click="pickDriverGroup(driverGroup.id)"
                          >{{ driverGroup.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='DRIVER_SITE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverSites" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(driverSite, idx) in driverSites"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverSite.trim().length>0 && driverSite.name.trim().toUpperCase().indexOf(search.driverSite.trim().toUpperCase()) == -1"
                            @click="pickDriverSite(driverSite.id)"
                          >{{ driverSite.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='VEHICLE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.vehicles" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col sm-6 v-for="(vehicle, idx) in vehicles" :key="idx" class="pa-2">
                          <v-btn
                            dense
                            x-small
                            :hidden="search.vehicle.trim().length>0 && vehicle.plateNo.trim().toUpperCase().indexOf(search.trim().toUpperCase().vehicle) == -1"
                            @click="pickVehicle(vehicle.id)"
                          >{{ vehicle.plateNo }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
      </v-col>
    </v-row>
  </v-menu>
  <v-menu v-else
    small
    v-model="menu"
    :offset-y="true"
    :absolute="false"
    :open-on-hover="false"
    :close-on-click="false"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
       <v-btn
        small
        rounded
        :class="hasFilter ? 'info' : ''"
        class="mt-2"
      >
        <span v-on="on">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on">mdi-tune</v-icon>
            </template>
            <span>Filter</span>
          </v-tooltip>
        </span>
      </v-btn>
      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-icon
            :hidden="!hasFilter"
            v-on="on"
            small
            dark
            class="info ml-1 rounded-circle mt-2"
            right
            @click="onReset()"
          >mdi-close</v-icon>
        </template>
        <span>Reset Filter</span>
      </v-tooltip>
    </template>
    <v-row>
      <v-col class="pr-0 pt-1">
        <v-list dense class="border-blue pa-0" width="17vw">
          <v-row>
            <v-col>
              <v-list-item-group dense>
                <v-list-item
                  v-for="(filter, filterKey, idx) in filters"
                  :key="idx"
                  :disabled="filter.disabled"
                  :hidden="filter.hide"
                  x-small
                  @click="onRootClick(filterKey)"
                >
                  <v-list-item-content>
                    <v-list-item-title small class="text--black" color v-text="filter.title"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0 ml-2">
              <v-checkbox
                height="2vh"
                class="mt-0 check-box"
                xsmall
                dense
                :true-value="2"
                :false-value="1"
                :value="item.value"
                v-for="(item, i) in chkboxs"
                :key="i"
                @click="onCheckboxClick(item, item.value)"
                :label="item.title"
                :indeterminate="item.value === null || item.value === 0"
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-divider sm="3" class="border-blue mt-0 mb-2"></v-divider>
          <v-card-actions class="justify-end pt-0">
            <v-btn x-small rounded @click="menu = false,hideData= true">{{ this.cancel }}</v-btn>
            <v-btn x-small color="warning" rounded @click="save">{{ this.savefilter }}</v-btn>
          </v-card-actions>
        </v-list>
      </v-col>
      <v-col class="pl-1 ml-0 pt-1">
        <v-list v-if="filterClick=='CUSTOMER'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col cols="12" class="align-right py-0 mr-0 pr-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.customers" group>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col sm-6 v-for="(customer, idx) in customers" :key="idx" class="pa-2">
                          <v-btn
                            dense
                            x-small
                            :hidden="search.customer.trim().length>0 && customer.name.trim().toUpperCase().indexOf(search.customer.trim().toUpperCase()) == -1"
                            @click="pickCustomer(customer.id)"
                          >{{ customer.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list
          v-if="filterClick=='DRIVER_GROUP'"
          :hidden="hideData"
          dense
          class="border-blue pa-0"
        >
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverGroups" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(driverGroup, idx) in driverGroups"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverGroup.trim().length>0 && driverGroup.name.trim().toUpperCase().indexOf(search.driverGroup.trim().toUpperCase()) == -1"
                            @click="pickDriverGroup(driverGroup.id)"
                          >{{ driverGroup.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='DRIVER_SITE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.driverSites" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col
                          sm-6
                          v-for="(driverSite, idx) in driverSites"
                          :key="idx"
                          class="pa-2"
                        >
                          <v-btn
                            dense
                            x-small
                            :hidden="search.driverSite.trim().length>0 && driverSite.name.trim().toUpperCase().indexOf(search.driverSite.trim().toUpperCase().driverSite) == -1"
                            @click="pickDriverSite(driverSite.id)"
                          >{{ driverSite.name }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
        <v-list v-if="filterClick=='VEHICLE'" :hidden="hideData" dense class="border-blue pa-0">
          <v-card height="51vh" width="35vw" class="overflow-y-auto">
            <v-container>
              <v-row>
                <v-col class="text-right py-0">
                  <search-field :bus="searchBus" light :callback="onSearch" />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn-toggle v-model="toggle_group.vehicles" group multiple>
                    <v-container class="pa-2">
                      <v-row>
                        <v-col sm-6 v-for="(vehicle, idx) in vehicles" :key="idx" class="pa-2">
                          <v-btn
                            dense
                            x-small
                            :hidden="search.vehicle.trim().length>0 && vehicle.plateNo.trim().toUpperCase().indexOf(search.driverSite.trim().toUpperCase().vehicle) == -1"
                            @click="pickVehicle(vehicle.id)"
                          >{{ vehicle.plateNo }}</v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-btn-toggle>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-list>
      </v-col>
    </v-row>
  </v-menu>
</template>
<script>
import CnApi from "../cn-api";
export default {
  props: [
    "title",
    "on-save",
    "checkboxes",
    "actives",
    "log-level",
    "customer",
    "drivergroup",
    "site",
    "filter",
    "cancel",
    "savefilter",
    "hideclose",
    "filterMap",
    "filterClientId"
  ],
  data() {
    return {
      menu: false,
      filterClick: "",
      hasFilter: false,
      buttonTitle: this.title || this.filter,
      hideData: true,
      customers: [],
      driverGroups: [],
      driverSites: [],
      vehicles: [],
      toggle_group: {
        customers: [],
        driverGroups: [],
        driverSites: [],
        vehicles: []
      },
      selectedData: {
        customerId: "",
        driverGroupIds: [],
        driverSiteIds: [],
        vehicleIds: []
      },
      search: {
        customer: "",
        driverGroup: "",
        driverSite: "",
        vehicle: ""
      },
      searchBus: new Vue(),
      filters: {
        CUSTOMER: {
          title: this.customer,
          disabled: false,
          hide: !this.actives || this.actives.indexOf("CUSTOMER") == -1
        },
        DRIVER_GROUP: {
          title: this.drivergroup,
          disabled: !this.actives || this.actives.indexOf("CUSTOMER") > -1,
          hide: !this.actives || this.actives.indexOf("DRIVER_GROUP") == -1
        },
        DRIVER_SITE: {
          title: this.site,
          disabled: !this.actives || this.actives.indexOf("CUSTOMER") > -1,
          hide: !this.actives || this.actives.indexOf("DRIVER_SITE") == -1
        } /*,
        "VEHICLE": {
          title: "Vehicle",
          disabled: true,
          hide: this.actives || this.actives.indexOf("VEHICLE")==-1
        } */
      },
      chkboxs: this.checkboxes ? JSON.parse(this.checkboxes) : []
    };
  },
  methods: {
    onCheckboxClick(item, value) {
      if (this.logLevel > 0)
        console.log(
          "[ShipmentFilter] onCheckboxClick. value before=",
          item.value
        );
      item.value =
        value === null || value === 0 ? 1 : value === 2 ? 0 : value + 1;
      if (this.logLevel > 0)
        console.log(
          "[ShipmentFilter] onCheckboxClick. value after=",
          item.value
        );
    },
    collectList(opts) {
      var me = this;
      if (this.logLevel > 0)
        console.log("[ShipmentFilter] POST DATA = ", opts.postData);
      CnApi.call({
        url: "https://api.pancaran-group.co.id" + opts.apiUri,
        //bearer: this.bearer,
        method: opts.method || "post",
        postData: opts.postData,
        ignoreLoading: true,
        onResult: function(items) {
          me[opts.storeProperty] = items;
        }
      });
    },
    disableChildFilters(isDisabled) {
      for (let key in this.filters) {
        this.filters[key].disabled = isDisabled;
      }
    },
    onSearch(term) {
      if (this.logLevel > 0)
        console.log("[ShipmentFilter] Search term = ", term);
      if (this.filterClick === "CUSTOMER") {
        this.search.customer = term;
      } else if (this.filterClick === "DRIVER_GROUP") {
        this.search.driverGroup = term;
      } else if (this.filterClick === "DRIVER_SITE") {
        this.search.driverSite = term;
      } else if (this.filterClick === "VEHICLE") {
        this.search.vehicle = term;
      }
    },
    pickCustomer(custId) {
      if (this.logLevel > 0)
        console.log("[ShipmentFilter] Pick Customer: ", custId);
      if (this.selectedData.customerId !== custId) {
        this.disableChildFilters(false);
        this.selectedData.customerId = custId;
      } else {
        this.disableChildFilters(true);
        this.selectedData.customerId = "";
      }
      this.selectedData.driverGroupIds = [];
      this.selectedData.driverSiteIds = [];
      this.selectedData.vehicleIds = [];
      this.toggle_group.driverGroups = [];
      this.toggle_group.driverSites = [];
      this.toggle_group.vehicles = [];
    },
    pickDriverGroup(driverGroupId) {
      if (this.logLevel > 0)
        console.log(
          "[ShipmentFilter] Pick Driver Group. Last Selected: ",
          JSON.stringify(this.selectedData)
        );
      let idx = this.selectedData.driverGroupIds.indexOf(driverGroupId);
      if (idx > -1) {
        this.selectedData.driverGroupIds.splice(idx, 1);
      } else {
        this.selectedData.driverGroupIds.push(driverGroupId);
      }
      this.selectedData.driverSiteIds = [];
      this.selectedData.vehicleIds = [];
      this.toggle_group.driverSites = [];
      this.toggle_group.vehicles = [];
    },
    pickDriverSite(driverSiteId) {
      if (this.logLevel > 0)
        console.log(
          "[ShipmentFilter] Pick Driver Site. Last Selected: ",
          JSON.stringify(this.selectedData)
        );
      if (this.hideclose) {
        console.log("vehicleIds hasil stringe");
        this.selectedData.driverSiteIds = driverSiteId;
      } else {
        let idx = this.selectedData.driverSiteIds.indexOf(driverSiteId);
        if (idx > -1) {
          this.selectedData.driverSiteIds.splice(idx, 1);
        } else {
          this.selectedData.driverSiteIds.push(driverSiteId);
        }
      }
    },
    pickVehicle(vehicleId) {
      if (this.logLevel > 0)
        console.log(
          "[ShipmentFilter] Pick Vehicle. Last Selected: ",
          JSON.stringify(this.selectedData)
        );
      let idx = this.selectedData.vehicleIds.indexOf(vehicleId);
      if (idx > -1) {
        this.selectedData.vehicleIds.splice(idx, 1);
      } else {
        this.selectedData.vehicleIds.push(vehicleId);
      }
    },
    save() {
      this.menu = false;
      this.hideData = true;
      if (this.logLevel > 0) console.log("[ShipmentFilter] ON Save");
      if (this.onSave) {
        let filterData = {};
        let hasFilter = false;
        for (let key in this.selectedData) {
          if (this.selectedData[key].length > 0) {
            hasFilter = true;
            filterData[key] = this.selectedData[key];
          }
        }
        this.chkboxs.forEach(chk => {
          if (chk.value === 1 || chk.value === 2) {
            hasFilter = true;
            filterData[chk.id] = chk.value === 2;
          } else if (chk.value === 0) {
            hasFilter = true;
            filterData[chk.id] = null;
          }
        });
        if (hasFilter) {
          // if (this.hideclose) {
          //   this.hasFilter = false;
          // } else {
            this.hasFilter = hasFilter;
          // }
          this.onSave(filterData);
        }
      }
    },
    onReset() {
      this.onSave({}, true);
      this.hasFilter = !this.hasFilter;
    },
    onRootClick(filterId) {
      if (
        ["CUSTOMER", "DRIVER_GROUP", "DRIVER_SITE", "VEHICLE"].indexOf(
          filterId
        ) > -1
      ) {
        if (this.filterClick === filterId) {
          this.filterClick = "";
          return (this.hideData = true);
        } else {
          if (filterId === "CUSTOMER") {
            this.searchBus.$emit("restore", this.search.customer);
            this.collectList({
              apiUri: "/common/listCustomerCdo?pageSize=100",
              method: "get",
              storeProperty: "customers"
            });
          } else if (filterId === "DRIVER_GROUP") {
            this.searchBus.$emit("restore", this.search.driverGroup);
            this.collectList({
              apiUri: "/moboadmin/driver_group/list",
              storeProperty: "driverGroups",
              postData: {
                customerId: this.filterClientId || this.selectedData.customerId
              }
            });
          } else if (filterId === "DRIVER_SITE") {
            this.searchBus.$emit("restore", this.search.driverSite);
            this.collectList({
              apiUri: "/moboadmin/driver_site/list",
              storeProperty: "driverSites",
              postData: {
                customerId: this.filterClientId || this.selectedData.customerId,
                driverGroupIds: this.selectedData.driverGroupIds
              }
            });
          } else if (filterId === "VEHICLE") {
            this.searchBus.$emit("restore", this.search.vehicle);
            this.collectList({
              apiUri: "/moboadmin/driver_site/list",
              storeProperty: "driverSites",
              postData: {
                customerId: this.selectedData.customerId,
                driverGroupIds: this.selectedData.driverGroupIds
              }
            });
          }
        }
        this.filterClick = filterId;
      }
      this.hideData = false;
    }
  },
  mounted() {}
};
</script>
