<style>
    /* th .text-start{
      background: rgba(0,0,0,0.5)
    } */
</style>
<template>
<div class="text-center">
  <v-row align='center' justify="center">
      <v-chip style="width:95%;background-color:black;background: rgba(0,0,0,0.3);border: 1px solid #ffffff!important;"
        cols="6"
        class="ma-2"
        large
      >
        <div style="width:100px;color: white;"> 
          {{ back }}
        </div>
          <div class="col-md-7"></div>
          <div class="col-md-6"></div>
          <v-col cols="12" sm="4" md="3" v-for="item in titledata" v-bind:data="item" v-bind:key="item.title">
          <v-switch v-model="item.value" :label="item.title" class="mx-4" :color=item.color dark></v-switch>
        </v-col>
        <!-- <v-row align='center' justify="center">
          <v-switch
            v-model="sticky"
            label="Sticky Banner"
            hide-details
          ></v-switch>
        </v-row> -->
      </v-chip>
  </v-row>
  <v-row align='center' justify="center">
    <table border="1" 
    style="background-color:black;background: rgba(0,0,0,0.3);width:95%;border-collapse:separate; border-color:#ffffff!important; border-radius:6px;
    ">
      <tr>
        <td class="text-left" style="padding-left:100px;padding-top:10px; border-style: none!important;">
          <v-menu small
          v-model="menu"
        :offset-y="true"
        :absolute="false"
        :open-on-hover="false"
        :close-on-click="false"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <v-btn small
          style="color:white;background: rgba(0,0,0,0.1);border-radius:15px; border: 1px solid #ffffff!important;" 
          v-on="on"
          >
            Filter Dropdown 
          </v-btn>
        </template>
        <v-list dense style="margin-top:5px;
        background: rgba(72, 72, 72, 0.8); 
        border: 1px solid #ffffff!important;
        padding:unset;">
          <v-row>
            <v-col style="border-right:1px solid #ffffff!important;">
        <v-list-item-group dense>
          <v-list-item small
            v-for="(item, i) in itemss"
            :key="i"
            @click="datalist"
          >
            <v-list-item-content>
              <v-list-item-title small style="color:white;" v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
        </v-col>
        <!-- <v-col :hidden="hidden" style="border-right:1px solid #ffffff!important;">
          <v-list-item-group dense v-for="(item, i) in itemss"
              :key="i">
              <v-list-item
              v-if="item.text == tampungan"
              v-for="data in item.data"
              :key="data"
              @click="childeren"
              >
                <v-list-item-content >
                    <v-list-item-title style="color:white;" v-text="data.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
          </v-list-item-group>
        </v-col>
        <v-col :hidden="hidden2">
          <v-list-item-group dense v-for="(item, i) in itemss"
              :key="i">
              <v-list-item
              v-if="item.text == tampungan2"
              v-for="data in item.data"
              :key="data"
              >
                <v-list-item-content >
                    <v-list-item-title style="color:white;" v-text="data.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
          </v-list-item-group>
        </v-col> -->
      </v-row>
      <v-card-actions style="padding:10px;background: rgba(72, 72, 72, 0.8); 
        border-top: 1px solid #ffffff!important;">
          <v-spacer></v-spacer>

          <v-btn x-small rounded @click="menu = false">Cancel</v-btn>
          <v-btn x-small color="warning" rounded @click="menu = false">Save</v-btn>
        </v-card-actions>
      </v-list>
      
      
      </v-menu>
        </td>
      </tr>
      <tr>
      <td class="text-left" style="padding:10px; border-style: none!important;">
        <v-card style="background: rgba(0,0,0,0.3);border-radius:15px; 
        border: 1px solid #ffffff!important;margin-bottom:20px"
    class="mx-auto"
    outlined
    v-for="data in list"
      :key="data.shipmentNo"
    >
    <v-list-item >
      <v-list-item-content style="color:white;">
        <div class="overline mb-4" style="border-bottom:double;border-color:blue;"><v-avatar
        left
        style="margin:5px;height: 12px;min-width: 12px;width: 12px;"
        class="blue"
      >
      </v-avatar>{{data.custRef||data.shipmentNo}}</div>
        <v-row>
          <v-col >
            <v-list-item-title class="headline mb-1" 
            v-bind:class="data.percent<0 ? 'text-danger' : ''"><h2>{{data.percent ? data.percent+"%" : "-"}}</h2></v-list-item-title>
            <v-list-item-title class="text-white">{{data.customer}}</v-list-item-title>
            <v-list-item-title class="text-white small">{{data.activity}}</v-list-item-title>
          </v-col>
          <v-col cols="2">
            <v-list-item-title class="text-white font-weight-bold">Character</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.jobCharacter}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.freightType}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">
              {{data.materialCargo && data.materialCargo.trim().toUpperCase()!=="NONE" ? data.materialCargo:"" }}
              </v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">
              {{data.feet && data.feet>1 ? data.feet : ""}}</v-list-item-title>
          </v-col>
          <v-col>
            <v-list-item-title class="text-white font-weight-bold">Character</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.vehicleNo}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.vehicleDetail}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.driverName+" - "+data.driverId}}</v-list-item-title>
            <div class='text-muted font-weight-bold small'>
              <span class='fa fa-star checked'></span>
              <span class='fa fa-star checked'></span>
              <span class='fa fa-star checked'></span>
              <span class='fa fa-star checked'></span>
              <span class='fa fa-star'></span>
            </div>
          </v-col>
          <v-col>
            <v-list-item-title class="text-white font-weight-bold">Shipment Info</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">Route: {{data.commercialRoute ? data.commercialRoute : ""}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">Container No: {{data.containerNo ? data.containerNo : ""}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">Consignee: {{data.consignee ? data.consignee : ""}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">Pickup: {{data.pickup ? data.pickup : ""}}</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">Dropoff: {{data.dropoff ? data.dropoff : ""}}</v-list-item-title>
          </v-col>
          <v-col>
            <v-list-item-title class="text-white font-weight-bold">Start Time</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">{{data.startTime}}</v-list-item-title>
            <v-list-item-title class="text-white font-weight-bold small">Target Lead Time</v-list-item-title>
            <v-list-item-title class="text-white text-uppercase small">
              {{data.targetLeadTime>0 ? data.targetLeadTime+" min" : "-"}}
              </v-list-item-title> 
            <v-list-item-title class="text-white text-uppercase small">
              Elapsed Time: {{ data.elapsedTime+"min"}}
              </v-list-item-title>
          </v-col>
        </v-row>  
      </v-list-item-content>
    </v-list-item>
  </v-card>
      </td>
      </tr>
    </table>
  </v-row>
  </div>
</template>
<script>
  export default {
      props: ['title','method','url','header','back','showselect','params'],
      data(){
          return{
              activity:'',
              hidden:true,
              hidden2:true,
              menu: false,
              drawer: null,
              selected: [],
              list:[],
              disabled: false,
              stand: false,
              totalVisible: 6,
              titledata: JSON.parse(this.title),
              tHead: JSON.parse(this.header),
              pageSize:JSON.parse(this.params).pageSize,
              pageNo:JSON.parse(this.params).pageNo,
              recordCount:null,
              tampungan:'',
              tampungan2:'',
      itemss: [
        {
          text: 'Inbox',
          data: [
              {
                text: 'Inbox',
              },
              {
                text: 'Star',
              },
              {
                text: 'Send',
              },
              {
                text: 'Drafts',
              },
            ]
          },
          {
            text: 'Star',
            data: [
              {
                text: 'Star',
              },
              {
                text: 'Inbox',
              },
              {
                text: 'Send',
              },
              {
                text: 'Drafts',
              },
            ]
          },
          {
            text: 'Send',
            data: [
              {
                text: 'Send',
              },
              {
                text: 'Inbox',
              },
              {
                text: 'Star',
              },
              {
                text: 'Drafts',
              },
            ]
          },
          {
            text: 'Drafts',
            data: [ 
              {
                text: 'Drafts',
              },
              {
                text: 'Inbox',
              },
              {
                text: 'Star',
              },
              {
                text: 'Send',
              },
            ]
          },
        ],
          }
      },
      methods: {
        datalist(evt){
            console.log("data",evt.target.innerText)
            if(evt.target.innerText!=this.tampungan){
                this.tampungan=evt.target.innerText
                this.hidden=false
                console.log("hidden",this.hidden)
            }else{
                this.hidden=true
            }
        },
        childeren(evt){
            console.log("data",evt.target.innerText)
            if(evt.target.innerText!=this.tampungan2){
                this.tampungan2=evt.target.innerText
                this.hidden2=false
                console.log("hidden",this.hidden2)
            }else{
                this.hidden2=true
            }
        },
      },
      created () {
        window.addEventListener('scroll', this.handleScroll);
      },
      mounted() {
       axios({
            method: "post",
            url: "https://api.pancaran-group.co.id/order/list",
            data:{
              "status": "SHIP",
              "term": "",
              "dateFrom": "2020-01-18",
              "dateTo": "2020-02-17",
              "pageNo": "1",
              "pageSize": "10"
            },

            headers: { 
              'Authorization': 'Bearer a8a3b546-40af-3e13-bf3a-aa460b5cfa5c',
              'Content-Type' : 'application/json',
              'Accept'     : 'application/json'
            }
          })
          .then(response => {
              console.log("driver",response.data.items)
              var data =response.data.items
              var datapercent=[]
              // this.list=response.data.items
              var percent=''
              for(var m=0; m<data.length; m++){
                data[m].targetLeadTime=data[m].targetLeadTime+200
                // console.log("datda",data[m].targetLeadTime)
                
                if (data[m].targetLeadTime > 0) {
                  percent = (data[m].elapsedTime/(data[m].targetLeadTime/100)).toFixed(2);
                  percent = percent > 100 ? (100-percent).toFixed(2) : percent;
                  percent = Number((percent+"").replace(".00",""));
                  data[m].percent=percent
                  data[m].activity="On Shipment"
                  this.list.push(data[m])
                }
              }
              // this.percent='<v-list-item-title class="headline mb-1" v-bind:class="'+ percent<0 ? "text-danger" : ""+'">'+percent ? percent+"%" : "-"+'</v-list-item-title>'
              // console.log("percent",this.percent)
            })
          .catch(error => {
              console.log("error",error)
              this.errored = true
          })
    }
  }

</script>