 <template>
        <v-btn :href="messages"
      style="background-color: transparent;">
        <v-img src="assets/home/email-new.png" style="width: 30px;"></v-img>
      </v-btn>
</template>

<script>
  export default {
    data: () => ({
      fav: true,
      menu: false,
      message: false,
      hints: true,
      messages: "http://localhost:8000/inbox",
    }),
  }
</script>