<template></template>
<script>
import { NativeEventSource, EventSourcePolyfill } from "event-source-polyfill";
import { v4 as uuidv4 } from 'uuid';
export default {
  props: ["map"],
  data() {
    return {
      markers: {}
    };
  },
  mounted() {
    console.log("imei click");
    this.setupStream();
  },
  methods: {
    loadMarkers(data) {
      console.log("location", data.lat, data.lng);
      var mapLocation = new google.maps.LatLng({
        lat: data.lat,
        lng: data.lng
      });
      if (!this.markers[data.instanceId]) {
        var marker = new google.maps.Marker({
          position: mapLocation,
          title: data.instanceId
        });
        marker.setMap(this.map);
        this.markers[data.instanceId] = marker;
      } else {
        this.markers[data.instanceId].setPosition(mapLocation);
      }
    },
    setupStream() {
      var instanceIds = ["220130689","112233"];
      var urlsse = "http://localhost:48081/eventstream/api/stream/location-event/"+uuidv4()+"?instanceId="+instanceIds.join("&instanceId=");
      //var urlsse = "https://api.pancaran-group.co.id/eventstream/api/stream/client-event";
      console.log("url sse :", urlsse);
      var es = new EventSourcePolyfill(urlsse, {
        headers: {
          Authorization: "Bearer b5c1b8f3-a8d7-3055-a3eb-b451424958d4",
          Accept:"application/json",
          // "X-Client-ID": "RaySal1409",
          "X-Client-ID": "11223347",
          "X-Application-ID": "AppRaySal1409"
        }
      });
      var me = this;
      var listener = function(event) {
        var div = document.createElement("div");
        var type = event.type;
        div.appendChild(
          document.createTextNode(
            type + ": " + (type === "LOCATION" ? event.data : es.url)
          )
        );
        document.body.appendChild(div);
        if (type === "message") {
          console.log("RAW DATA RECEIVED = ", event.data);
          var jdata = JSON.parse(event.data);
          console.log("JSON DATA RECEIVED = ", jdata);
          me.loadMarkers(jdata);
        } else if (type === "error") {
          console.log(event);
        }
      };
      es.addEventListener("open", listener);
      es.addEventListener("LOCATION", listener);
      es.addEventListener("error", listener);
    }
  }
};
</script>