<template>
  <div style="float: left">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          :disabled="isListEmpty || isBagoes"
          class="mr-3"
          rounded
          small
          color="#37A7DF"
          dark
          v-on="on"
        >
          Action
          <v-spacer />
          <img src="assets/home/download.png" class="ml-1" width="15px" />
        </v-btn>
      </template>
      <v-list class="rounded-big">
        <v-list-item small class="item-action" @click="editData">
          <v-list-item-title class="list-item-font">Edit</v-list-item-title>
        </v-list-item>
        <v-list-item small class="item-action" @click="deleteData">
          <v-list-item-title class="list-item-font">Delete</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <moboconfig-form
      v-model="dialogUpdate"
      :titleModal="titleModal"
      :vMobocfg="selected"
      :cfgTypeOpt="cfgTypeOpt"
      :dialog.sync="dialogUpdate"
      @refresh="refresh"
      typeForm="edit"
    />
    <moboconfig-output-form
      v-model="dialogUpdateOutput"
      :titleModal="titleModal"
      :vMobocfgOutput="selected"
      :groupActOpt="groupActOpt"
      :cfgTypeOpt="cfgTypeOpt"
      :dialog.sync="dialogUpdateOutput"
      @refresh="refresh"
      typeForm="edit"
    />
    <moboconfig-rule-form
      v-model="dialogUpdateRule"
      :titleModal="titleModal"
      :vMobocfgRule="selected"
      :outputOpt="outputOpt"
      :basedOnOpt="basedOnOpt"
      :siteOpt="siteOpt"
      :driverOpt="driverOpt"
      :vehicleNoOpt="vehicleNoOpt"
      :driverGroupOpt="driverGroupOpt"
      :locctgOpt="locctgOpt"
      :locchkOpt="locchkOpt"
      :customerOpt="customerOpt"
      :consigneeOpt="consigneeOpt"
      :freightOpt="freightOpt"
      :molctgOpt="molctgOpt"
      :jobcharOpt="jobcharOpt"
      :mobocfgOpt="mobocfgOpt"
      :dialog.sync="dialogUpdateRule"
      @refresh="refresh"
      typeForm="edit"
    />
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
export default {
  props: [
    "vUpMobocfgAction",
    "tabMenu",
    "titleModal",
    "cfgTypeOpt",
    "groupActOpt",
    "basedOnOpt",
    "outputOpt",
    "siteOpt",
    "driverOpt",
    "vehicleNoOpt",
    "driverGroupOpt",
    "locctgOpt",
    "locchkOpt",
    "customerOpt",
    "consigneeOpt",
    "freightOpt",
    "molctgOpt",
    "jobcharOpt",
    "mobocfgOpt",
  ],
  computed: {
    isListEmpty() {
      let disabled = true;
      if (this.vUpMobocfgAction) {
        if (this.vUpMobocfgAction.length > 0) disabled = false;
      } else {
        disabled = true;
      }
      return disabled;
    },
    isBagoes() {
      if (this.username.toUpperCase() == "EKA.BAGOES" || this.username.toUpperCase() == "TITO.TEGAR") return false;
      else return true;
    },
  },
  data() {
    return {
      selected: [],
      dialogUpdate: false,
      dialogUpdateOutput: false,
      dialogUpdateRule: false,
      username: Cookie.get("username"),
    };
  },
  methods: {
    refresh() {
      this.$emit("refresh");
    },

    deleteData() {
      if (this.tabMenu == "CONFIG") {
        this.deleteMobocfg();
      } else if (this.tabMenu == "OUTPUT") {
        this.deleteMobocfgOutput();
      } else if (this.tabMenu == "RULE") {
        this.deleteMobocfgRule();
      }
    },

    deleteMobocfg() {
      this.selected = { ...this.vUpMobocfgAction[0] };
      var bConfirm = confirm(
        "Are you sure to delete " + this.selected.name + " ?"
      );
      var me = this;
      if (bConfirm) {
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/config/delete",
          method: "POST",
          postData: {
            id: me.selected.id,
          },
          ignoreLoading: true,
          onResult: function (result) {
            if (result.resultCode == 1) {
              alert("Data Deleted");
            } else {
              alert(result.message);
            }
            me.$emit("refresh");
          },
        });
      }
    },

    deleteMobocfgOutput() {
      this.selected = { ...this.vUpMobocfgAction[0] };
      var bConfirm = confirm(
        "Are you sure to delete " + this.selected.name + " ?"
      );
      var me = this;
      if (bConfirm) {
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/output/delete",
          method: "POST",
          postData: {
            id: me.selected.id,
          },
          ignoreLoading: true,
          onResult: function (result) {
            if (result.resultCode == 1) {
              alert("Data Deleted");
            } else {
              alert(result.message);
            }
            me.$emit("refresh");
          },
        });
      }
    },

    deleteMobocfgRule() {
      this.selected = { ...this.vUpMobocfgAction[0] };
      var bConfirm = confirm(
        "Are you sure to delete " + this.selected.name + " ?"
      );
      var me = this;
      if (bConfirm) {
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/rule/delete",
          method: "POST",
          postData: {
            id: me.selected.id,
          },
          ignoreLoading: true,
          onResult: function (result) {
            if (result.resultCode == 1) {
              alert("Data Deleted");
            } else {
              alert(result.message);
            }
            me.$emit("refresh");
          },
        });
      }
    },

    editData() {
      if (this.tabMenu == "CONFIG") {
        this.dialogUpdate = true;
      } else if (this.tabMenu == "OUTPUT") {
        this.dialogUpdateOutput = true;
      } else if (this.tabMenu == "RULE") {
        this.dialogUpdateRule = true;
      }
      this.selected = JSON.parse(JSON.stringify(this.vUpMobocfgAction[0]));
      this.selected.oldId = this.selected.id;
    },
  },
};
</script>
