<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card id="rounded-card">
        <v-card-title>
          <v-toolbar dense flat id="rounded-card">
            <span
              class="headline"
              style="font-family: 'Ubuntu'; color: #707070"
            >
              <strong>{{ titleModal }}</strong>
            </span>
            <v-spacer></v-spacer>
            <v-btn icon color="#e04f5f" elevation="0" @click="clearFormCreate">
              <v-icon>mdi-close-circle</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card-title>
        <v-card-text id="rounded-card">
          <v-form class="px-3" ref="formcreate" v-model="valid">
            <v-row>
              <v-col cols="12" md="6" class="py-0">
                <v-text-field
                  :readonly="typeForm == 'view'"
                  dense
                  label="Name*"
                  v-model="mobocfg.name"
                  :rules="[rules.required, rules.maxLength]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-0">
                <v-autocomplete
                  :readonly="typeForm == 'view'"
                  :items="cfgTypeOpt"
                  item-text="name"
                  item-value="id"
                  v-model="mobocfg.cfgtype"
                  label="Config Type*"
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-switch
                  :readonly="typeForm == 'view' || mobocfg.isactive"
                  v-model="mobocfg.isactive"
                  label="Is Active"
                  color="#27A8E0"
                  hide-details
                ></v-switch>
              </v-col>
            </v-row>
            <div v-if="typeForm == 'view'">
              <v-row class="pl-4">
                <v-col class="py-0"> Created By </v-col>
                <v-col class="py-0"> Created </v-col>
                <v-col class="py-0"> Updated By </v-col>
                <v-col class="py-0"> Updated </v-col>
              </v-row>
              <v-divider sm="3" insert class="mt-0 mb-2"></v-divider>
              <v-row class="pl-4" v-if="mobocfg.createdby">
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfg.createdby">
                    {{ mobocfg.createdby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfg.created">
                    {{ mobocfg.created }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfg.updatedby">
                    {{ mobocfg.updatedby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfg.updated">
                    {{ mobocfg.updated }}
                  </div>
                </v-col>
              </v-row>
            </div>
            <v-card-actions :hidden="typeForm == 'view'">
              <v-spacer></v-spacer>
              <v-btn
                class="text-uppercase font-weight-bold"
                @click="clearFormCreate"
                small
                rounded
                style="background-color: #e1e1e1; color: #717171; width: 100px"
                >Cancel</v-btn
              >
              <v-btn
                :loading="loading"
                class="text-uppercase font-weight-bold"
                @click="submitData"
                small
                rounded
                style="background-color: #3490dc; color: white; width: 100px"
                >Save</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
  props: ["titleModal", "vMobocfg", "cfgTypeOpt", "dialog", "typeForm"],
  data() {
    return {
      mobocfg: {},
      valid: true,
      loading: false,
      test: "",
      password: "Password",
      bDelete: false,
      bInsert: false,
      bInsertDone: false,
      rules: {
        required: (value) => !!value || "Required.",
        maxLength: (v) => !v || v.length <= 40 || "Max 40 characters",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        maxNumber: (value) => value <= 200 || "Max Value is 200.",
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
      vUpCompany: "",
    };
  },
  watch: {
    dialog(val) {
      if (val && (this.typeForm == "view" || this.typeForm == "edit")) {
        this.mobocfg = { ...this.vMobocfg };
      } else {
        this.mobocfg = [];
      }
    },
  },
  methods: {
    clearFormCreate() {
      if (this.typeForm == "create") {
        this.$refs.formcreate.reset();
      }
      this.$emit("update:dialog", false);
    },
    submitData() {
      if (this.typeForm == "create") {
        this.createMobocfg();
      } else {
        this.updateMobocfg();
      }
    },
    createMobocfg() {
      console.log("mobocfg", this.mobocfg);
      var me = this;
      if (this.$refs.formcreate.validate()) {
        let data = {
          cfgtype: this.mobocfg.cfgtype,
          name: this.mobocfg.name,
          isactive: this.mobocfg.isactive ? true : false,
          client_id: Cookie.get("clientId"),
          createdby: Cookie.get("username"),
        };
        this.loading = true;
        this.valid = false;
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/config/add",
          method: "POST",
          postData: {
            mobocfg: data,
          },
          ignoreLoading: true,
          onResult: function (result) {
            console.log("result add act", result);
            if (result.message == "Success") {
              me.$emit("update:dialog", false);
              me.$emit("refresh");
              me.$refs.formcreate.reset();
            } else {
              alert(result.message);
              me.loading = false;
              me.valid = true;
            }
          },
        });
      }
    },
    updateMobocfg() {
      var me = this;

      let data = {
        oldId: this.mobocfg.oldId,
        cfgtype: this.mobocfg.cfgtype,
        name: this.mobocfg.name,
        isactive: this.mobocfg.isactive,
        client_id: Cookie.get("clientId"),
        updatedby: Cookie.get("username"),
      };
      console.log("updateMobocfg", data);
      this.loading = true;
      this.valid = false;
      if (this.$refs.formcreate.validate()) {
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/config/update",
          method: "POST",
          postData: {
            mobocfg: data,
          },
          ignoreLoading: true,
          onResult: function (result) {
            console.log("result delete all input", result);
            if (result.message == "Success") {
              me.$emit("update:dialog", false);
              me.$emit("refresh");
              me.$refs.formcreate.reset();
            } else {
              alert(result.message);
            }
            me.loading = false;
            me.valid = true;
          },
        });
      }
    },
  },
};
</script>
