<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card id="rounded-card">
        <v-card-title>
          <v-toolbar dense flat id="rounded-card">
            <span
              class="headline"
              style="font-family: 'Ubuntu'; color: #707070"
            >
              <strong>{{ titleModal }}</strong>
            </span>
            <v-spacer></v-spacer>
            <v-btn icon color="#e04f5f" elevation="0" @click="clearFormCreate">
              <v-icon>mdi-close-circle</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card-title>
        <v-card-text id="rounded-card">
          <v-form class="px-3" ref="formcreate" v-model="valid">
            <v-row>
              <v-col cols="12" md="6" class="py-0">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  label="Code*"
                  v-model="mobocfgOutput.code"
                  :rules="[rules.required, rules.maxLength]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-0">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  label="Name*"
                  v-model="mobocfgOutput.name"
                  :rules="[rules.required]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6" class="py-0">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  type="number"
                  label="Line*"
                  v-model="mobocfgOutput.line"
                  :rules="[rules.required, rules.number]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-0">
                <v-autocomplete
                  v-model="mobocfgOutput.target"
                  :readonly="typeForm == 'view'"
                  :items="targetOpt"
                  menu-props="auto"
                  item-text="name"
                  item-value="id"
                  label="Target*"
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6" class="py-0">
                <v-combobox
                  :readonly="typeForm == 'view'"
                  multiple
                  small-chips
                  dense
                  :clearable="typeForm == 'create'"
                  height="auto"
                  :items="groupActOpt"
                  item-text="name"
                  item-value="id"
                  label="Shipment Activity Group"
                  :rules="[rules.required]"
                  v-model="mobocfgOutput.group"
                >
                  <template v-slot:selection="data">
                    <v-chip
                      class="my-1"
                      v-bind="data.attrs"
                      :color="color()"
                      :text-color="fontColor()"
                      :input-value="data.selected"
                      label
                      small
                      @click="data.select"
                    >
                      {{ data.item.name }}
                      <v-icon
                        v-if="typeForm !== 'view'"
                        small
                        @click="removeInput(data.item)"
                        >close</v-icon
                      >
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.name"
                      ></v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-combobox>
              </v-col>
              <v-col cols="12" md="6" class="py-0">
                <v-autocomplete
                  :readonly="typeForm == 'view'"
                  v-model="mobocfgOutput.cfgtype"
                  :items="cfgTypeOpt"
                  item-text="name"
                  item-value="id"
                  menu-props="auto"
                  label="Config Type*"
                  dense
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-switch
                  :readonly="typeForm == 'view' || mobocfgOutput.issystem"
                  v-model="mobocfgOutput.isactive"
                  label="Is Active"
                  color="primary"
                  hide-details
                ></v-switch>
              </v-col>
            </v-row>
            <div v-if="typeForm == 'view'">
              <v-row class="pl-4">
                <v-col class="py-0"> Created By </v-col>
                <v-col class="py-0"> Created </v-col>
                <v-col class="py-0"> Updated By </v-col>
                <v-col class="py-0"> Updated </v-col>
              </v-row>
              <v-divider sm="3" insert class="mt-0 mb-2"></v-divider>
              <v-row class="pl-4" v-if="mobocfgOutput.createdby">
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfgOutput.createdby">
                    {{ mobocfgOutput.createdby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfgOutput.created">
                    {{ mobocfgOutput.created }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfgOutput.updatedby">
                    {{ mobocfgOutput.updatedby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="mobocfgOutput.updated">
                    {{ mobocfgOutput.updated }}
                  </div>
                </v-col>
              </v-row>
            </div>
            <v-card-actions :hidden="typeForm == 'view'">
              <v-spacer></v-spacer>
              <v-btn
                class="text-uppercase font-weight-bold"
                @click="clearFormCreate"
                small
                rounded
                style="background-color: #e1e1e1; color: #717171; width: 100px"
                >Cancel</v-btn
              >
              <v-btn
                :loading="loading"
                class="text-uppercase font-weight-bold"
                @click="submitData"
                small
                rounded
                style="background-color: #3490dc; color: white; width: 100px"
                >Save</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
  props: [
    "titleModal",
    "vMobocfgOutput",
    "groupActOpt",
    "cfgTypeOpt",
    "dialog",
    "typeForm",
  ],
  data() {
    return {
      mobocfgOutput: {},
      valid: true,
      show1: false,
      loading: false,
      test: "",
      password: "Password",
      bLinkDisabled: false,
      bInsert: false,
      targetOpt: [
        {
          id: "SHIPMENT_ACTIVITIES",
          name: "Shipment Activities",
        },
      ],
      rules: {
        required: (value) => !!value || "Required.",
        //minpassword: v => v.length >= 8 || 'Min 8 characters',
        maxLength: (v) => !v || v.length <= 60 || "Max 60 characters",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        maxNumber: (value) => value <= 200 || "Max Value is 200.",
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
      vUpCompany: "",
    };
  },
  watch: {
    dialog(val) {
      if (val && (this.typeForm == "view" || this.typeForm == "edit")) {
        this.mobocfgOutput = JSON.parse(JSON.stringify(this.vMobocfgOutput));
      } else {
        this.mobocfgOutput = [];
      }
    },
    bInsert() {
      if (this.bInsert) {
        this.createMobosets();
        this.bInsert = false;
      }
    },
  },
  methods: {
    color() {
      if (this.typeForm == "create" || this.typeForm == "edit") return "cyan";
      else if (this.typeForm == "view") return "grey";
    },
    fontColor() {
      if (this.typeForm == "create" || this.typeForm == "edit") return "white";
      else if (this.typeForm == "view") return "black";
    },
    clearFormCreate() {
      if (this.typeForm == "create") {
        this.$refs.formcreate.reset();
      }
      this.$emit("update:dialog", false);
    },
    removeInput(item) {
      var index = 0;
      for (var i = 0; i < this.mobocfgOutput.group.length; i++) {
        if (this.mobocfgOutput.group[i].id == item.id) index = i;
      }

      if (index >= 0) this.mobocfgOutput.group.splice(index, 1);
    },
    submitData() {
      if (this.typeForm == "create") {
        this.createMobocfgOutput();
      } else {
        this.updateMobocfgOutput();
      }
    },
    createMobocfgOutput() {
      console.log("mobocfgOutput", this.mobocfgOutput);
      var me = this;
      if (this.$refs.formcreate.validate()) {
        let data = {
          code: this.mobocfgOutput.code,
          name: this.mobocfgOutput.name,
          line: this.mobocfgOutput.line,
          cfgtype: this.mobocfgOutput.cfgtype,
          target: this.mobocfgOutput.target,
          isactive: this.mobocfgOutput.isactive ? true : false,
          client_id: Cookie.get("clientId"),
          createdby: Cookie.get("username"),
        };
        this.loading = true;
        this.valid = false;
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/output/add",
          method: "POST",
          postData: {
            mobocfgOutput: data,
          },
          ignoreLoading: true,
          onResult: function (result) {
            console.log("result add act", result);
            if (result.message == "Success") {
              alert("Data Added");
              // this.$emit("refresh");
              // this.$emit("update:dialog", false);
              // this.$refs.formcreate.reset();
              me.bInsert = true;
            } else {
              alert(result.message);
              me.loading = false;
              me.valid = true;
            }
          },
        });
      }
    },
    updateMobocfgOutput() {
      var me = this;

      let data = {
        oldId: this.mobocfgOutput.oldId,
        code: this.mobocfgOutput.code,
        name: this.mobocfgOutput.name,
        line: this.mobocfgOutput.line,
        cfgtype: this.mobocfgOutput.cfgtype,
        target: this.mobocfgOutput.target,
        isactive: this.mobocfgOutput.isactive ? true : false,
        client_id: Cookie.get("clientId"),
        updatedby: Cookie.get("username"),
      };
      console.log("updateMobocfg", data);
      this.loading = true;
      this.valid = false;
      if (this.$refs.formcreate.validate()) {
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/output/update",
          method: "POST",
          postData: {
            mobocfgOutput: data,
          },
          ignoreLoading: true,
          onResult: function (result) {
            if (result.message == "Success") {
              // me.$emit("update:dialog", false);
              // me.$emit("refresh");
              // me.$refs.formcreate.reset();
              me.bInsert = true;
            } else {
              alert(result.message);
            }
            me.loading = false;
            me.valid = true;
          },
        });
      }
    },
    createMobosets() {
      var me = this;
      for (let i = 0; i < this.mobocfgOutput.group.length; i++) {
        let data = {
          mobocfg_output_id: me.mobocfgOutput.id,
          moboact_group_id: me.mobocfgOutput.group[i].id,
          line: me.mobocfgOutput.line,
          isactive: me.mobocfgOutput.isactive,
          client_id: Cookie.get("clientId"),
          createdby: Cookie.get("username"),
        };
        console.log("this.mobocfgOutput", data);
        CnApi.call({
          url:
            "https://api.pancaran-group.co.id/moboconfig/sets/add",
          method: "POST",
          postData: {
            moboactSets: data,
          },
          ignoreLoading: true,
          onResult: function (result) {
            console.log("result add input", result);
            if (result.message == "Success") {
            } else {
              alert(result.message);
            }
            me.loading = false;
            me.valid = true;
          },
        });
      }
      alert("Data Added");
      this.$emit("refresh");
      this.$emit("update:dialog", false);
      this.$refs.formcreate.reset();
    },
  },
};
</script>
