<template>
  <div class="container mobospace_header-menu-with-tab">
    <div class="loading"></div>
    <v-row>
      <v-col md="auto" class="mobospace_moboaction">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              class="pa-1 mr-3"
              height="26px"
              width="26px"
              fab
              x-small
              dark
              v-on="on"
              color="#37A7DF"
              @click="refresh()"
            >
              <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Refresh</span>
        </v-tooltip>
      </v-col>
      <v-col class="col-3-per-2 text-right px-0 pa-0">
        <!-- <search-field dark />  -->
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dark
          class="pt-0"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          id="MobospaceTableWithTab"
          fixed-header
          dark
          style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
          height="59.5vh"
          :search="search"
          v-model="selected"
          :headers="headers"
          :items="mobocfgList"
          disable-pagination
          hide-default-footer
          item-key="id"
          class="elevation-0 mr-0"
        >
          <template v-slot:item.name="{ item }">
            <div class="small text-center">{{ item.name }}</div>
          </template>
          <template v-slot:item.cfgtypename="{ item }">
            <div class="small text-center">{{ item.cfgtypename }}</div>
          </template>
          <template v-slot:item.c_name="{ item }">
            <div class="small text-center">{{ item.c_name }}</div>
          </template>
          <template v-slot:item.isactive="{ item }">
            <v-container class="pa-0">
              <div v-if="item.isactive">
                <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
              </div>
              <div v-else>
                <v-icon>mdi-close-circle-outline</v-icon>
              </div>
            </v-container>
          </template>
          <template v-slot:item.created="{ item }">
            <div class="small text-center">{{ item.created }}</div>
          </template>
          <template v-slot:item.createdby="{ item }">
            <div class="small text-center">{{ item.createdby }}</div>
          </template>
          <template v-slot:item.updated="{ item }">
            <div class="small text-center">{{ item.updated }}</div>
          </template>
          <template v-slot:item.updatedby="{ item }">
            <div class="small text-center">{{ item.updatedby }}</div>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                  <v-icon small class @click="viewMobocfg(item)"
                    >mdi-eye</v-icon
                  >
                </v-btn>
              </template>
              <span>Detail</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import cnApi from "../../cn-api";
import Cookie from "js-cookie";
export default {
  props: [],
  data() {
    return {
      value: "",
      search: "",
      dialogCreate: false,
      dialogView: false,
      username: Cookie.get("username"),
      rules: {
        required: (value) => !!value || "Required.",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
      },
      mobocfgList: [],
      mobocfgSelected: [],
      cfgTypeOpt: [],
      selected: [],
      headers: [
        {
          text: "Name",
          align: "center",
          value: "name",
        },
        {
          text: "Date",
          align: "center",
          value: "date",
        },
        {
          text: "Result",
          align: "center",
          value: "result",
        }
      ],
    };
  },
  computed: {
    isBagoes() {
      if (
        this.username.toUpperCase() == "EKA.BAGOES" ||
        this.username.toUpperCase() == "TITO.TEGAR"
      )
        return false;
      else return true;
    },
  },
  watch: {
    selected() {
      if (this.selected) {
        let mobocfgTemp = this.selected;
        this.menu = [];
        if (mobocfgTemp.length == 0) this.mobocfgSelected = [];
        else {
          this.mobocfgSelected = mobocfgTemp;
          console.log("selected", this.mobocfgSelected);
        }
      }
    },
  },
  mounted() {
    this.getConfigType();
    this.getMobocfg();
  },
  methods: {
    refresh() {
      this.selected = [];
      this.getConfigType();
      this.getMobocfg();
    },
    getMobocfg() {
      var me = this;
      $(".loading").show();
      cnApi.call({
        url: "https://myskripsi.pancaran-group.co.id/api/access/report-rfid",
        method: "GET",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          console.log("result", result.items);
          me.mobocfgList = result.items;
          for (var i = 0; i < result.items.length; i++) {
            var createDate = new Date(me.mobocfgList[i].created);
            me.mobocfgList[i].created =
              createDate.getFullYear() +
              "/" +
              (createDate.getMonth() + 1) +
              "/" +
              createDate.getDate() +
              " " +
              createDate.getHours() +
              ":" +
              createDate.getMinutes() +
              ":" +
              createDate.getSeconds();

            if (me.mobocfgList[i].updated) {
              var updateDate = new Date(me.mobocfgList[i].updated);
              me.mobocfgList[i].updated =
                updateDate.getFullYear() +
                "/" +
                (updateDate.getMonth() + 1) +
                "/" +
                updateDate.getDate() +
                " " +
                updateDate.getHours() +
                ":" +
                updateDate.getMinutes() +
                ":" +
                updateDate.getSeconds();
            }
          }
          $(".loading").hide();
        },
      });
    },

    getConfigType() {
      var me = this;
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/configtype/list",
        method: "POST",
        postData: {},
        ignoreLoading: true,
        onResult: function (result) {
          console.log("result cfgTypeOpt", result.items);
          me.cfgTypeOpt = result.items;
        },
      });
    },

    createMobocfg() {
      console.log("Opencreate Click");

      this.dialogCreate = true;
    },

    viewMobocfg(selected) {
      console.log("edit User Click ", selected);
      this.dialogView = true;
      this.mobocfgSelected = selected;
    },
  },
};
</script>