<template>
  <div class="container mobospace_header-menu-with-tab">
    <div class="loading"></div>
    <v-row style="max-width: 84%">
      <v-col lg="5" class="mobospace_filter-header"> </v-col>
      <v-col md="auto" class="mobospace_moboaction">
        <moboconfig-action
          :vUpMobocfgAction="selected"
          :outputOpt="outputOpt"
          :basedOnOpt="basedOnOpt"
          :siteOpt="siteOpt"
          :driverOpt="driverOpt"
          :vehicleNoOpt="vehicleNoOpt"
          :driverGroupOpt="driverGroupOpt"
          :locctgOpt="locctgOpt"
          :locchkOpt="locchkOpt"
          :customerOpt="customerOpt"
          :consigneeOpt="consigneeOpt"
          :freightOpt="freightOpt"
          :molctgOpt="molctgOpt"
          :jobcharOpt="jobcharOpt"
          :mobocfgOpt="mobocfgOpt"
          tabMenu="RULE"
          titleModal="Edit MoboConfig Rule"
          @refresh="refresh"
        />
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              :disabled="isBagoes"
              class="pa-1 mr-3"
              height="26px"
              width="26px"
              fab
              x-small
              dark
              v-on="on"
              color="#37A7DF"
              @click="createMobocfgRule"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
          <span>Create MoboConfig Rule</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              class="pa-1 mr-3"
              height="26px"
              width="26px"
              fab
              x-small
              dark
              v-on="on"
              color="#37A7DF"
              @click="refresh()"
            >
              <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Refresh</span>
        </v-tooltip>
      </v-col>
      <v-col class="col-3-per-2 text-right px-0 pa-0">
        <!-- <search-field dark />  -->
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dark
          class="pt-0"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row style="max-width: 84%">
      <v-col>
        <v-data-table
          id="MobospaceTableWithTab"
          fixed-header
          disable-sort
          dark
          style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
          height="59.5vh"
          :search="search"
          v-model="selected"
          :headers="headers"
          :items="mobocfgRuleList"
          disable-pagination
          hide-default-footer
          item-key="id"
          show-select
          single-select
          class="elevation-0 mr-0"
        >
          <template v-slot:item.name="{ item }">
            <div class="small text-center">{{ item.name }}</div>
          </template>
          <template v-slot:item.operation="{ item }">
            <div class="small text-center">{{ item.operation }}</div>
          </template>
          <template v-slot:item.operation_name="{ item }">
            <div class="small text-center">{{ item.operation_name }}</div>
          </template>
          <template v-slot:item.matchtype="{ item }">
            <div class="small text-center">{{ item.matchtype }}</div>
          </template>
          <template v-slot:item.matchtype_name="{ item }">
            <div class="small text-center">{{ item.matchtype_name }}</div>
          </template>
          <template v-slot:item.basedon_name="{ item }">
            <div class="small text-center">{{ item.basedon_name }}</div>
          </template>
          <template v-slot:item.output_type="{ item }">
            <div class="small text-center">{{ item.output_type }}</div>
          </template>
          <template v-slot:item.output_type_name="{ item }">
            <div class="small text-center">{{ item.output_type_name }}</div>
          </template>
          <template v-slot:item.output_name="{ item }">
            <div class="small text-center">{{ item.output_name }}</div>
          </template>
          <template v-if="bInstance" v-slot:item.site_id="{ item }">
            <div class="small text-center">{{ item.site_id }}</div>
          </template>
          <template v-if="bInstance" v-slot:item.driver_id="{ item }">
            <div class="small text-center">{{ item.driver_id }}</div>
          </template>
          <template v-if="bInstance" v-slot:item.vehicle_no="{ item }">
            <div class="small text-center">{{ item.vehicle_no }}</div>
          </template>
          <template v-if="bInstance" v-slot:item.drvgroup_id="{ item }">
            <div class="small text-center">{{ item.drvgroup_id }}</div>
          </template>
          <template v-if="bActLoc" v-slot:item.locctg_id="{ item }">
            <div class="small text-center">{{ item.locctg_id }}</div>
          </template>
          <template v-if="bActLoc" v-slot:item.location_id="{ item }">
            <div class="small text-center">{{ item.location_id }}</div>
          </template>
          <template v-if="bShipment" v-slot:item.customer_id="{ item }">
            <div class="small text-center">{{ item.customer_id }}</div>
          </template>
          <!-- <template v-if="bShipment" v-slot:item.consignee_id="{ item }">
            <div class="small text-center">{{ item.consignee_id }}</div>
          </template> -->
          <template v-if="bShipment" v-slot:item.freight_id="{ item }">
            <div class="small text-center">{{ item.freight_id }}</div>
          </template>
          <template v-if="bShipment" v-slot:item.molctg_id="{ item }">
            <div class="small text-center">{{ item.molctg_id }}</div>
          </template>
          <template v-if="bTrip" v-slot:item.jobchar_id="{ item }">
            <div class="small text-center">{{ item.jobchar_id }}</div>
          </template>
          <template v-if="bText" v-slot:item.matchexpr="{ item }">
            <div class="small text-center">{{ item.matchexpr }}</div>
          </template>
          <template v-if="bText" v-slot:item.ignorecase="{ item }">
            <div class="small text-center">{{ item.ignorecase }}</div>
          </template>
          <template v-if="bText" v-slot:item.matchvar="{ item }">
            <div class="small text-center">{{ item.matchvar }}</div>
          </template>
          <template v-if="bTime" v-slot:item.matchdate_from="{ item }">
            <div class="small text-center">{{ item.matchdate_from }}</div>
          </template>
          <template v-if="bTime" v-slot:item.matchdate_to="{ item }">
            <div class="small text-center">{{ item.matchdate_to }}</div>
          </template>
          <template v-if="bTime" v-slot:item.matchtime_from="{ item }">
            <div class="small text-center">{{ item.matchtime_from }}</div>
          </template>
          <template v-if="bTime" v-slot:item.matchtime_to="{ item }">
            <div class="small text-center">{{ item.matchtime_to }}</div>
          </template>
          <template v-if="bAll" v-slot:item.matchnum_from="{ item }">
            <div class="small text-center">{{ item.matchnum_from }}</div>
          </template>
          <template v-if="bAll" v-slot:item.matchnum_to="{ item }">
            <div class="small text-center">{{ item.matchnum_to }}</div>
          </template>
          <template v-slot:item.created="{ item }">
            <div class="small text-center">{{ item.created }}</div>
          </template>
          <template v-slot:item.createdby="{ item }">
            <div class="small text-center">{{ item.createdby }}</div>
          </template>
          <template v-slot:item.updated="{ item }">
            <div class="small text-center">{{ item.updated }}</div>
          </template>
          <template v-slot:item.updatedby="{ item }">
            <div class="small text-center">{{ item.updatedby }}</div>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                  <v-icon small class @click="viewMobocfgRule(item)"
                    >mdi-eye</v-icon
                  >
                </v-btn>
              </template>
              <span>Detail</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <moboconfig-rule-form
      v-model="dialogCreate"
      titleModal="Create MoboConfig Rule"
      :dialog.sync="dialogCreate"
      :outputOpt="outputOpt"
      :basedOnOpt="basedOnOpt"
      :siteOpt="siteOpt"
      :driverOpt="driverOpt"
      :vehicleNoOpt="vehicleNoOpt"
      :driverGroupOpt="driverGroupOpt"
      :locctgOpt="locctgOpt"
      :locchkOpt="locchkOpt"
      :customerOpt="customerOpt"
      :consigneeOpt="consigneeOpt"
      :freightOpt="freightOpt"
      :molctgOpt="molctgOpt"
      :jobcharOpt="jobcharOpt"
      :mobocfgOpt="mobocfgOpt"
      tabMenu="RULE"
      @refresh="refresh"
      typeForm="create"
    />
    <moboconfig-rule-form
      v-model="dialogView"
      titleModal="View Detail"
      :vMobocfgRule="mobocfgRuleSelected"
      :dialog.sync="dialogView"
      :outputOpt="outputOpt"
      :basedOnOpt="basedOnOpt"
      :siteOpt="siteOpt"
      :driverOpt="driverOpt"
      :vehicleNoOpt="vehicleNoOpt"
      :driverGroupOpt="driverGroupOpt"
      :locctgOpt="locctgOpt"
      :locchkOpt="locchkOpt"
      :customerOpt="customerOpt"
      :consigneeOpt="consigneeOpt"
      :freightOpt="freightOpt"
      :molctgOpt="molctgOpt"
      :jobcharOpt="jobcharOpt"
      :mobocfgOpt="mobocfgOpt"
      tabMenu="RULE"
      @refresh="refresh"
      typeForm="view"
    />
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import cnApi from "../../cn-api";
import Cookie from "js-cookie";
export default {
  props: [],
  data() {
    return {
      value: "",
      search: "",
      username: Cookie.get("username"),
      dialogCreate: false,
      dialogView: false,
      bInstance: true,
      bActLoc: true,
      bShipment: true,
      bText: true,
      bTime: true,
      bTrip: true,
      bAll: true,
      mobocfgRuleList: [],
      mobocfgRuleSelected: [],
      mobocfgBasedOnList: [],
      selected: [],
      basedOnOpt: [],
      outputOpt: [],
      siteOpt: [],
      driverOpt: [],
      vehicleNoOpt: [],
      driverGroupOpt: [],
      locctgOpt: [],
      locchkOpt: [],
      customerOpt: [],
      consigneeOpt: [],
      freightOpt: [],
      molctgOpt: [],
      jobcharOpt: [],
      mobocfgOpt: [],
      headers: [
        {
          text: "Moboconfig Name",
          align: "center",
          value: "name",
          width: "1%",
        },
        {
          text: "Operation",
          align: "center",
          value: "operation_name",
          width: "1%",
        },
        {
          text: "Match Type",
          align: "center",
          value: "matchtype_name",
          width: "1%",
        },
        {
          text: "Based On",
          align: "center",
          value: "basedon_name",
          width: "1%",
        },
        {
          text: "Output Type",
          align: "center",
          value: "output_type_name",
          width: "1%",
        },
        {
          text: "Output Name",
          align: "center",
          value: "output_name",
          width: "1%",
        },
        {
          text: "Site",
          align: "center",
          value: "site_id",
          width: "1%",
        },
        {
          text: "Driver",
          align: "center",
          value: "driver_id",
          width: "1%",
        },
        {
          text: "Vehicle No",
          align: "center",
          value: "vehicle_no",
          width: "1%",
        },
        {
          text: "Driver Group",
          align: "center",
          value: "drvgroup_id",
          width: "1%",
        },
        {
          text: "Loc Category",
          align: "center",
          value: "locctg_id",
          width: "1%",
        },
        {
          text: "Location",
          align: "center",
          value: "location_id",
          width: "1%",
        },
        {
          text: "Customer",
          align: "center",
          value: "customer_id",
          width: "1%",
        },
        // {
        //   text: "Consignee",
        //   align: "center",
        //   value: "consignee_id",
        //   width: "1%",
        // },
        {
          text: "Freight",
          align: "center",
          value: "freight_id",
          width: "1%",
        },
        {
          text: "Mol Category",
          align: "center",
          value: "molctg_id",
          width: "1%",
        },
        {
          text: "Job",
          align: "center",
          value: "jobchar_id",
          width: "1%",
        },
        {
          text: "Match Expression",
          align: "center",
          value: "matchexpr",
          width: "1%",
        },
        {
          text: "Ignore Case",
          align: "center",
          value: "ignorecase",
          width: "1%",
        },
        {
          text: "Match Word",
          align: "center",
          value: "matchvar",
          width: "1%",
        },
        {
          text: "Date From",
          align: "center",
          value: "matchdate_from",
          width: "1%",
        },
        {
          text: "Date To",
          align: "center",
          value: "matchdate_to",
          width: "1%",
        },
        {
          text: "Time From",
          align: "center",
          value: "matchtime_from",
          width: "1%",
        },
        {
          text: "Time To",
          align: "center",
          value: "matchtime_to",
          width: "1%",
        },
        {
          text: "Number From",
          align: "center",
          value: "matchnum_from",
          width: "1%",
        },
        {
          text: "Number To",
          align: "center",
          value: "matchnum_to",
          width: "1%",
        },
        {
          text: "Created By",
          align: "center",
          value: "createdby",
          width: "1%",
        },
        {
          text: "Created",
          align: "center",
          value: "created",
          width: "1%",
        },
        { text: "", value: "actions", width: "1%" },
      ],
    };
  },
  computed: {
    isBagoes() {
      if (
        this.username.toUpperCase() == "EKA.BAGOES" ||
        this.username.toUpperCase() == "TITO.TEGAR"
      )
        return false;
      else return true;
    },
  },
  watch: {
    selected() {
      if (this.selected) {
        let mobocfgRule = this.selected;
        console.log("selected", mobocfgRule);
        if (mobocfgRule.length == 0) this.mobocfgRuleSelected = [];
        else {
          this.mobocfgRuleSelected = mobocfgRule;
        }
      }
    },
  },
  mounted() {
    this.getMobocfgBasedOn();
    this.getMobocfgRule();
    this.getSite();
    this.getFreightList();
    this.getCustomerList();
    this.getJobcharList();
    this.getChklocList();
    this.getLocctgList();
    this.getMobocfg();
    this.getMobocfgOutput();
    this.getDriver();
    this.getDriverGroup();
  },
  methods: {
    refresh() {
      this.selected = [];
      this.getMobocfgBasedOn();
      this.getMobocfgRule();
    },
    getMobocfgRule() {
      var me = this;
      $(".loading").show();
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/rule/list",
        method: "POST",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          me.mobocfgRuleList = result.items;
          console.log("me.mobocfgRuleList", me.mobocfgRuleList);
          for (var i = 0; i < result.items.length; i++) {
            var createDate = new Date(me.mobocfgRuleList[i].created);
            me.mobocfgRuleList[i].operation_name = me.capitalize(
              me.mobocfgRuleList[i].operation
            );
            me.mobocfgRuleList[i].matchtype_name = me.capitalize(
              me.mobocfgRuleList[i].matchtype
            );
            me.mobocfgRuleList[i].output_type_name = me.capitalize(
              me.mobocfgRuleList[i].output_type
            );

            me.mobocfgRuleList[i].created = me.formatDate(
              me.mobocfgRuleList[i].created
            );

            me.mobocfgRuleList[i].updated = me.formatDate(
              me.mobocfgRuleList[i].updated
            );
          }
          console.log("me.mobocfgRuleList", me.mobocfgRuleList);
          $(".loading").hide();
        },
      });
    },

    formatDate(oldDate) {
      let date = new Date(oldDate);
      return (
        date.getFullYear() +
        "/" +
        (date.getMonth() + 1) +
        "/" +
        date.getDate() +
        " " +
        date.getHours() +
        ":" +
        date.getMinutes() +
        ":" +
        date.getSeconds()
      );
    },

    capitalize(s) {
      s = s.toUpperCase().trim().replace(/_/g, " ");
      return s.trim().replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
    },

    getSite() {
      var me = this;
      cnApi.call({
        method: "GET",
        url:
          "https://api.pancaran-group.co.id/mobocommon/site/list",
        postData: {},
        ignoreLoading: true,
        ignoreConsoleLog: true,
        onResult: function (result) {
          me.siteOpt = result;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.siteOpt.unshift(asterix);
        },
      });
    },

    getFreightList() {
      var me = this;
      cnApi.call({
        method: "POST",
        url:
          "https://api.pancaran-group.co.id/mobocommon/freight/list",
        postData: {},
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        //ignoreConsoleLog:true,
        onResult: function (data) {
          // me.urlParam.totalPage =
          console.log("get freight", data);
          me.freightOpt = data;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.freightOpt.unshift(asterix);
        },
      });
    },

    getCustomerList() {
      var me = this;
      cnApi.call({
        method: "POST",
        url:
          "https://api.pancaran-group.co.id/mobocommon/customer/list",
        postData: {},
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        //ignoreConsoleLog:true,
        onResult: function (data) {
          // me.urlParam.totalPage =
          console.log("get customer", data);
          me.customerOpt = data;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.customerOpt.unshift(asterix);
        },
      });
    },

    getJobcharList() {
      var me = this;
      cnApi.call({
        method: "POST",
        url:
          "https://api.pancaran-group.co.id/mobocommon/jobchar/list",
        postData: {},
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        //ignoreConsoleLog:true,
        onResult: function (data) {
          // me.urlParam.totalPage =
          console.log("get jobchar", data);
          me.jobcharOpt = data;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.jobcharOpt.unshift(asterix);
        },
      });
    },

    getChklocList() {
      var me = this;
      cnApi.call({
        method: "POST",
        url:
          "https://api.pancaran-group.co.id/mobocommon/chkloc/list",
        postData: {},
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        //ignoreConsoleLog:true,
        onResult: function (data) {
          // me.urlParam.totalPage =
          console.log("get chkloc", data);
          me.locchkOpt = data;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.locchkOpt.unshift(asterix);
        },
      });
    },

    getLocctgList() {
      var me = this;
      cnApi.call({
        method: "POST",
        url:
          "https://api.pancaran-group.co.id/mobocommon/locctg/list",
        postData: {},
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        //ignoreConsoleLog:true,
        onResult: function (data) {
          // me.urlParam.totalPage =
          console.log("get locctg", data);
          me.locctgOpt = data;
          let asterix = {
            id: "*",
            name: "*",
          };
          me.locctgOpt.unshift(asterix);
        },
      });
    },

    createMobocfgRule() {
      console.log("Opencreate Click");

      this.dialogCreate = true;
    },

    viewMobocfgRule(selected) {
      console.log("edit User Click ", selected);
      this.dialogView = true;
      this.mobocfgRuleSelected = selected;
    },

    filterBasedOn(id) {
      if (id == "ÏNSTANCE") {
        this.bInstance = true;
        this.bActLoc = false;
        this.bShipment = false;
        this.bText = false;
        this.bTime = false;
        this.bTrip = false;
        this.bAll = false;
      } else if (id == "ACTLOC") {
        this.bInstance = false;
        this.bActLoc = true;
        this.bShipment = false;
        this.bText = false;
        this.bTime = false;
        this.bTrip = false;
        this.bAll = false;
      } else if (id == "SHIPMENT") {
        this.bInstance = false;
        this.bActLoc = false;
        this.bShipment = true;
        this.bText = false;
        this.bTime = false;
        this.bTrip = false;
        this.bAll = false;
      } else if (id == "TEXT") {
        this.bInstance = false;
        this.bActLoc = false;
        this.bShipment = false;
        this.bText = true;
        this.bTime = false;
        this.bTrip = false;
        this.bAll = false;
      } else if (id == "TIME") {
        this.bInstance = false;
        this.bActLoc = false;
        this.bShipment = false;
        this.bText = false;
        this.bTime = true;
        this.bTrip = false;
        this.bAll = false;
      } else if (id == "TRIP") {
        this.bInstance = false;
        this.bActLoc = false;
        this.bShipment = false;
        this.bText = false;
        this.bTime = false;
        this.bTrip = true;
        this.bAll = false;
      } else {
        this.bInstance = true;
        this.bActLoc = true;
        this.bShipment = true;
        this.bText = true;
        this.bTime = true;
        this.bTrip = true;
        this.bAll = true;
      }
    },

    getMobocfgBasedOn() {
      var me = this;
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/basedon/list",
        method: "POST",
        postData: {},
        ignoreLoading: true,
        onResult: function (result) {
          me.basedOnOpt = result.items;
          console.log("me.mobocfgBasedOnList", me.mobocfgBasedOnList);
        },
      });
    },

    getMobocfg() {
      var me = this;
      $(".loading").show();
      cnApi.call({
        url: "https://api.pancaran-group.co.id/moboconfig/list",
        method: "POST",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          for (var i = 0; i < result.items.length; i++) {
            let mobocfg = {
              id: result.items[i].id,
              name: result.items[i].name,
              cfgtype: result.items[i].cfgtype,
            };
            me.mobocfgOpt.push(mobocfg);
          }
        },
      });
    },

    getMobocfgOutput() {
      var me = this;
      $(".loading").show();
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/output/list",
        method: "POST",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          me.mobocfgOutputList = result.items;
          for (var i = 0; i < result.items.length; i++) {
            let mobocfgOutput = {
              id: result.items[i].id,
              name: result.items[i].name,
              cfgtype: result.items[i].cfgtype,
            };
            me.outputOpt.push(mobocfgOutput);
          }
          console.log("me.mobocfgOpt", me.mobocfgOpt);
        },
      });
    },

    getDriver() {
      console.log("this.driverOpt");
      axios({
        method: "get",
        url:
          "https://api.pancaran-group.co.id/moboadmin/driver/list",
        headers: {
          Authorization: "Bearer a8a3b546-40af-3e13-bf3a-aa460b5cfa5c",
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      })
        .then((response) => {
          let asterix = {
            id: "*",
            name: "*",
          };
          this.driverOpt.push(asterix);
          for (var i = 0; i < response.data.items.length; i++) {
            let driver = {
              id: response.data.items[i].driverId,
              name: response.data.items[i].name,
            };
            this.driverOpt.push(driver);
          }
          console.log("this.driverOpt", this.driverOpt);
        })
        .catch((error) => {
          console.log("error", error);
          console.log("error", error.status);
          this.errored = true;
        });
    },

    getDriverGroup() {
      axios({
        method: "get",
        url:
          "https://api.pancaran-group.co.id/moboadmin/driver_group/list",
        headers: {
          Authorization: "Bearer a8a3b546-40af-3e13-bf3a-aa460b5cfa5c",
          "Content-Type": "application/json",
          Accept: "application/json",
        },
      })
        .then((response) => {
          let asterix = {
            id: "*",
            name: "*",
          };
          this.driverGroupOpt.push(asterix);
          for (var i = 0; i < response.data.length; i++) {
            let driverGroup = {
              id: response.data[i].Id,
              name: response.data[i].name,
            };
            this.driverGroupOpt.push(driverGroup);
          }
          console.log("this.driverGroupOpt", this.driverGroupOpt);
        })
        .catch((error) => {
          console.log("error", error);
          console.log("error", error.status);
          this.errored = true;
        });
    },
  },
};
</script>