<template>
  <div class="container mobospace_header-menu-with-tab">
    <div class="loading"></div>
    <v-row>
      <v-col lg="7" class="mobospace_filter-header"> </v-col>
      <v-col md="auto" class="mobospace_moboaction">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn
              class="pa-1 mr-3"
              height="26px"
              width="26px"
              fab
              x-small
              dark
              v-on="on"
              color="#37A7DF"
              @click="refresh()"
            >
              <v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
            </v-btn>
          </template>
          <span>Refresh</span>
        </v-tooltip>
      </v-col>
      <v-col class="col-3-per-2 text-right px-0 pa-0">
        <!-- <search-field dark />  -->
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dark
          class="pt-0"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
          id="MobospaceTableWithTab"
          fixed-header
          dark
          style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
          height="59.5vh"
          :search="search"
          v-model="selected"
          :headers="headers"
          :items="mobocfgOutputList"
          disable-pagination
          hide-default-footer
          item-key="id"
          class="elevation-0 mr-0"
        >
        </v-data-table>
      </v-col>
    </v-row>
    <moboconfig-output-form
      v-model="dialogCreate"
      titleModal="Create MoboConfig Output"
      :dialog.sync="dialogCreate"
      :groupActOpt="groupActOpt"
      :cfgTypeOpt="cfgTypeOpt"
      @refresh="refresh"
      typeForm="create"
    />
    <moboconfig-output-form
      v-model="dialogView"
      titleModal="View Detail"
      :vMobocfgOutput="mobocfgOutputSelected"
      :cfgTypeOpt="cfgTypeOpt"
      :dialog.sync="dialogView"
      @refresh="refresh"
      typeForm="view"
    />
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import cnApi from "../../cn-api";
import Cookie from "js-cookie";
export default {
  props: [],
  data() {
    return {
      value: "",
      search: "",
      username: Cookie.get("username"),
      dialogCreate: false,
      dialogView: false,
      bGetMoboactSets: false,
      rules: {
        required: (value) => !!value || "Required.",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
      },
      mobocfgOutputList: [],
      mobocfgOutputSelected: [],
      selected: [],
      groupActOpt: [],
      cfgTypeOpt: [],
      headers: [
        {
          text: "",
          align: "left",
          value: "kosong",
          width:"10%"
        },
        {
          text: "Access Name",
          align: "left",
          value: "name",
        },
        {
          text: "Tab In RFID",
          align: "center",
          value: "tabIn",
        }
      ],
    };
  },
  computed: {
    isBagoes() {
      if (
        this.username.toUpperCase() == "EKA.BAGOES" ||
        this.username.toUpperCase() == "TITO.TEGAR"
      )
        return false;
      else return true;
    },
  },
  watch: {
    selected() {
      if (this.selected) {
        let mobocfgOutputTemp = this.selected;
        this.menu = [];
        if (mobocfgOutputTemp.length == 0) this.mobocfgOutputSelected = [];
        else {
          this.mobocfgOutputSelected = mobocfgOutputTemp;
          console.log("selected", this.mobocfgOutputSelected);
        }
      }
    },
  },
  watch: {
    bGetMoboactSets(val) {
      console.log("watch groupActOpt", val);
      if (val) {
        this.getMoboactSet();
      }
      this.bGetMoboactSets = false;
    },
  },
  mounted() {
    this.getConfigType();
    this.getMobocfgOutput();
    this.getMoboactGroup();
  },
  methods: {
    refresh() {
      this.selected = [];
      this.getMobocfgOutput();
    },
    getMobocfgOutput() {
      var me = this;
      $(".loading").show();
      cnApi.call({
        url:
          "https://myskripsi.pancaran-group.co.id/api/access/rfid",
        method: "GET",
        ignoreLoading: true,
        onResult: function (result) {
          console.log("result", result.items);
          me.mobocfgOutputList = result.items;
          for (var i = 0; i < result.items.length; i++) {
            var createDate = new Date(me.mobocfgOutputList[i].created);

            me.mobocfgOutputList[i].created =
              createDate.getFullYear() +
              "/" +
              (createDate.getMonth() + 1) +
              "/" +
              createDate.getDate() +
              " " +
              createDate.getHours() +
              ":" +
              createDate.getMinutes() +
              ":" +
              createDate.getSeconds();

            if (me.mobocfgOutputList[i].updated) {
              var updateDate = new Date(me.mobocfgOutputList[i].updated);
              me.mobocfgOutputList[i].updated =
                updateDate.getFullYear() +
                "/" +
                (updateDate.getMonth() + 1) +
                "/" +
                updateDate.getDate() +
                " " +
                updateDate.getHours() +
                ":" +
                updateDate.getMinutes() +
                ":" +
                updateDate.getSeconds();
            }
          }
          me.bGetMoboactSets = true;
        },
      });
    },

    createMobocfgOutput() {
      console.log("Opencreate Click");

      this.dialogCreate = true;
    },

    viewMobocfgOutput(selected) {
      console.log("edit User Click ", selected);
      this.dialogView = true;
      this.mobocfgOutputSelected = selected;
    },

    getMoboactGroup() {
      var me = this;
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboshipmentactivity/list/group",
        method: "POST",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          me.groupActOpt = result.items;
          console.log("me.groupActOpt", me.groupActOpt);
        },
      });
    },

    getConfigType() {
      var me = this;
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/configtype/list",
        method: "POST",
        postData: {},
        ignoreLoading: true,
        onResult: function (result) {
          console.log("result cfgTypeOpt", result.items);
          me.cfgTypeOpt = result.items;
        },
      });
    },

    getMoboactSet() {
      var me = this;
      cnApi.call({
        url:
          "https://api.pancaran-group.co.id/moboconfig/sets/list",
        method: "POST",
        postData: {
          search: "",
        },
        ignoreLoading: true,
        onResult: function (result) {
          for (let i = 0; i < me.mobocfgOutputList.length; i++) {
            let mobocfgOutput = me.mobocfgOutputList[i];
            let moboactGroup = result.items.filter(
              (item) => item.mobocfg_output_id == mobocfgOutput.id
            );
            mobocfgOutput.group = moboactGroup;
            me.mobocfgOutputList[i] = mobocfgOutput;
          }
          $(".loading").hide();
        },
      });
    },
  },
};
</script>