<template>
  <div class="container" style="background-color: rgba(11, 17, 21, 0);height:400px">
    <v-row
      wrap
      align="center"
      justify="center"
      style="height:50vh;max-height:80vh;"
    >
      <v-container>
        <v-row>
          <v-col class="text-center">
            <v-autocomplete
                v-model="vSite"
                :items="site"
                dark
                item-text="name"
                item-value="id"
                label="Site"
                :return-object="false"
                dense
                ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-center">
            <v-btn
                rounded
                color="#37A7DF"
            >
                Submit
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
//import debounce from "../index";
export default {
  data() {
    return {
        site:[],
        vSite:[]
    }
  },
  mounted() {
    console.log("Open Manage User Site")
    this.getSite();
  },
  watch: {
    
  },
  methods: {
      getSite() {
      var me = this;
      CnApi.call({
        method: "GET",
        url:"https://api.pancaran-group.co.id/mobocommon/site/list",
        postData: {},
        ignoreLoading:true,
        ignoreConsoleLog:true,
        onResult: function(item) {
          me.site = item;
          console.log("data site : ",me.site)
        }
      });
    },
  },
};
</script>