<template>
  <div>
    <v-dialog
      v-if="tabMenu == 'USER_MANAGEMENT'"
      v-model="dialogCreate"
      persistent
      max-width="700px"
    >
      <v-card id="rounded-card">
        <v-card-title>
          <v-toolbar dense flat id="rounded-card">
            <span
              class="headline"
              style="font-family: 'Ubuntu'; color: #707070"
            >
              <strong>{{ titleModal }}</strong>
            </span>
            <v-spacer></v-spacer>
            <v-btn icon color="#e04f5f" elevation="0" @click="clearFormCreate">
              <v-icon>mdi-close-circle</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card-title>
        <v-card-text id="rounded-card">
          <v-form class="px-3" ref="formcreate" v-model="valid">
            <v-row>
              <v-col cols="12" md="6" class="py-1">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  label="Full Name*"
                  v-model="userProfileSelected.fullname"
                  :rules="[rules.required, rules.max50]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-1">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  label="Username*"
                  v-model="userProfileSelected.username"
                  :rules="[rules.required, rules.max50]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6" class="py-1">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  class="inputPhone"
                  type="number"
                  label="Phone*"
                  v-model="userProfileSelected.phone"
                  :rules="[rules.required, rules.number, rules.max12]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-1">
                <v-text-field
                  dense
                  :readonly="typeForm == 'view'"
                  label="E-mail*"
                  v-model="userProfileSelected.emails"
                  :rules="[rules.required, rules.email, rules.max50]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  dense
                  v-if="typeForm != 'view'"
                  label="Password*"
                  v-model="userProfileSelected.password"
                  :rules="
                    typeForm == 'create'
                      ? [rules.required, rules.minpassword]
                      : [rules.minpassword]
                  "
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  hint="At least 8 characters"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                ></v-text-field>
                <v-text-field
                  dense
                  v-else-if="typeForm == 'view'"
                  readonly
                  label="Password*"
                  v-model="userProfileSelected.password"
                  :rules="
                    typeForm == 'create'
                      ? [rules.required, rules.minpassword]
                      : [rules.minpassword]
                  "
                  hint="At least 8 characters"
                  :type="'password'"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6" class="py-1">
                <v-autocomplete
                  dense
                  :readonly="typeForm == 'view'"
                  :items="optStatus"
                  label="Active*"
                  v-model="userProfileSelected.status"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <div v-if="typeForm == 'view'">
              <v-row class="pl-4">
                <v-col class="py-0"> Created By </v-col>
                <v-col class="py-0"> Created </v-col>
                <v-col class="py-0"> Updated By </v-col>
                <v-col class="py-0"> Updated </v-col>
              </v-row>
              <v-divider sm="3" insert class="mt-0 mb-2"></v-divider>
              <v-row class="pl-4" v-if="userProfileSelected.audit">
                <v-col cols="3" class="py-0">
                  <div v-if="userProfileSelected.audit.createdby">
                    {{ userProfileSelected.audit.createdby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="userProfileSelected.audit.created">
                    {{ userProfileSelected.audit.created }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="userProfileSelected.audit.updatedby">
                    {{ userProfileSelected.audit.updatedby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="userProfileSelected.audit.updated">
                    {{ userProfileSelected.audit.updated }}
                  </div>
                </v-col>
              </v-row>
            </div>
            <v-card-actions :hidden="typeForm == 'view'">
              <v-spacer></v-spacer>
              <v-btn
                class="text-uppercase font-weight-bold"
                @click="clearFormCreate"
                small
                rounded
                style="background-color: #e1e1e1; color: #717171; width: 100px"
                >Cancel</v-btn
              >
              <v-btn
                :loading="loading"
                class="text-uppercase font-weight-bold"
                @click="submitUser"
                small
                rounded
                style="background-color: #3490dc; color: white; width: 100px"
                >Save</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-if="tabMenu == 'WINDOW_MANAGEMENT'"
      v-model="dialogCreate"
      persistent
      max-width="700px"
    >
      <v-card class="rounded-card">
        <v-card-title>
          <v-toolbar dense flat id="rounded-card">
            <span
              class="headline"
              style="font-family: 'Ubuntu'; color: #707070"
            >
              <strong>{{ titleModal }}</strong>
            </span>
            <v-spacer></v-spacer>
            <v-btn icon color="#e04f5f" elevation="0" @click="clearFormCreate">
              <v-icon>mdi-close-circle</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card-title>
        <v-card-text class="rounded-card">
          <v-form class="px-3" ref="formcreate" v-model="valid">
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  :readonly="typeForm == 'view'"
                  label="Menu Name*"
                  v-model="window.menu"
                  :rules="[rules.required, rules.max50]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  :readonly="typeForm == 'view'"
                  :disabled="bLinkDisabled"
                  label="Link Menu*"
                  v-model="window.link"
                  :rules="[rules.max50]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6">
                <v-autocomplete
                  :readonly="typeForm == 'view'"
                  :items="parentLinkList"
                  item-text="menu"
                  item-value="menu_id"
                  label="Parent*"
                  v-model="window.parent_id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" md="6">
                <v-autocomplete
                  :readonly="typeForm == 'view'"
                  :items="optStatus"
                  label="Active*"
                  v-model="window.status"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <div v-if="typeForm == 'view'">
              <v-row class="pl-4">
                <v-col class="py-0"> Created By </v-col>
                <v-col class="py-0"> Created </v-col>
                <v-col class="py-0"> Updated By </v-col>
                <v-col class="py-0"> Updated </v-col>
              </v-row>
              <v-divider sm="3" insert class="mt-0 mb-2"></v-divider>
              <v-row class="pl-4" v-if="window.createdby">
                <v-col cols="3" class="py-0">
                  <div v-if="window.createdby">
                    {{ window.createdby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="window.created">
                    {{ window.created }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="window.updatedby">
                    {{ window.updatedby }}
                  </div>
                </v-col>
                <v-col cols="3" class="py-0">
                  <div v-if="window.updated">
                    {{ window.updated }}
                  </div>
                </v-col>
              </v-row>
            </div>
            <v-card-actions :hidden="typeForm === 'view'">
              <v-spacer></v-spacer>
              <v-btn
                class="text-uppercase font-weight-bold"
                @click="clearFormCreate"
                small
                rounded
                style="background-color: #e1e1e1; color: #717171; width: 100px"
                >Cancel</v-btn
              >
              <v-btn
                :loading="loading"
                :disabled="!valid"
                class="text-uppercase font-weight-bold"
                @click="submitwindow"
                small
                rounded
                style="background-color: #3490dc; color: white; width: 100px"
                >Save</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
  props: [
    "titleModal",
    "vUserProfileSelected",
    "vWindowSelected",
    "customerOpt",
    "menuOpt",
    "usertype",
    "dialogCreate",
    "parentLinkList",
    "tabMenu",
    "typeForm",
  ],
  data() {
    return {
      userProfileSelected: {},
      valid: true,
      show1: false,
      loading: false,
      test: "",
      password: "Password",
      bLinkDisabled: false,
      tempWindowLink: "",
      window: {},
      rules: {
        required: (value) => !!value || "Required.",
        //minpassword: v => v.length >= 8 || 'Min 8 characters',
        max50: (v) => !v || v.length <= 50 || "Max 50 characters",
        max12: (v) => !v || v.length <= 12 || "Max 12 characters",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
      vUpCompany: "",
      groupUserDropdown: ["Admin", "Member"],
      optStatus: ["Y", "N"],
      customer_id: this.usertype == "IN" ? "" : this.vclientid,
      groupUser: this.usertype == "IN" ? "Admin" : "Member",
    };
  },
  watch: {
    "window.parent_id"(val, oldVal) {
      if (val == "#") {
        this.bLinkDisabled = true;
        this.window.link = null;
      } else {
        this.bLinkDisabled = false;
      }
    },
    dialogCreate(val) {
      console.log("this.typeForm : ", this.typeForm);
      if (val && (this.typeForm == "view" || this.typeForm == "edit")) {
        if (this.tabMenu == "USER_MANAGEMENT") {
          this.userProfileSelected = this.vUserProfileSelected;
          if (this.typeForm == "edit") {
            // console.log("userProfileSelected : ",this.userProfileSelected)
            this.syncContactExternal(
              this.vUserProfileSelected,
              this.vUserProfileSelected,
              "GET"
            );
          }
          console.log("userProfileSelected : ", this.userProfileSelected);
        } else if (this.tabMenu == "WINDOW_MANAGEMENT") {
          this.window = { ...this.vWindowSelected };
          console.log("this.windiw : ", this.window);
          console.log("this.vWindowSelected : ", this.vWindowSelected);
        }
      } else {
        this.userProfileSelected = [];
        this.window = [];
      }
    },
  },
  methods: {
    onChangeParent() {},
    color() {
      if (this.typeForm == "create" || this.typeForm == "edit") return "cyan";
      else if (this.typeForm == "view") return "grey";
    },
    fontColor() {
      if (this.typeForm == "create" || this.typeForm == "edit") return "white";
      else if (this.typeForm == "view") return "black";
    },
    clearFormCreate() {
      if (this.typeForm == "create") {
        this.$refs.formcreate.reset();
      }
      this.$emit("update:dialogCreate", false);
    },
    removeMenu(item) {
      var index = 0;
      for (var i = 0; i < this.userProfileSelected.menu.length; i++) {
        if (this.userProfileSelected.menu[i].menu_id == item.menu_id) index = i;
      }

      if (index >= 0) this.userProfileSelected.menu.splice(index, 1);
    },
    submitUser() {
      if (this.typeForm == "create") {
        this.createUser();
      } else if (this.typeForm == "edit") {
        this.updateUser();
      }
    },
    createUser() {
      console.log("validation");
      var vClient_id, vErp_id;
      this.customerOpt.forEach((customer) => {
        if (customer.client_id === this.userProfileSelected.client_id) {
          vClient_id = customer.client_id;
          vErp_id = customer.erp_id;
        }
      });
      if (this.$refs.formcreate.validate()) {
        this.errors = {};
        let data = {
          client_id: vClient_id,
          erp_id: vErp_id,
          fullname: this.userProfileSelected.fullname,
          phone: this.userProfileSelected.phone,
          emails: this.userProfileSelected.emails,
          position: this.userProfileSelected.position,
          username: this.userProfileSelected.username,
          password: this.userProfileSelected.password,
          status: this.userProfileSelected.status,
          menu: this.setDataMenu(),
          memberis: this.userProfileSelected.memberis,
          createdby: Cookie.get("username"),
        };
        this.loading = true;
        this.valid = false;

        console.log("ini data submitUser", data);
        axios
          .post("administration/saveuser", data)
          .then((response) => {
            console.log("ini data postuser", response.data);
            alert(response.data.type + " - " + response.data.message);
            var type = response.data.type;
            if (type == "SUCCESS") {
              this.$emit("update:dialogCreate", false);
              this.$emit("refresh");
              this.syncContactExternal(data, response.data.idUser, "POST");
              this.$refs.formcreate.reset();
            }
            this.loading = false;
            this.valid = true;
          })
          .catch((error) => {
            this.loading = false;
            this.valid = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
      }
    },
    setDataMenu() {
      let menu = [];
      if (this.userProfileSelected.menu != "undefined") {
        if (typeof this.userProfileSelected.menu == "object") {
          for (var i = 0; i < this.userProfileSelected.menu.length; i++) {
            menu.push(this.userProfileSelected.menu[i].menu_id);
          }
        } else menu = this.userProfileSelected.menu;
      }
      return menu;
    },
    submitwindow() {
      console.log("window : ", this.window);
      if (this.$refs.formcreate.validate()) {
        this.errors = {};
        let data, url;
        if (this.typeForm == "create") {
          data = {
            menu: this.window.menu,
            link: this.window.link,
            status: this.window.status,
            parent_id: this.window.parent_id,
            createdby: Cookie.get("username"),
          };
          url = "administration/savewindow";
        } else if (this.typeForm == "edit") {
          data = {
            menu_id: this.window.menu_id,
            menu: this.window.menu,
            link: this.window.link,
            status: this.window.status,
            parent_id: this.window.parent_id,
            updatedby: Cookie.get("username"),
          };
          url = "administration/updatewindow";
        }
        this.loading = true;
        this.valid = false;
        axios
          .post(url, data)
          .then((response) => {
            alert(response.data.type + " - " + response.data.message);
            var type = response.data.type;
            this.loading = false;
            this.valid = true;
            if (type == "SUCCESS") {
              this.userProfileSelected = [];
              this.window = [];
              this.$refs.formcreate.reset();
              this.$emit("update:dialogCreate", false);
              this.$emit("refresh");
            }
          })
          .catch((error) => {
            this.loading = false;
            this.valid = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
      }
    },
    updateUser() {
      console.log("Update User Click pre", this.userProfileSelected);
      var vClient_id, vErp_id;
      this.customerOpt.forEach((customer) => {
        if (customer.client_id === this.userProfileSelected.client_id) {
          vClient_id = customer.client_id;
          vErp_id = customer.erp_id;
        }
      });
      if (this.$refs.formcreate.validate()) {
        this.errors = {};
        let data = {
          fullname: this.userProfileSelected.fullname,
          phone: this.userProfileSelected.phone,
          emails: this.userProfileSelected.emails,
          position: this.userProfileSelected.position,
          username: this.userProfileSelected.username,
          status: this.userProfileSelected.status,
          groupUser: this.userProfileSelected.memberis,
          manageuser_id: this.userProfileSelected.manageuser_id,
          client_id: vClient_id,
          erp_id: vErp_id,
          password: this.userProfileSelected.password,
          oldpassword: this.userProfileSelected.oldpassword,
          updatedby: Cookie.get("username"),
          menu: this.setDataMenu(),
        };
        this.loading = true;
        this.valid = false;
        console.log("Update User Click");
        axios
          .post("administration/updateuser", data)
          .then((response) => {
            alert(response.data.type + " - " + response.data.message);
            var type = response.data.type;
            this.loading = false;
            this.valid = true;
            if (type == "SUCCESS") {
              this.$emit("update:dialogCreate", false);
              this.$emit("refresh");
              if (this.userProfileSelected.contactId) {
                this.syncContactExternal(
                  data,
                  this.userProfileSelected.contactId,
                  "PUT"
                );
              } else {
                this.syncContactExternal(data, data.manageuser_id, "POST");
              }
              // location.reload();
            }
          })
          .catch((error) => {
            this.loading = false;
            this.valid = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
      }
    },
    syncContactExternal(data, id, method) {
      console.log(
        "data untuk sync contact : ",
        data,
        "id : ",
        id,
        "method : ",
        method
      );
      var url;
      var me = this;
      if (method === "POST") {
        url =
          "https://api.pancaran-group.co.id/mobonotif/api/contacts";
      } else if (method === "GET") {
        url =
          "https://api.pancaran-group.co.id/mobonotif/api/contacts?search=" +
          data.username;
      } else {
        url =
          "https://api.pancaran-group.co.id/mobonotif/api/contacts/" +
          id;
      }
      CnApi.call({
        method: method,
        url: url,
        postData: {
          id: method === "PUT" ? id : "",
          clientId: data.erp_id,
          code: id,
          name: data.fullname,
          userType: "MOBOSPACE",
          userId: id,
          userName: data.username,
          phones: [
            {
              phone: data.phone,
              active: true,
            },
          ],
          emails: [
            {
              email: data.emails,
              active: true,
            },
          ],
          active: true,
        },
        ignoreLoading: true,
        // ignoreConsoleLog:true,
        headers: {
          Authorization: "Bearer " + Cookie.get("token"),
          "Content-Type": "application/json",
          Accept: "application/json",
          "X-Client-ID": Cookie.get("clientId"),
          "X-User-ID": Cookie.get("username"),
        },
        onResult: function (item) {
          console.log("data di add", item);
          if (method === "GET") {
            if (
              item.resultCode === 1 &&
              item.data.items[0].userType === "MOBOSPACE"
            ) {
              console.log("me.userProfileSelected", me.userProfileSelected);
              me.userProfileSelected.contactId = item.data.items[0].id;
            } else {
              me.userProfileSelected.contactId = null;
            }
          }
        },
        onError(error) {
          alert(error);
        },
      });
    },
  },
};
</script>
