<template>
	<div class="container mobospace_header-menu-with-tab">
		<div class="loading"></div>
		<v-row>
			<v-col xl="5" class="mobospace_filter-header">
				<shipment-filter
					:on-save="filterActions"
					:key="filterKey"
					:log-level="1"
					actives="CUSTOMER"
					:customer="customer"
					:site="site"
					:filter="filter"
					:cancel="cancel"
					:savefilter="savefilter"
					:search="search"
					v-if="usertype === 'IN'"
				></shipment-filter>
			</v-col>
			<v-col md="auto" class="mobospace_moboaction">
				<administration-action
					:usertype="usertype"
					:customerOpt="customerOpt"
					:menuOpt="menuOpt"
					:vUpUserProfileSelected="userProfileSelected"
					:vUpclient_id="client_id"
					:menu="menu"
					tabMenu="USER_MANAGEMENT"
					@refresh="getUserByMember"
				/>
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							class="pa-1 mr-3"
							height="26px"
							width="26px"
							fab
							x-small
							dark
							v-on="on"
							color="#37A7DF"
							@click="opencreateuser"
						>
							<v-icon>mdi-plus</v-icon>
						</v-btn>
					</template>
					<span>Create User</span>
				</v-tooltip>
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							class="pa-1 mr-3"
							height="26px"
							width="26px"
							fab
							x-small
							dark
							v-on="on"
							color="#37A7DF"
							@click="getUserByMember()"
						>
							<v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
						</v-btn>
					</template>
					<span>Refresh</span>
				</v-tooltip>
			</v-col>
			<v-col class="col-3-per-2 text-right px-0 pa-0">
				<!-- <search-field dark />  -->
				<v-text-field
					v-model="search"
					append-icon="mdi-magnify"
					:label="lblSearch"
					single-line
					hide-details
					dark
					class="pt-0"
				></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col>
				<v-data-table
					id="MobospaceTableWithTab"
					:loading="loading"
					loading-text="Loading... Please wait"
					fixed-header
					dark
					style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
					height="59.5vh"
					:search="search"
					v-model="selected"
					:headers="headers"
					:items="userProfileList"
					disable-pagination
					hide-default-footer
					item-key="username"
					show-select
					class="elevation-0 px-0 mr-0"
				>
					<template v-slot:item.fullname="{ item }">
						<div class="small text-left">
							{{ item.fullname }}
							<br />
							Phone : {{ item.phone }}
							<br />
							mail : {{ item.emails }}
							<br />
						</div>
					</template>
					<template v-slot:item.username="{ item }">
						<div class="small text-center">{{ item.username }}</div>
					</template>
					<template v-slot:item.c_name="{ item }">
						<div class="small text-center">{{ item.c_name }}</div>
					</template>
					<template v-slot:item.status="{ item }">
						<v-container class="pa-0">
							<div v-if="item.status">
								<v-icon>mdi-checkbox-marked-circle-outline</v-icon>
							</div>
							<div v-else>
								<v-icon>mdi-close-circle-outline</v-icon>
							</div>
						</v-container>
					</template>
					<template v-slot:item.last_access="{ item }">
						<div class="small text-center">
							{{ formatDate(item.last_access) }}
						</div>
					</template>
					<template v-slot:item.created_at="{ item }">
						<div class="small text-center">{{ formatDate(item.created_at) }}</div>
					</template>
					<template v-slot:item.createdby="{ item }">
						<div class="small text-center">{{ item.createdby }}</div>
					</template>
					<template v-slot:item.actions="{ item }">
						<v-tooltip top>
							<template v-slot:activator="{ on }">
								<v-btn icon v-on="on">
									<v-icon small class @click="viewuser(item)">mdi-eye</v-icon>
								</v-btn>
							</template>
							<span>Detail</span>
						</v-tooltip>
					</template>
					<template v-slot:item.online="{ item }">
						<v-tooltip v-if="!item.logtype" top>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on" color="#b2473e">mdi-circle-slice-8</v-icon>
							</template>
							<span>Offline</span>
						</v-tooltip>
						<v-tooltip v-else top>
							<template v-slot:activator="{ on }">
								<v-icon v-on="on" color="#68a225">mdi-circle-slice-8</v-icon>
							</template>
							<span>Online</span>
						</v-tooltip>
					</template>
				</v-data-table>
			</v-col>
		</v-row>
		<administration-form
			v-model="dialogCreate"
			titleModal="Create User"
			:customerOpt="customerOpt"
			:menuOpt="menuOpt"
			:usertype="usertype"
			:dialogCreate.sync="dialogCreate"
			tabMenu="USER_MANAGEMENT"
			@refresh="getUserByMember"
			typeForm="create"
		/>
		<administration-form
			v-model="dialogView"
			titleModal="View Detail"
			:vUserProfileSelected="userProfileSelected"
			:usertype="usertype"
			:dialogCreate.sync="dialogView"
			tabMenu="USER_MANAGEMENT"
			typeForm="view"
		/>
	</div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
	props: [
		"usertype",
		"menuOpt",
		"customerOpt",
		"customer",
		"drivergroup",
		"site",
		"filter",
		"cancel",
		"savefilter",
		"lblSearch",
	],
	data() {
		return {
			value: "",
			search: "",
			show1: false,
			valid: true,
			loading: false,
			filterKey: 0,
			dialogCreate: false,
			rules: {
				required: (value) => !!value || "Required.",
				//minpassword: v => v.length >= 8 || 'Min 8 characters',
				minpassword: (v) => !v || v.length >= 8 || "Minimum length is 8 characters",
				number: (value) => {
					const pattern = /[0-9]/;
					return pattern.test(value) || "Only Numeric.";
				},
				email: (value) => {
					const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return pattern.test(value) || "Invalid e-mail.";
				},
			},
			filterData: {},
			userProfileSelected: [],
			userProfileList: [],
			optStatus: ["Y", "N"],
			client_id: this.usertype == "IN" ? "" : this.vclientid,
			dialogView: false,
			typeForm: "",
			selected: [],
			menuList: [],
			menu: [],
			headers: [
				{
					text: "Full Name",
					sortable: true,
					width: "20%",
					align: "left",
					value: "fullname",
				},
				{
					text: "Username",
					sortable: true,
					width: "10%",
					align: "center",
					value: "username",
				},
				{
					text: "Client / Customer",
					value: "c_name",
					sortable: true,
					width: "30%",
					align: "center",
				},
				{
					text: "Active",
					value: "status",
					sortable: true,
					width: "10%",
					align: "center",
				},
				{
					text: "Last Login",
					sortable: true,
					width: "15%",
					align: "center",
					value: "last_access",
				},
				{
					text: "Created By",
					sortable: false,
					width: "10%",
					align: "center",
					value: "createdby",
				},
				{
					text: "Created",
					sortable: true,
					width: "1%",
					align: "center",
					value: "created_at",
				},
				{ text: "", sortable: false, value: "actions", width: "1%" },
				{ text: "", sortable: false, value: "online", width: "1%" },
			],
		};
	},
	mounted() {
		this["tito"] = "newValue";
		this.getUserByMember();
	},
	watch: {
		selected() {
			let user = this.selected;
			this.menu = [];
			console.log("selected : ", this.selected);
			if (user.length == 0) this.userProfileSelected = [];
			else {
				this.userProfileSelected = user;

				for (var i = 0; i < this.menuList.length; i++) {
					let menuSelected = this.menuList[i].filter(
						(menu) => menu.manageuser_id == user[0].manageuser_id
					);
					for (var j = 0; j < menuSelected.length; j++) {
						if (menuSelected[j]) this.menu.push(menuSelected[j]);
					}
				}
			}
		},
		menuOpt(val, oldVal) {
			if (val.length != oldVal.length) {
				this.getUserByMember();
			}
		},
	},
	methods: {
		getUserByMember() {
			this.loading = true;

			$(".loading").show();
			this.userProfileList = [];
			this.selected = [];
			console.log("getUserByMember");
			axios
				.get("/getuserbymember")
				.then((response) => {
					console.log("response : ", response);
					this.userProfileList = response.data.userlist;
					this.syncContactUser();
					for (var i = 0; i < this.userProfileList.length; i++) {
						this.menuList[i] = response.data.usermenu.filter(
							(menu) => menu.manageuser_id == this.userProfileList[i].manageuser_id
						);
					}
					this.loading = false;
					$(".loading").hide();
				})
				.catch((error) => console.log(error));
		},
		syncContactUser(dataUser) {
			console.log("data user : ", this.userProfileList);
			var me = this;
			// this.userProfileList.forEach(data => {
			//   CnApi.call({
			//       method: "GET",
			//       url: "https://api.pancaran-group.co.id/mobonotif/api/contacts?search="+data.username,
			//       postData: {},
			//       ignoreLoading:true,
			//       ignoreConsoleLog:true,
			//       headers:{
			//         'Authorization': 'Bearer '+Cookie.get("token"),
			//         'Content-Type' : 'application/json',
			//         'Accept'     : 'application/json',
			//         'X-Client-ID': Cookie.get("clientId"),
			//         'X-User-ID' : Cookie.get("username")
			//       },
			//       onResult: function(item) {
			//         console.log("data "+data.fullname+" : " ,item);
			//         if(item.resultCode === 1){
			//           console.log("sync updated");
			//           data.contactId = item.data.items[0].id;
			//           // me.syncActionContact(data,"PUT",item);
			//         } else {
			//           console.log("sync created");
			//           data.contactId = "";
			//           // me.syncActionContact(data,"POST");
			//         }
			//         // me.userProfileList.push(data);
			//       },
			//         onError(error){
			//         alert(error);
			//       }
			//   });
			// });
		},
		syncActionContact(data, method, item) {
			if (method === "POST") {
				data.contactId = "contact tidak ada";
			} else {
				data.contactId = item.data.items[0].id;
			}
			// CnApi.call({
			//     method: method,
			//     url: "https://api.pancaran-group.co.id/mobonotif/api/contacts",
			//     postData: {
			//       id: "",
			//       clientId: data.erp_id,
			//       code: data.manageuser_id,
			//       name: data.fullname,
			//       userType: "External",
			//       userId: data.manageuser_id,
			//       userName: data.username,
			//       source: "Mobospace",
			//       phones: [
			//         {
			//           "phone": "string",
			//         }
			//       ],
			//       emails: [
			//         {
			//           "email": "string",
			//         }
			//       ],
			//       active: true
			//     },
			//     ignoreLoading:true,
			//     ignoreConsoleLog:true,
			//     headers:{
			//       'Authorization': 'Bearer '+Cookie.get("token"),
			//       'Content-Type' : 'application/json',
			//       'Accept'     : 'application/json',
			//       'X-Client-ID': Cookie.get("clientId"),
			//       'X-User-ID' : Cookie.get("username")
			//     },
			//     onResult: function(item) {
			//       console.log("data di add",item);
			//     },
			//       onError(error){
			//       alert(alert);
			//     }
			// });
		},
		filterActions(filterData, isReset) {
			if (isReset) {
				this.filterKey += 1;
			}
			if (this.logLevel > 0) console.log("Filter Action", filterData.customerId);
			var customerId = filterData.customerId;
			this.filterUsers(customerId);
		},

		filterUsers(customerId) {
			console.log("KIRIMAN", this.userProfileList);
			this.errors = {};
			this.userProfileList = [];
			let data = {
				erp_id: customerId ? customerId : "",
			};
			axios
				.post("administration/reloadusers", data)
				.then((response) => {
					console.log("Reload User", response.data.reloadusers);
					this.userProfileList = response.data.reloadusers;
				})
				.catch((error) => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
		},

		opencreateuser() {
			console.log("Opencreate Click");

			this.dialogCreate = true;
			this.userProfileSelected = {};
		},

		viewuser(selected) {
			console.log("edit User Click ", selected);
			this.dialogView = true;
			this.menu = [];

			for (var i = 0; i < this.menuList.length; i++) {
				let menuSelected = this.menuList[i].filter(
					(menu) => menu.manageuser_id == selected.manageuser_id
				);
				for (var j = 0; j < menuSelected.length; j++) {
					if (menuSelected[j]) this.menu.push(menuSelected[j]);
				}
			}
			let data = {
				c_name: selected.c_name,
				client_id: selected.client_id,
				fullname: selected.fullname,
				phone: selected.phone,
				emails: selected.emails,
				position: selected.position,
				username: selected.username,
				password: selected.password,
				status: selected.status,
				menu: this.menu,
				memberis: selected.memberis,
				audit: {
					updated: selected.updated_at,
					updatedby: selected.updatedby,
					created: selected.created_at,
					createdby: selected.createdby,
				},
			};
			this.userProfileSelected = data;
		},

		formatDate(oldDate) {
			if (oldDate) {
				let date = new Date(oldDate);
				let hours = date.getHours().toString();
				let minutes = date.getMinutes().toString();
				let seconds = date.getSeconds().toString();
				let day = date.getDate().toString();
				let month = (date.getMonth() + 1).toString();
				return (
					day.padStart(2, "0") +
					"/" +
					month.padStart(2, "0") +
					"/" +
					date.getFullYear() +
					" " +
					hours.padStart(2, "0") +
					":" +
					minutes.padStart(2, "0") +
					":" +
					seconds.padStart(2, "0")
				);
			}
			return oldDate;
		},
	},
};
</script>
