<template>
  <div style="float: left">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          :disabled="isListEmpty"
          class="mr-3"
          rounded
          small
          color="#37A7DF"
          dark
          v-on="on"
        >
          Action
          <v-spacer />
          <img src="assets/home/download.png" class="ml-1" width="15px" />
        </v-btn>
      </template>
      <v-list v-if="tabMenu == 'USER_MANAGEMENT'" class="rounded-big">
        <v-list-item
          :disabled="vUpUserProfileSelected.length != 1"
          small
          class="item-action"
          @click="edituser"
        >
          <v-list-item-title class="list-item-font">Edit</v-list-item-title>
        </v-list-item>
        <v-list-item small class="item-action" @click="deleteuser">
          <v-list-item-title class="list-item-font">Delete</v-list-item-title>
        </v-list-item>
        <v-list-item
          v-if="usertype === 'IN'"
          small
          class="item-action"
          @click="killsession"
        >
          <v-list-item-title class="list-item-font"
            >Session Kill</v-list-item-title
          >
        </v-list-item>
      </v-list>
      <v-list v-if="tabMenu == 'WINDOW_MANAGEMENT'" class="rounded-big">
        <v-list-item
          :disabled="vUpWindowSelected.length != 1"
          v-if="usertype === 'IN'"
          small
          class="item-action"
          @click="editWindow"
        >
          <v-list-item-title class="list-item-font">Edit</v-list-item-title>
        </v-list-item>
        <v-list-item
          v-if="usertype === 'IN'"
          small
          class="item-action"
          @click="deleteWindow"
        >
          <v-list-item-title class="list-item-font">Delete</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-row justify="center">
      <administration-form
        v-model="dialogUpdate"
        titleModal="Edit User"
        :vUserProfileSelected="userProfileSelected"
        :customerOpt="customerOpt"
        :menuOpt="menuOpt"
        :usertype="usertype"
        :dialogCreate.sync="dialogUpdate"
        :tabMenu="tabMenu"
        @refresh="refresh"
        typeForm="edit"
      />
    </v-row>
    <v-row justify="center">
      <administration-form
        v-model="dialogUpdateWindow"
        titleModal="Update Window"
        :vWindowSelected="windowSelected"
        :usertype="usertype"
        :dialogCreate.sync="dialogUpdateWindow"
        :parentLinkList="parentLinkList"
        :tabMenu="tabMenu"
        @refresh="refresh"
        typeForm="edit"
      />
    </v-row>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
import Cookie from "js-cookie";
//import debounce from "../index";
export default {
  props: [
    "usertype",
    "customerOpt",
    "menuOpt",
    "vUpUserProfileSelected",
    "vUpWindowSelected",
    "parentLinkList",
    "menu",
    "tabMenu",
  ],
  data() {
    return {
      userProfileSelected: [],
      windowSelected: [],
      show: false,
      bLinkDisabled: false,
      show1: false,
      valid: true,
      rules: {
        required: (value) => !!value || "Required.",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
      groupUserDropdown: ["Admin", "Member"],
      optStatus: ["Y", "N"],
      dialogUpdate: false,
      dialogUpdateWindow: false,
      groupUser: this.usertype == "IN" ? "Admin" : "Member",
    };
  },
  mounted(){
    console.log("jalan")
  },
  computed: {
    isListEmpty() {
      let disabled = true;
      if (this.vUpUserProfileSelected) {
        if (this.vUpUserProfileSelected.length > 0) disabled = false;
      } else if (this.vUpWindowSelected) {
        if (this.vUpWindowSelected.length > 0) disabled = false;
      } else {
        disabled = true;
      }
      return disabled;
    },
  },
  watch: {
    "windowSelected.parent_id": function (val, oldval) {
      if (val == "#") {
        this.bLinkDisabled = true;
        this.windowSelected.link = null;
      } else {
        this.bLinkDisabled = false;
      }
    },
  },
  methods: {
    removeMenu(item) {
      console.log("manageid", this.userProfileSelected.menu);
      var index = 0;
      for (var i = 0; i < this.userProfileSelected.menu.length; i++) {
        if (this.userProfileSelected.menu[i].menu_id == item.menu_id) index = i;
        console.log("index", index);
      }

      if (index >= 0) this.userProfileSelected.menu.splice(index, 1);
    },

    refresh() {
      this.$emit("refresh");
    },

    deleteuser() {
      this.errors = {};
      let data = {
        manageuser_id: [],
        username: []
      };
      for (let i = 0; i < this.vUpUserProfileSelected.length; i++) {
        data.manageuser_id.push(this.vUpUserProfileSelected[i].manageuser_id);
        data.username.push(this.vUpUserProfileSelected[i].username);
      }
      
      var bConfirm = confirm(
        "Are you sure to delete user " + data.username.toString() + " ?"
      );

      if (bConfirm) {
        axios
          .delete("administration/deleteuser/", { data })
          .then((response) => {
            alert(response.data.type + " - " + response.data.message);
            var type = response.data.type;
            if (type == "SUCCESS") {
              this.$emit("refresh");
              this.deleteSyncContact(response,data);
              data.username.forEach(username => {
                this.syncContactExternal(username,"GET");
              });
              // location.reload();
            }
          })
          .catch((error) => {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
      }
    },

    killsession() {
      console.log("manageid", this.vUpUserProfileSelected);
      this.errors = {};
      let data = {
        manageuser_id: [],
        username: []
      };

      for (let i = 0; i < this.vUpUserProfileSelected.length; i++) {
        data.manageuser_id.push(this.vUpUserProfileSelected[i].manageuser_id);
        data.username.push(this.vUpUserProfileSelected[i].username);
      }

      var bConfirm = confirm(
        "Are you sure to kill session user " + data.username.toString() + " ?"
      );

      if (bConfirm) {
        axios
          .delete("administration/killsession/", { data })
          .then((response) => {
            alert(response.data.type + " - " + response.data.message);
            var type = response.data.type;
            if (type == "SUCCESS") {
              // location.reload();
              this.$emit("refresh");
            }
          })
          .catch((error) => {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
      }
    },

    edituser() {
      if (typeof this.vUpUserProfileSelected[0] == "undefined") {
        this.passData(this.vUpUserProfileSelected);
        for (var i = 0; i < this.menu.length; i++) {
          this.userProfileSelected.menu.push(this.menu[i]);
        }
      } else {
        if (this.vUpUserProfileSelected) {
          this.passData(this.vUpUserProfileSelected[0]);
        }
        for (var i = 0; i < this.menu.length; i++) {
          this.userProfileSelected.menu.push(this.menu[i]);
        }
      }

      this.dialogUpdate = true;
    },

    passData(param) {
      this.userProfileSelected.fullname = param.fullname;
      this.userProfileSelected.phone = param.phone;
      this.userProfileSelected.emails = param.emails;
      this.userProfileSelected.position = param.position;
      this.userProfileSelected.username = param.username;
      this.userProfileSelected.password = null;
      this.userProfileSelected.oldpassword = param.password;
      this.userProfileSelected.status = param.status;
      this.userProfileSelected.manageuser_id = param.manageuser_id;
      this.userProfileSelected.client_id = param.client_id;
      this.userProfileSelected.memberis = param.memberis;
      this.userProfileSelected.menu = [];
    },

    editWindow() {
      if (this.vUpWindowSelected) {
        console.log("this.windowSelected : ",this.vUpWindowSelected)
        this.windowSelected.menu_id = this.vUpWindowSelected[0].menu_id;
        this.windowSelected.menu = this.vUpWindowSelected[0].menu;
        this.windowSelected.link = this.vUpWindowSelected[0].link;
        this.windowSelected.parent_id = this.vUpWindowSelected[0].parent_id;
        this.windowSelected.status = this.vUpWindowSelected[0].status;
      }

      if (this.windowSelected.parent_id == "#") {
        this.bLinkDisabled = true;
      } else {
        this.bLinkDisabled = false;
      }
      this.dialogUpdateWindow = true;
    },

    deleteWindow() {

      let data = {
        menu_id: [],
        menu: [],
      };

      for (let i = 0; i < this.vUpWindowSelected.length; i++) {
        data.menu_id.push(this.vUpWindowSelected[i].menu_id);
        data.menu.push(this.vUpWindowSelected[i].menu);
      }
      
      var bConfirm = confirm(
        "Are you sure to delete window " + data.menu.toString() + " ?"
      );

      if (bConfirm) {
        this.deletePermission(data);
        this.deleteMenu(data);
      }
    },

    deleteMenu(data) {
      this.errors = {};

      axios
        .delete("administration/deletewindow/", { data })
        .then((response) => {
          alert(response.data.type + " - " + response.data.message);
          var type = response.data.type;
          if (type == "SUCCESS") {
            // location.reload();
            this.$emit("refresh");
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    deletePermission(data) {
      this.errors = {};

      axios
        .delete("administration/deletepermission/", { data })
        .then((response) => {})
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
    },

    updateWindow() {
      console.log("Update Window Click pre", this.windowSelected);

      this.$refs.formupdate.validate();
      this.errors = {};
      let data = {
        menu_id: this.windowSelected.menu_id,
        menu: this.windowSelected.menu,
        link: this.windowSelected.link,
        parent_id: this.windowSelected.parent_id,
        status: this.windowSelected.status,
      };
      this.valid = false;
      axios
        .post("administration/updatewindow", data)
        .then((response) => {
          alert(response.data.type + " - " + response.data.message);
          this.valid = true;
          var type = response.data.type;
          if (type == "SUCCESS") {
            this.dialogUpdate = false;
            this.$emit("refresh");
            // location.reload();
          }
        })
        .catch((error) => {
          this.valid = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
    },
    setDataMenu() {
      let menu = [];
      if (this.userProfileSelected.menu != "undefined") {
        if (typeof this.userProfileSelected.menu == "object") {
          for (var i = 0; i < this.userProfileSelected.menu.length; i++) {
            menu.push(this.userProfileSelected.menu[i].menu_id);
          }
        } else menu = this.userProfileSelected.menu;
      }
      return menu;
    },
    deleteSyncContact(response,data){
      console.log("deleteSyncContact response : ",response,"data : ",data);
    },
    syncContactExternal(filter,method){
      console.log("data untuk sync contact : ",filter,"method : ",method);
      var url;
      var me = this;
       if(method === "GET"){
        url="https://api.pancaran-group.co.id/mobonotif/api/contacts?search="+filter;
      } else {
        url="https://api.pancaran-group.co.id/mobonotif/api/contacts/"+filter;
      }
      CnApi.call({
          method: method,
          url: url,
          postData: {},
          ignoreLoading:true,
          // ignoreConsoleLog:true,
          headers:{
            'Authorization': 'Bearer '+Cookie.get("token"),
            'Content-Type' : 'application/json',
            'Accept'     : 'application/json',
            'X-Client-ID': Cookie.get("clientId"),
            'X-User-ID' : Cookie.get("username")
          },
          onResult: function(item) {
            console.log("data di add",item);
            if(method === "GET" && item.resultCode === 1){
              me.syncContactExternal(item.data.items[0].id,"DELETE")
            }
          },
            onError(error){
            alert(error);
          }
      });
    }
  },
};
</script>
