<template>
  <div
    height="100%"
    class="container mx-0 pa-0"
    style="background-color: rgba(11, 17, 21, 0); overflow-y:hidden"
  >
    <div class="container">
      <v-form class="px-3" v-model="valid" ref="formprofile">
        <v-row>
          <div height="100%" style="width: 40%; height:59.5vh">
            <v-text-field
              class="compact-v-text-field"
              v-model="userProfile.username"
              label="Username"
              :rules="[rules.required, rules.max50]"
              disabled
              outlined
              dense
              dark
            ></v-text-field>
            <v-text-field
              class="compact-v-text-field"
              v-model="userProfile.fullname"
              label="Full Name"
              :rules="[rules.required, rules.max50]"
              outlined
              dense
              dark
            ></v-text-field>
            <v-text-field
              class="compact-v-text-field inputPhone"
              v-model="userProfile.phone"
              type="number"
              label="Phone"
              :rules="[rules.required, rules.number, rules.max12]"
              outlined
              dense
              dark
            ></v-text-field>
            <v-text-field
              class="compact-v-text-field"
              autocomplete="new-password"
              v-model="userProfile.emails"
              label="Email"
              :rules="[rules.required, rules.email, rules.max50]"
              outlined
              dense
              dark
            ></v-text-field>
            <v-text-field
              class="compact-v-text-field"
              v-model="userProfile.c_name"
              label="Company"
              :rules="[rules.required]"
              disabled
              outlined
              dense
              dark
            ></v-text-field>
            <v-text-field
              class="compact-v-text-field"
              v-model="userProfile.position"
              label="Position"
              :rules="[rules.required, rules.max50]"
              outlined
              dense
              dark
            ></v-text-field>
          </div>
          <div height="59.5vh" style="width: 40%; padding-left: 20px;">
            <v-expansion-panels style="align:center">
              <v-expansion-panel
                style="background-color: rgba(11, 17, 21, 0); border-color: white; border-style: solid;"
              >
                <v-expansion-panel-header
                  class="compact-expansion"
                  style="background-color: rgba(11, 17, 21, 0);"
                  disable-icon-rotate
                >
                  <div class="text-white" style="text-align:center">Change Password</div>
                  <template v-slot:actions>
                    <v-icon></v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-text-field
                    class="compact-v-text-field"
                    autocomplete="new-password"
                    style="padding-left: 20px; padding-top: 20px;"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    hint="At least 8 characters"
                    :rules="[rules.minpassword]"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                    v-model="password"
                    label="Old Password"
                    outlined
                    dense
                    dark
                  ></v-text-field>
                  <v-text-field
                    class="compact-v-text-field"
                    autocomplete="new-password"
                    style="padding-left: 20px;"
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    hint="At least 8 characters"
                    :rules="[rules.minpassword]"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                    v-model="newpassword"
                    label="New Password"
                    outlined
                    dense
                    dark
                  ></v-text-field>
                  <v-text-field
                    class="compact-v-text-field"
                    autocomplete="new-password"
                    style="padding-left: 20px;"
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    hint="At least 8 characters"
                    :rules="[rules.minpassword]"
                    :type="show3 ? 'text' : 'password'"
                    @click:append="show3 = !show3"
                    v-model="confirmpassword"
                    label="Confirm Password"
                    outlined
                    dense
                    dark
                  ></v-text-field>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <v-btn
              :disabled="!valid"
              class="text-uppercase font-weight-bold mt-5"
              rounded
              style="background-color: #3490dc; color:white;"
              @click="updateprofile"
            >SAVE</v-btn>
          </div>
        </v-row>
      </v-form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      confirmpassword: "",
      show1: false,
      show2: false,
      show3: false,
      password: "",
      newpassword: "",
      vUpCompany: "",
      oldUserProfile: [],
      userProfile: [],
      valid: true,
      rules: {
        required: (value) => !!value || "Required.",
        //minpassword: v => v.length >= 8 || 'Min 8 characters',
        max50: (v) => !v || v.length <= 50 || "Max 50 characters",
        max12: (v) => !v || v.length <= 12 || "Max 12 characters",
        minpassword: (v) =>
          !v || v.length >= 8 || "Minimum length is 8 characters",
        number: (value) => {
          const pattern = /[0-9]/;
          return pattern.test(value) || "Only Numeric.";
        },
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
      },
    };
  },
  mounted() {
    this.getProfile();
  },
  methods: {
    getProfile() {
      axios
        .get("/getprofile")
        .then((response) => {
          var count = response.data.length;
          if (count > 0) {
            console.log("GET PROFILE : ", response.data);
            this.userProfile = response.data[0];
            this.oldUserProfile = response.data[0];
          }
        })
        .catch((error) => console.log(error));
    },
    updateprofile() {
      this.$refs.formprofile.validate();
      console.log("Update profile Click");
      this.errors = {};
      let data = {
        manageuser_id: this.userProfile.manageuser_id,
        oldpassword: this.userProfile.password,
        fullname: this.userProfile.fullname,
        phone: this.userProfile.phone,
        email: this.userProfile.emails,
        position: this.userProfile.position,
        password: this.password,
        newpassword: this.newpassword,
        confirmpassword: this.confirmpassword,
      };
      axios
        .post("administration/updateprofile", data)
        .then((response) => {
          alert(response.data.type + " - " + response.data.message);
          var type = response.data.type;
          if (type == "SUCCESS") {
            this.getProfile();
          }
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
    },
  },
};
</script>