<template>
	<div class="container mobospace_header-menu-with-tab">
		<div class="loading"></div>
		<v-row>
			<v-col lg="5" class="text-left py-0 mx-6"></v-col>
			<v-col md="auto" class="mobospace_moboaction">
				<administration-action
					:usertype="usertype"
					:menuOpt="menuOpt"
					:vUpWindowSelected="windowSelected"
					:parentLinkList="getNewParentLinkList()"
					tabMenu="WINDOW_MANAGEMENT"
					@refresh="refreshData"
				/>
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							class="pa-1 mr-3"
							height="26px"
							width="26px"
							fab
							x-small
							dark
							v-on="on"
							color="#37A7DF"
							@click="opencreateuser"
						>
							<v-icon>mdi-plus</v-icon>
						</v-btn>
					</template>
					<span>Create Window</span>
				</v-tooltip>
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							class="pa-1 mr-3"
							height="26px"
							width="26px"
							fab
							x-small
							dark
							v-on="on"
							color="#37A7DF"
							@click="refreshData()"
						>
							<v-icon color="white" style="font-size:20px">mdi-refresh</v-icon>
						</v-btn>
					</template>
					<span>Refresh</span>
				</v-tooltip>
			</v-col>
			<v-col class="col-3-per-2 text-right px-0 pa-0">
				<!-- <search-field dark />  -->
				<v-text-field
					v-model="search"
					append-icon="mdi-magnify"
					:label="lblSearch"
					single-line
					hide-details
					dark
					class="py-0 px-0"
				></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col>
				<v-data-table
					id="MobospaceTableWithTab"
					:loading="loading"
					loading-text="Loading... Please wait"
					fixed-header
					dark
					style="
            line-height: 12px;
            color: white;
            background-color: rgba(11, 17, 21, 0);
            font-family: 'Ubuntu', sans-serif;
            padding: unset;
          "
					height="59.5vh"
					:search="search"
					v-model="selected"
					:headers="headers"
					:items="windowList"
					disable-pagination
					single-select
					hide-default-footer
					item-key="menu"
					show-select
					:class="'elevation-0 mr-0'"
				>
					<template v-slot:item.menu="{ item }">
						<div class="small text-center">{{ item.menu }}</div>
					</template>
					<template v-slot:item.link="{ item }">
						<div class="small text-center">{{ windowLinkFormat(item.link) }}</div>
					</template>
					<template v-slot:item.parent_menu="{ item }">
						<div class="small text-center">{{ item.parent_menu }}</div>
					</template>
					<template v-slot:item.status="{ item }">
						<v-container class="pa-0">
							<div v-if="item.status">
								<v-icon>mdi-checkbox-marked-circle-outline</v-icon>
							</div>
							<div v-else>
								<v-icon>mdi-close-circle-outline</v-icon>
							</div>
						</v-container>
					</template>
					<template v-slot:item.created="{ item }">
						<div class="small text-center">{{ formatDate(item.created) }}</div>
					</template>
					<template v-slot:item.createdby="{ item }">
						<div class="small text-center">{{ item.createdby }}</div>
					</template>
					<template v-slot:item.actions="{ item }">
						<v-tooltip top>
							<template v-slot:activator="{ on }">
								<v-btn icon v-on="on">
									<v-icon small class @click="viewwindow(item)">mdi-eye</v-icon>
								</v-btn>
							</template>
							<span>Detail</span>
						</v-tooltip>
					</template>
				</v-data-table>
			</v-col>
		</v-row>
		<administration-form
			v-model="dialogCreate"
			titleModal="Create Window"
			:menuOpt="menuOpt"
			:usertype="usertype"
			:dialogCreate.sync="dialogCreate"
			:parentLinkList="parentLinkList"
			tabMenu="WINDOW_MANAGEMENT"
			@refresh="refreshData"
			typeForm="create"
		/>
		<administration-form
			v-model="dialogView"
			titleModal="View Detail"
			:usertype="usertype"
			:dialogCreate.sync="dialogView"
			:vWindowSelected="windowSelected"
			:parentLinkList="parentLinkList"
			tabMenu="WINDOW_MANAGEMENT"
			typeForm="view"
		/>
	</div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
import CnApi from "../../cn-api";
//import debounce from "../index";
export default {
	props: ["usertype", "lblSearch"],
	data() {
		return {
			search: "",
			selected: [],
			menuOpt: [],
			dialogCreate: false,
			windowSelected: [],
			windowList: [],
			dialogView: false,
			parentLinkList: [],
			loading: false,
			headers: [
				{
					text: "Name Menu",
					sortable: true,
					width: "25%",
					align: "center",
					value: "menu",
				},
				{
					text: "Link Menu",
					sortable: true,
					width: "25%",
					align: "center",
					value: "link",
				},
				{
					text: "Parent",
					sortable: true,
					width: "25%",
					align: "center",
					value: "parent_menu",
				},
				{
					text: "Active",
					sortable: true,
					width: "25%",
					align: "center",
					value: "status",
				},
				{
					text: "Created By",
					sortable: false,
					width: "5%",
					align: "center",
					value: "createdby",
				},
				{
					text: "Created",
					sortable: true,
					width: "1%",
					align: "center",
					value: "created",
				},
				{ text: "", sortable: false, value: "actions", width: "5%" },
			],
		};
	},
	mounted() {
		this.getWindows();
		this.getParents();
		this.getParams();
	},
	watch: {
		selected() {
			let user = this.selected;
			this.menu = [];

			if (user.length == 0) this.windowSelected = [];
			else {
				this.windowSelected = user;
				console.log("this.windowSelected : ", this.windowSelected);
			}
		},
	},
	methods: {
		viewwindow(item) {
			this.dialogView = true;
			this.windowSelected = item;
			//console.log("this.windowSelected : ",this.windowSelected)
		},
		// filter parent dropdown when edit, so parent window cant choose itself in parent text-field
		getNewParentLinkList() {
			let newParentLinkList = this.parentLinkList.slice(0);
			if (typeof this.windowSelected != "undefined") {
				if (
					typeof this.windowSelected[0] != "undefined" &&
					this.windowSelected[0].parent_menu == "Parent"
				) {
					let parentLink = this.parentLinkList.find(
						(a) => a.menu_id == this.windowSelected[0].menu_id
					);
					let indexRemove = this.parentLinkList.indexOf(parentLink);
					if (indexRemove != -1) {
						newParentLinkList.splice(indexRemove, 1);
					}
				}
			}
			return newParentLinkList;
		},
		getParams() {
			axios
				.get("/getparams")
				.then((response) => {
					this.menuOpt = response.data.menu;
				})
				.catch((error) => console.log(error));
		},
		refreshData() {
			this.selected = [];
			(this.windowSelected = []), this.getWindows();
			this.getParents();
			this.getParams();
		},
		getParents() {
			axios
				.get("/getparents")
				.then((response) => {
					this.parentLinkList = [];
					this.parentLinkList = response.data;
					let data = [];
					data.menu = "Parent";
					data.menu_id = "#";

					this.parentLinkList.unshift(data);
				})
				.catch((error) => console.log(error));
		},

		getWindows() {
			this.loading = true;
			$(".loading").show();
			this.windowList = [];
			axios
				.get("/getwindows")
				.then((response) => {
					console.log("window list", response.data), (this.windowList = response.data);
					this.loading = false;
					$(".loading").hide();
				})
				.catch((error) => console.log(error));
		},

		opencreateuser() {
			console.log("Opencreate Click");

			this.userProfileSelected = {};
			this.dialogCreate = true;
		},

		formatDate(oldDate) {
			if (oldDate) {
				let date = new Date(oldDate);
				let hours = date.getHours().toString();
				let minutes = date.getMinutes().toString();
				let seconds = date.getSeconds().toString();
				let day = date.getDate().toString();
				let month = (date.getMonth() + 1).toString();
				return (
					day.padStart(2, "0") +
					"/" +
					month.padStart(2, "0") +
					"/" +
					date.getFullYear() +
					" " +
					hours.padStart(2, "0") +
					":" +
					minutes.padStart(2, "0") +
					":" +
					seconds.padStart(2, "0")
				);
			}
			return oldDate;
		},

		windowLinkFormat(link) {
			if (link) {
				return link;
			} else {
				return "#";
			}
		},
	},
};
</script>
